.home-nav
  .home-nav-container
    .home-nav-wrapper
      .left-nav-container.col-sm-6
        .showt-local-icon-container
          img.showt-local-icon(src='/static/img/showt-local-favicon.png')
      .last-nav-container.col-sm-6
        ul.right-home-nav-link-container
          li
            a.ready-to-grow-link.first-nav-link Ready to grow?
          li
            a.sign-up-link.first-nav-link Sign Up
          li
            a.log-in-link Log In
