.navbar
  .collapse.navbar-collapse#top-bar
    .navbar-header
      a.navbar-brand(href='/dashboard')
        img(src='/static/img/passenger-logo.png')
      h3.dashboard-brand-text Passenger
    ul.nav.navbar-nav
      li.active
        a Home
      li
        a Rewards
      li
        a Pay
      li
        a Support
    .navbar-logged-in-user
      .logged-in-user-container
        
