.navbar
  .collapse.navbar-collapse#top-bar
    .navbar-header
      a.navbar-brand(href='/dashboard')
        img(src='/static/img/passenger-logo.png')
    ul.nav.navbar-nav
      li.active
        a Home
      li
        a Rewards
      li
        a Pay
      li
        a Support
