section#footer-section
  .footer-container
    .footer-wrapper
      .footer-links-container
        .footer-link-wrapper
          .footer-link-section-container.col-sm-3
            p.top-link Headquarters
            img.showt-local-location(src='/static/img/fresno.png')
            p.bottom-link.fresno-link Fresno, Ca
          .footer-link-section-container.col-sm-3
            p.top-link Showt Local
            p.bottom-link About
            p.bottom-link Careers
            p.bottom-link Help
          .footer-link-section-container.col-sm-3
            p.top-link Grow your business
            p.bottom-link Benefits
            p.bottom-link Why use Showt Local
            p.bottom-link Get started
      .footer-copyright-container
        .footer-copyright-wrapper
          .footer-left-container.col-sm-6
            .footer-left-wrapper
              img(src='/static/img/showt-local-logo-grey.png')
              p © Showt local, Inc.
          .footer-right-container.col-sm-6
            .footer-right-wrapper
              img.left-social-link(src='/static/img/facebook-grey.png')
              img.left-social-link(src='/static/img/twitter-grey.png')
              img(src='/static/img/instagram-grey.png')
