section#forgot-password-business-section
  .forgot-password-business-container
    .sign-up-business-wrapper
      img.exit-forgot-password-business-container(src='/static/img/exit.png')
      h3.sign-up-business-text Enter your email to reset your password
      .below-title-text-container
        p.below-title-text Don't have a business account?
        p.below-title-text.download-the-app-button.sign-up-today-button-forgot-password Sign up today!
      .business-sign-up-container
        .input
          .input-container
            p.input-label Enter your email
            input#home-email-input(type='text', data-bind="textInput: forgotPasswordBusinessEmail, event: { keyup: forgotPasswordEmailInputTyping }")
            p.form-error-message(data-bind="visible: forgotPasswordBusinessEmailNotValidated") Please enter a valid email
        .log-in-button Send Email
