head
	title Passenger Mobile Application
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='shortcut icon', href='/static/img/passenger-logo.png')
	link(rel='stylesheet', href='/static/css/bootstrap.css', type='text/css')
	// Custom Fonts
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css', type='text/css')
	// Plugin CSS
	link(rel='stylesheet', href='/static/css/animate.min.css', type='text/css')
	// Custom CSS
	link(rel='stylesheet', href='/static/css/passenger-site.css', type='text/css')
	link(rel='stylesheet', href='/static/css/our-mission.css', type='text/css')
	link(rel='stylesheet', href='/static/css/locations.css', type='text/css')
	link(rel='stylesheet', href='/static/css/contact.css', type='text/css')
	link(rel='stylesheet', href='/static/css/home.css', type='text/css')
	link(rel='stylesheet', href='/static/css/help.css', type='text/css')
	link(rel='stylesheet', href='/static/css/footer.css', type='text/css')
	link(rel='stylesheet', href='/static/css/what-is-it.css', type='text/css')
	link(rel='stylesheet', href='/static/css/how-it-works.css', type='text/css')
	link(rel='stylesheet', href='/static/css/pre-screen.css', type='text/css')
	link(rel='stylesheet', href='/static/css/nav.css', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='/static/css/404.css', type='text/css')
	script.
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '277352125971715');
		fbq('track', "PageView");
	noscript
		img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=277352125971715&ev=PageView&noscript=1')
	// End Facebook Pixel Code
