head
	title Showt Local
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='shortcut icon', href='/static/img/showt-local-favicon.png')
	link(rel='stylesheet', href='/static/css/bootstrap.css', type='text/css')
	// Custom Fonts
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css', type='text/css')
	// Plugin CSS
	link(rel='stylesheet', href='/static/css/animate.min.css', type='text/css')
	// Custom CSS
	link(rel='stylesheet', href='/static/css/footer.css', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='/static/css/404.css', type='text/css')
	link(rel='stylesheet', href='/static/css/home.css', type='text/css')
	link(rel='stylesheet', href='/static/css/site.css', type='text/css')
	link(rel='stylesheet', href='/static/css/form.css', type='text/css')
	link(rel='stylesheet', href='/static/css/benefits.css', type='text/css')
	link(rel='stylesheet', href='/static/css/getStarted.css', type='text/css')
	link(rel='stylesheet', href='/static/css/about.css', type='text/css')
	link(rel='stylesheet', href='/static/css/footer.css', type='text/css')
	
