section#log-in-business-section
  .log-in-business-container
    .sign-up-business-wrapper
      img.exit-log-in-business-container(src='/static/img/exit.png')
      h3.sign-up-business-text Sign in to grow your business
      .below-title-text-container
        p.below-title-text Don't have a business account?
        p.below-title-text.download-the-app-button.sign-up-today-button Sign up today!
      .business-sign-up-container
        .input
          .input-container
            p.input-label Enter your email
            input#home-email-input(type='text', data-bind="textInput: businessEmail, event: { keyup: emailInputTyping }")
            p.form-error-message(data-bind="visible: businessEmailNotValidated") Please enter a valid email
        .input
          .input-container
            p.input-label Enter your password
            input#home-email-input(type='password')
        .log-in-button Log In
        .below-title-text-container
          p.below-title-text Forgot your password?
          p.below-title-text.download-the-app-button.forgot-password-button Reset it!
