nav#mainNav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		// The navbar brand and the toggle button using bootstrap
		img.exit-mobile-nav.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', src='/static/img/exit-blue.png')
		.navbar-header
			button.navbar-toggle.navbar-toggle-1.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation

				span.icon-bar

				span.icon-bar

				span.icon-bar

			a.navbar-brand.page-scroll(href='/')
				img.passenger-logo(src='/static/img/passenger-logo.png')
		// Nav links using scroll spy to slide up and down the page to the necessary content.
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a.page-scroll.home-link(href='/#what-is-it') What is it?
				li
					a.page-scroll(href='/#how-it-works') How it works
				li
					a.page-scroll(href='/#our-mission') Our mission
				li
					a.page-scroll(href='/#locations') Locations
				li
					a.page-scroll(href='/#contact') Contact
				li
					a.page-scroll(href='/#help') Help
