nav#mainNav.navbar.navbar-fixed-top.affix-top
	.container-fluid
		// The navbar brand and the toggle button using bootstrap
		.navbar-header
			button.navbar-toggle.navbar-toggle-1.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation

				span.icon-bar

				span.icon-bar

				span.icon-bar

		// Nav links using scroll spy to slide up and down the page to the necessary content.
		#support-nav
			ul.nav.navbar-nav.navbar-right
				li.help-center-top-nav
					p.support-nav-top(href='/support') Help Center
					img.exit-mobile-nav-support(type='button', src='/static/img/exit-support-nav.png')
				li.bottom-li
					img.slide-out-nav-icon(type='button', src='/static/img/passenger-logo.png')
					p.support-link(href='/support/using-passenger') Using Passenger
				li.bottom-li
					img.slide-out-nav-icon(type='button', src='/static/img/account-icon.png')
					p.support-link(href='/support/account-help') Account
				li.bottom-li
					img.slide-out-nav-icon(type='button', src='/static/img/contact-support-icon.png')
					p.support-link(href='/support/contact-support') Contact Support
