doctype html
html(lang="en")
	include ../partials/_head.pug
	body#page-top
		// include ./partials/_nav.pug
		block content

		script(src='https://www.gstatic.com/firebasejs/3.5.3/firebase.js')
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-messaging.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-storage.js")
		script(src="https://cdn.firebase.com/js/client/2.4.0/firebase.js")
		script(src='/static/js/jquery.js')
		script(src='/static/js/knockout.js')
		script(src='/static/js/moment.js')
		// Bootstrap Core JavaScript
		script(src='/static/js/bootstrap.min.js')
		// Plugins JavaScript
		script(src='/static/js/jquery.easing.min.js')
		script(src='/static/js/jquery.fittext.js')
		script(src='/static/js/wow.min.js')
		// Custom Theme JavaScript
		script(src='/static/js/magicForm.js')
		script(src='/static/js/site.js')
		
		block customJS
