#bg {
  width: 100vw;
  height: 100vh;
  background:linear-gradient(rgba(0, 0 ,0 , .6), rgba(0, 0 ,0 , .6)), url(../img/homepage-background.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#bg .navigation {
	width: 100%;
	text-align: center;
  position: relative;
  top: 48px;
}

#bg li.link {
	display: inline-block;
	list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
}

li.link a {
	color: white;
}

#bg .message {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
}

#bg .message .logo {
	width: 50px;
	margin-bottom: 20px;
}

#bg .message .header {
	font-size: 64px;
}

#bg .message .body {
	font-size: 16px;
}

#bg .app-store-buttons {
	margin-top: 50px;
}

#bg .message .app-store-buttons .coming-soon {
	font-size: 16px;
	margin-bottom: 20px;
}

#bg .message .app-store-buttons .app-store-button {
  width: 100px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 24px;
}

#bg .message .app-store-buttons .app-store-button:hover {
  cursor: pointer;
}

#bg .social-icons-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	margin-top: 50px;
  overflow: auto;
}

#bg .social-icons-container .social-icon-container {
  width: 20%;
  float: left;
}

.social-icon-container img {
  width: 40px;
}

/*#bg .copy-right {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}*/

#bg .copy-right .copy-right-footer {
	font-size: 16px;
	color: white;
}
