#admin {
  width: 100vw;
  height: 100%;
  background: #e3e3e3;
  padding-top: 60px !important;
}

h3 {
  font-family: inherit;
}

#hunt-calendar-section .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hunt-information-container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.fc-button-group, .fc button {
  display: block;
}

.hunt-info-container {
  width: 95%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  padding: 12px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

.hunt-info-container:hover {
  cursor: pointer;
  background: #00986A;
  color: #FFF;
}

.hunt-info-container p {
  text-align: center;
  font-size: 56px;
  margin-left: auto;
  margin-right: auto;
}

.hunt-info-container h3 {
  font-family: inherit;
  text-align: center;

}

.first-header {
  margin-top: 18px !important;
}

.fc-mon, .fc-tue, .fc-wed, .fc-thu {
}

.fc-day-number {
  padding-bottom: 40px !important;
}

.fc-day-number:hover {
  cursor: pointer;
  background: #e3e3e3 !important;
}

.fc-content-skeleton table {
  margin-bottom: -14px;
}

.fc-center {
  color: #FFF;
}

.fc-today {
  background: #00986A !important;
  color: #fff !important;
}

#hunt-calendar-section,
#hunt-price-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#hunt-calendar-section .hunt-dates-container,
#hunt-price-section .hunt-prices-container {
  background: #FFF;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#calendar {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.close-calendar-popup {
  background: #00986A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #FFF;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

.hunt-prices-container {
  overflow: auto;
  padding-bottom: 16px;
}

.hunt-price-div {
  margin-top: 16px;
}

.edit-hunt-button {
  background: #00986A;
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin-top: 24px;
  margin-bottom: 16px;
}

.hunt-image-prices {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.hunt-clicked-edit-container {
  display: none;
  background: #FFF;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.hunt-clicked-edit-container h3 {
  font-family: inherit;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 24px;
  text-align: left;
}

.hunt-clicked-edit-container .fa-times {
  float: right;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 20px;
}

.hunt-clicked-edit-container .fa-times:hover {
  cursor: pointer;
}

.animal-edit-container {
  overflow: auto;
}

.edit-animal-container {
  overflow: auto;
}

.hunt-animal-type-title {
  color:  #00986A;
}

.animal-name-edit {
  text-align: left;
  font-size: 20px;
}
