#admin {
  width: 100vw;
  height: auto;
  overflow: auto;
  background: #e3e3e3;
  padding-top: 60px !important;
}

h3 {
  font-family: inherit;
}

.calendar-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hunt-information-container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.fc-button-group, .fc button {
  display: block;
}

.hunt-info-container {
  width: 95%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  padding: 12px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

.hunt-info-container:hover {
  cursor: pointer;
  background: #00986A;
  color: #FFF;
}

.hunt-info-container p {
  text-align: center;
  font-size: 56px;
  margin-left: auto;
  margin-right: auto;
}

.hunt-info-container h3 {
  font-family: inherit;
  text-align: center;

}

.hunt-dates-container-second-row {
  margin-top: 48px;
}

.first-header {
  margin-top: 18px !important;
}

.fc-mon, .fc-tue, .fc-wed, .fc-thu {
}

.fc-day-number {
  padding-bottom: 40px !important;
}

.fc-day-number:hover {
  cursor: pointer;
  background: #e3e3e3 !important;
}

.fc-content-skeleton table {
  margin-bottom: -14px;
}

.fc-center {
  color: #FFF;
}

.fc-today {
  background: #00986A !important;
  color: #fff !important;
}

#hunt-calendar-section,
#hunt-price-section,
#current-hunts-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#register-hunter-section,
#register-hunts-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#hunt-calendar-section .hunt-dates-container,
#hunt-price-section .hunt-prices-container {
  background: #FFF;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#calendar {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.close-calendar-popup {
  background: #00986A;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 24px;
  color: #FFF;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

.hunt-prices-container {
  overflow: auto;
  padding-bottom: 16px;
}

.hunt-price-div {
  margin-top: 16px;
}

.edit-hunt-button {
  background: #00986A;
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin-top: 24px;
  margin-bottom: 16px;
}

.hunt-image-prices {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.hunt-clicked-edit-container {
  display: none;
  background: #FFF;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.hunt-clicked-edit-container h3 {
  font-family: inherit;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 24px;
  text-align: left;
}

.hunt-clicked-edit-container .fa-times {
  float: right;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 20px;
}

.hunt-clicked-edit-container .fa-times:hover {
  cursor: pointer;
}

.animal-edit-container {
  overflow: auto;
}

.edit-animal-container {
  overflow: auto;
}

.hunt-animal-type-title {
  color:  #00986A;
}

.animal-name-edit {
  text-align: left;
  font-size: 20px;
}

.create-hunt-first,
.create-hunt-second,
.create-hunt-final {
  display: none;
}

.create-hunt-first {
  background: #FFF;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  overflow-y: auto;
  border-radius: 3px;
}

.exit-hunt-calendar-first,
.exit-hunt-calendar-second,
.exit-hunt-calendar-final {
  position: relative;
  top: 8px;
  right: 8px;
  float: right;
}

.date-to-order-hunt {
  text-align: left;
  padding-top: 8px;
  padding-left: 8px;
  margin-top: 0px;
}

.create-hunt-first .types-of-hunts-container {
  padding-left: 24px;
  padding-right: 24px;
}

.create-hunt-first .hunt-price-div:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.create-hunt-second,
.create-hunt-final {
  background: #FFF;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  border-radius: 3px;
}

.create-hunt-second .types-of-hunts-container {
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
}

.create-hunt-second .types-of-hunts-container .animal-container {
    margin-left: 0px !important;
}

.create-hunt-second .types-of-hunts-container .animal-container h3 {
  margin-bottom: 20px !important;
}

.create-hunt-second .types-of-hunts-container .animal-container:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.create-hunt-final form {
  margin-top: 40px !important;
}

.create-hunt-save-button {
  width: 100% !important;
  height: 50px !important;
  border: none !important;
  border-radius: 5px;
  color: #fff;
  margin-top: 50px !important;
  background-color: #00986A;
}

.created-hunts-container,
.created-hunt-animal-selected-container,
.current-available-dates-for-animal,
.edit-current-date-container,
.hunter-registration-finished-container {
  background: #FFF;
  border-radius: 2px;
  width: 95%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.edit-current-date-container {
  max-width: 600px !important;
}

.created-hunts-container h3,
.created-hunt-animal-selected-container h3,
.current-available-dates-for-animal h3 {
  text-align: left;
}

.created-animal-container h3 {
  text-align: center;
  padding-left: 0px !important;
}

.created-animal-container:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.available-hunts-animal-type {
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.created-hunt-animal-selected-container {
  display: none;
}

.available-hunts-animal-type-expanded {
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.available-hunts-animal-type-expanded h3 {
  margin-bottom: 20px !important;
}

.current-available-dates-for-animal {
  display: none;
}

.dates-container {
  overflow: auto;
  padding-bottom: 32px;
  padding-top: 16px;
  border-bottom: 1px solid #e3e3e3;
}

.available-dates-container {
  padding-top: 16px;
  margin-top: 24px;
  border-top: 1px solid #e3e3e3;
}

.right-side-of-container {
  text-align: right;
}

.date-button  {
  width: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
}

.edit-date-button {
  margin-right: 16px;
  background: #4867CC;
}

.delete-date-button {
  background: #CC4C48;
}

.edit-current-date-container {
  display: none;
}

.update-date-information-input {
  width: 100%;
  margin-top: 24px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #e3e3e3;
  font-size: 20px;
}

.save-current-date {
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100px;
  border-radius: 5px;
  background: #49CC6E;
  color: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.save-current-date:hover {
  color: #e3e3e3;
}

.register-hunter-container {
  background: #eff4ff;
  border-radius: 5px;
  padding-bottom: 48px;
}

.exit-register-hunter-container {
  position: relative;
  top: 10px;
  float: right;
  font-size: 18px;
}

.exit-register-hunter-container:hover {
  cursor: pointer;
}

.register-title {
  margin-top: 64px;
}

#register-hunter-section input {
  background: #eff4ff;
}

.hunting-type-inner .about-hunt-title {
  color: #8ad47b;
}

.register-hunter-form .error {
  color: red;
  font-size: 12px;
  margin-top: 12px;
}

.hunter-registration-finished-container {
  display: none;
}

.finish-registration-button {
  margin-bottom: 32px;
  margin-top: 24px;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  background: #8ad47b;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.finish-registration-button:hover {
  color: #fff;
}

#register-hunts-section {
  height: 100vh;
}

.exit-register-hunts-container {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

.exit-register-hunts-container:hover {
  cursor: pointer;
}

.hunts-registered-container {
  margin-top: 64px;
}

.hunt-animal-container {
  background: #FFF;
  border-radius: 3px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin-right: 8px;
  margin-left: 8px;
}

.hunt-animal-container:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.containing-registered-animals {
  display: none;
}

.hunts-registered-animals-container {
  margin-top:  64px;
}

.hunt-registered-container {
  margin-right: 10px;
  margin-left: 10px;
  background: #FFF;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.delete-registered-hunt {
  margin-bottom: 24px;
  width: 150px;
  margin-top: 48px;
  background: #8ad47b;
  color: #fff;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  margin-left: auto;
  margin-right: auto;
}

.delete-registered-hunt:hover {
  cursor: pointer;
  background: #e3e3e3;
  color: #FFF;
}

.hunts-registered-animals-container .col-sm-6 {
  margin-top: 24px;
}

.back-button-animals-container {
  overflow-x: auto;
  width: 100%;
  margin-top: 32px;
}

.registered-animals-back-button {
  margin-bottom: 24px;
  width: 150px;
  margin-top: 78px;
  background: #8ad47b;
  color: #fff;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.registered-animals-back-button:hover {
  cursor: pointer;
  background: #e3e3e3;
  color: #FFF;
}

.registered-animal-type {
  color: #8ad47b;
  font-size: 32px;
}

.registered-animal-name {
  
}
