#support-contact-form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  text-align: center;
}

#support-contact-form label {
  width: 100%;
  text-align: left;
  margin-top: 32px;
  font-weight: normal;
}

#support-contact-form input,
#support-contact-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-appearance: none;
  padding-left: 8px;
  margin-top: 4px;
}

#support-contact-form .error-message {
  text-align: left;
  color: red;
  margin-top: 8px;
  font-size: 12px;
}

#support-contact-form textarea {
  height: 150px;
  padding-left: 8px;
}

.why-are-contact {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #4A90E2;
  text-align: center;
}

.support-checkbox {
  width: 20px !important;
  height: 20px;
  border-radius: 2px !important;
  float: left;
  margin-right: 16px !important;
}

.checkbox-container {
  text-align: left;
  margin-bottom: 16px;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-container p {
  color: #aaa;
}

.checkbox-container input {
  margin-top: 0px !important;
}

input[type=checkbox]:checked {
    background-color: #4A90E2;
    border: 1px solid #4A90E2 !important;
}

.checkbox-container p {
  margin-bottom: 0px !important;
}

.support-contact-submit-button {
  border: 1px solid #4A90E2 !important;
  color: #4A90E2 !important;
  font-weight: normal;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-top: 32px !important;
}

#contact-support-home {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#contact-support-home .support-home-title {
  text-align: center;
  font-family: inherit;
}

.contact-support-home-text {
  text-align: center;
  color: #aaa;
}

.support-contact-submit-button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-family: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
}

.submitting-form-container  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40,40,40,0.9);
  text-align: center;
  z-index: 3000;
  display: none;
}

.inside-submit-confirmed-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.inside-submit-confirmed-container p {
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  margin-top: 24px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.inside-submit-confirmed-container img {
  width: 50px;
}

.inside-submit-confirmed-container .btn {
  background: none !important;
  border: 1px solid #fff;
  color: #FFF;
  font-weight: normal;
  font-size: 12px;
  margin-top: 8px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

@media(min-width: 768px) {

  .contact-support-input-container {
    overflow: auto;
  }

  .contact-support-input-container .__input-item {
    width: 50%;
    float: left;
  }

  .contact-support-input-container .__input-item .input-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .message-input .input-wrapper {
    width: 97.5%;
    margin-left: auto;
    margin-right: auto;
  }
}
