#create-campaign-section {
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  z-index: 11;
  overflow: auto;
}

.create-campaign-home-container {
   overflow: auto;
}

.create-campaign-home-container {
  margin-top: 60px;
}

.create-campaign-progress-container {
  height: calc(100% - 60px);
  background: #fff;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 1;
  border-right: 1px solid #e3e3e3;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.campaign-progress-icon {
  display: inline-block;
}

.campaign-progress-text-container {
  display: inline-block;
}

.campaign-progress-text-container p {
  margin-left: 12px;
  margin-bottom: 0px !important;
}

.campaign-progress-icon img {
  width: 20px;
  margin-left: 12px;
}

.campaign-progress-item {
  height: 75px;
  border-bottom: 1px solid #f0f0f0;
}

.campaign-progress-item:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.progress-item-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.active-progress-item {
  border-left: 4px solid #FF9F00;
  color: #FF9F00;
}

/* Styling the actual forms for the campaign creation on the right hand side */

.create-campaign-home-container {
  overflow: auto;
  background: #fff;
}

.create-campaign-information-container {
  background: #fff;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

.create-step-wrapper {
  padding: 24px;
}

.step-title-container h3 {
  color: #484848;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px !important;
  letter-spacing: -0.6px !important;
}

.step-title-container p {
  margin-bottom: 0px !important;
  color: #aaa;
}

.seperator-div {
  height: 2px;
  width: 100px;
  background: #FF9F00;
  margin-top: 24px;
}

.campaign-image-wrapper {
  width: 100%;
  height: 333px;
  background: #f0f0f0;
  padding: 12px;
}

.plus-container {
  width: 100%;
  height: 100%;
}

.plus-container:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.plus-container:active {
  background: #aaa;
}

.plus-container p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #484848;
}

.sides-container {
  margin-left: -12px;
  margin-right: -12px;
  overflow: auto;
  margin-top: 32px;
}

.sides-container .left-side-creation-container,
.sides-container .right-side-creation-container {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.section-header {
  font-size: 12px;
  margin-top: 24px;
  font-weight: 300;
  color: #aaa;
}

.right-wrapper {
  padding-right: 18px;
}

input,
textarea,
.content-editable {
  width: 100%;
  padding: 12px 8px;
  background: none !important;
  outline: none !important;
  color: #484848;
  border-radius: 1px;
  border: 1px solid #f99f00;
}

textarea {
  min-height: 100px;
}

.create-input-wrapper-bottom {
  margin-top: 48px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.bottom-action-buttons {
  text-align: center;
}

.next-button {
  width: 200px;
  text-align: center;
  border: 1px solid #FF9F00;
  color: #FF9F00;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 1px;
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 13px;
}

.next-button:hover {
  cursor: pointer;
  background: #FF9F00;
  color: #fff;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #aaa;
}

/* */


pre {
  background:#EEE;
  padding:5px;
  width: 290px;
  color: #fff;
}

.create-campaign-information-container {
  display: none;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  border-radius: 2px;
  overflow: auto;
}

.active-create-campaign-container {
  display: block !important;
}

.platform-image-container img {
  width: 40px;
  margin-left: -6px;
}

.check-box {
  width: 20px;
  height: 20px;
  border: 1px solid #FF9F00;
  display: inline-block;
  vertical-align: middle;
}

.check-box:hover {
  cursor: pointer;
}

.filled-check-box {
  background: #ff9f00;
}

.posting-requirements-div {
  margin-top: 16px;
}

.posting-requirements-div p {
  color: #484848;
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 0px !important;
}

.company-vibe-pic-6-container {
  background: #f0f0f0;
  padding: 8px;
}

.company-vibe-pic-6-container .pic-container {
  height: 100px !important;
  /*border: 1px solid #FF9F00;*/
  text-align: center;
}

.pic-container:hover {
  background: #FFF;
  cursor: pointer;
}

.pic-container p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: 100;
  color: #FF9F00;
}

.age-select-container {
  margin-left: -12px;
  margin-right: -12px;
  overflow: auto;
}

.select-age:before {
  content: '\25bc';
position: absolute;
pointer-events: none;
color: #FF9F00;
top: 0;
bottom: 1px;
padding-top: 0.7em;
line-height: 1;
right: 12px;
width: 2em;
text-align: center;
transform: scale(0.84, 0.42);
-webkit-transform: scale(0.84, 0.42);
-moz-transform: scale(0.84, 0.42);
-ms-transform: scale(0.84, 0.42);
-o-transform: scale(0.84, 0.42);
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand')";
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand');
}

.age-select-wrapper {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

select {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 3em;
  display: block;
  padding: 12px 12px;
  width: 100%;
  border: 1px solid #FF9F00;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FFF;
}

select:hover {
  cursor: pointer;
}

.dash-container {
  padding: 0px !important;
  text-align: center;
  height: 46px;
  overflow: auto;
}

.dash-container p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 0px !important;
  font-size: 24px;
}

.dash-container {
  width: 16.66666666666666666667% !important;
}

.gender-buttons-create-container {
  margin-left: -6px;
  margin-right: -6px;
  overflow: auto;
}

.gender-button-create-container {
  padding-left: 6px !important;
  padding-right: 6px !important;
  text-align: center;
}

.gender-buttons-wrapper {
  /*margin-left: -6px;
  margin-right: -6px;*/
}

.gender-button {
  width: 100%;
  border: 1px solid #FF9F00;
  border-radius: 1px;
  text-align: center;
  color: #FF9F00;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gender-button:hover {
  cursor: pointer;
  background: #FF9F00;
  color: #fff;
}

.male-button {
  margin-right: 12px;
}

.fenale-button {
  margin-left: 12px;
}

.added-locations-container {
  width: 100%;
  padding: 6px;
  margin-top: 12px;
  overflow: auto;
}

.added-locations-container .location-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.location-container {
  overflow: auto;
  padding: 8px 12px;
}

.location-container:hover {
  cursor: pointer;
}

.location-container p {
  display: inline-block;
  margin-bottom: 0px !important;
}

.location-icon-container ,
.delete-icon-container {
  display: inline-block;
}

.location-icon-container img {
  width: 15px;
  height: 15px;
}

.delete-icon-container img {
  width: 15px;
  height: 15px;
}

.location-container .col-sm-1 {
  padding: 0px !important;
}

.delete-icon-container {
  text-align: right;
}

.influencer-interest-container {
  padding: 12px;
  overflow: auto;
}

.influencer-interest-type-container .col-sm-3 {
  padding: 0px !important;
  height: 75px !important;
}

.influencer-interest-picture-container img {
  width: 100%;
}

.interest-type {
  position: absolute;
  bottom: 0px;
  left: 12px;
  color: #FFF;
  font-size: 16px;
  margin-bottom: 12px;
}

.interest-type-info-container:hover {
  cursor: pointer;
}

.influencer-hover-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,0.5);
  display: none;
}

.influencer-clicked-container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,0.5);
}

.influencer-interest-picture-container:hover {
  background-color: rgba(0,0,0,1);
}

.check-mark-box {
  width: 15px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.active-interest {
  display: block !important;
}

.next-button-tapped {
  background: #FF9F00;
  color: #FFF !important;
}

.review-posting-container .business-picture-container img {
  width: 100%;
  height: 333px;
}

.target-region-container {
  margin-top: 18px;
  color: #484848;
  font-size: 12px;
  font-weight: 400;
}

.create-campaign-information-container .error-message {
  color: red;
  margin-top: 12px;
  text-align: left;
  font-size: 14px;
}

.influencer-error-message {
  text-align: center !important;
}

.tags-conatiner {
  overflow: auto;
  border: 1px solid #ff9f00;
}

.tags-conatiner .tags-plus-container {
  width: 16.6666666666666666667% !important;
  padding: 0px !important;
  height: 46px;
  border-left: 1px solid #ff9f00;
  text-align: center;
}

.tags-conatiner input {
  border: none !important;
}

.tags-conatiner .tags-plus-container:hover {
  cursor: pointer;
  background: rgba(255,156,0,0.3);
}

.tags-conatiner .tags-plus-container:active {
  background: rgba(255,156,0,0.5);
}

.tags-conatiner .tags-plus-container p {
  margin-bottom: 0px !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #ff9f00;
}

.tags-added-container {
  margin-top: 18px;
  color: #ff9f00;
  font-size: 12px;
  margin-bottom: 18px;
  overflow: auto;
}

.tags-added-container .tag {
  padding: 0px !important;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tags-subtracted-container p {
  width: 16.666666666666667% !important;
  padding: 0px !important;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px !important;
}

.tags-subtracted-container p:hover {
  cursor: pointer;
  background: rgba(255,156,0,0.3);
}

.tags-subtracted-container p:active {
  background: rgba(255,156,0,0.5);
}

.tags-plus-container {
  width: 16.6666666666666667% !important;
}

.target-region-container-review {
  overflow: auto;
}

.target-region-container-review  p {
  text-align: left;
  margin-top: 18px;
  color: #ff9f00;
}

.target-region-container {
  overflow: auto;
  border: 1px solid #ff9f00;
}

.food-container {
  height: 75px;
  background: url(/static/img/food-interest.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.automotive-container {
  height: 75px;
  background: url(/static/img/automotive-interest.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.influencer-interests-container-review {
  margin-top: 16px;
}

.influencer-interests-container-review h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 12px;
  bottom: 2px;
}

.interest-container-review {
  padding: 0px !important;
}

.interests-review-layer {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.target-region-input-container {
  display: none;
  border: none !important;
}

.target-region-container {
  border: none !important;
}

.target-region-container input {
  border: none !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 12px !important;
}

.target-region-container .tags-plus-container {
  padding: 0px !important;
  height: 43px;
}

.target-region-container .tags-plus-container:hover {
  cursor: pointer;
  background: rgba(255,156,0,0.3);
}

.target-region-container .tags-plus-container:active {
  background: rgba(255,156,0,0.5);
}

.target-region-container p {
  text-align: center;
  margin-bottom: 0px !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #ff9f00;
}

.fresno-region {
  background: linear-gradient(rgba(0, 0 ,0 , .2), rgba(0, 0 ,0 , .2)), url(../img/fresno.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 75px;
}

.target-region h3 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px !important;
  position: absolute;
  bottom: 10px;
}

.delete-icon-container {
  text-align: center;
}

.delete-icon-container:hover {
  cursor: pointer;
  background: rgba(255,156,0,0.3);
}

.delete-icon-container:active {
  background: rgba(255,156,0,0.5);
}

.location-container {
  padding-top: 6px;
  padding-bottom: 6px;
}

.review-influencer-container {
  width: 50%;
  float: left;
}

.review-influencer-container .review-title {
  color: #ff9f00;
}

.review-influencer-container .review-p {
  font-size: 12px;
}

.sides-container .section-header {
  display: inline-block;
}

.help-icon {
  display: inline-block;
  width: 18px !important;
  margin-left: 8px;
}

.help-icon:hover {
  cursor: pointer;
}

.influencer-side-by-side-container {
  overflow: auto;
  width: 100%;
}

.create-campaign-help-container {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 12;
  background: #FFF;
  border-radius: 3px;
  width: 275px;
  padding: 12px;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  display: none;
}

.hero:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 10px #ff9f00;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

/* Influencer found section */

.influencer-found-container {
  overflow: auto;
}

.select-influencer-step-container {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.influencer-found-image {
  width: 100px;
  border-radius: 50%;
}

.influencer-found-wrapper {
  overflow: auto;
}

.influencer-found {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: center;
}

.influencer-found-inner-container:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.influencer-found-inner-container:active {
  background: #e3e3e3;
}

.influencer-found-inner-container {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  text-align: center;
}

.influencer-found-name {
  color: #484848;
  font-weight: 500;
  margin-bottom: 4px !important;
  margin-top: 18px;
  font-size: 16px;
}

.influencer-found-location {
  color: #aaa;
  margin-bottom: 0px !important;
  display: inline-block;
  margin-bottom: 0px !important;
  font-size: 12px;
  margin-top: 2px;
}

.influencer-found-location-image {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
}

.influencer-found-location-container {
  margin-bottom: 8px;
}

.instagram-orange {
  width: 25px;
}

.influencer-found-rating {
  font-weight: 500;
  color: #ff9f00;
  font-size: 16px;
  margin-bottom: 12px !important;
  display: inline-block;
  margin-left: 8px;
  margin-top: 12px !important;
  font-size: 12px;
}

.influencer-rating-text {
  font-size: 10px;
  color: #aaa;
  margin-bottom: 0px !important;
  font-size: 12px;
}

.hire-me-button {
  width: 100px;
  color: #ff9f00;
  border: 1px solid #ff9f00;
  background: #fff;
  border-radius: 2px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  font-weight: 500;
}

.hire-me-button:hover {
  cursor: pointer;
  background: #ff9f00;
  color: #fff;
}

.influencer-price {
  font-weight: 600;
  color: green;
  margin-top: 18px;
  font-size: 22px;
  margin-bottom: 0px !important;
}

.select-influencer-checkbox {
  width: 20px;
  height: 20px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ff9f00;
}

.select-influencer-checkbox:hover {
  cursor: pointer;
  background: #ff9f00;
}

/*

Influencer pop up container styles

*/

.view-influencer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 11;
  display: none;
  overflow: auto;
}

.view-influencer-wrapper {
  max-width: 500px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 12px;
}

.personal-information-container {
  overflow: auto;
}

.influencer-picture {
  padding: 0px !important;
}

.influencer-selceted-image {
  width: 100%;
  padding: 12px;
  border-radius: 50%;
}

.influencer-selected-name {
  color: #ff9f00;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 500;
}

.platform-container {
  margin-top: 18px;
}

.platform-container img {
  width: 20px;
  display: inline-block;
}

.platform-container p {
  margin-left: 8px;
  display: inline-block;
}

.view-influencer-container .location-container {
  padding: 0px !important;
  color: #aaa;
  margin-top: 4px;
}

.view-influencer-container .location-container .location-icon {
  width: 20px;
}

.view-influencer-container .location-container p {
  margin-left: 8px;
  font-size: 12px;
}

.influencer-selected-data-container {
  margin-top: 24px;
  text-align: center;
  overflow: auto;
}

.influencer-selected-data-text {
    color: #ff9f00;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px !important;
}

.data-static-text {
  color: #aaa;
  font-size: 12px;
}

.further-info-container {
  padding: 12px;
  margin-top: 12px;
}

.first-info-title {
  margin-top: 0px !important;
}

.bottom-selected-container-title {
  color: #ff9f00;
  font-size: 18px;
}

.work-with-influencer-container {
  text-align: center;
  margin-top: 64px;
}

.work-with-influencer-container .hire-me-button {
  margin-top: 18px;
}

.further-info-container .about-me-text {
  font-size: 12px !important;
  margin-top: 18px !important;
}

.exit-influencer-pop-up {
  width: 15px;
  float: right;
  margin-right: 4px;
}

.exit-influencer-pop-up:hover {
  cursor: pointer;
}

.showt-rating-container {
  margin-bottom: 12px !important;
  padding: 4px !important;
}

.showt-score-text {
  font-size: 16px !important;
  margin-bottom: 7px !important;
}

.influencer-added {
  background: #f0f0f0;
}

.influencers-added-wrapper {
  overflow: auto;
}

.added-influencer {
  padding: 0px !important;
  margin-bottom: 16px;
  margin-top: 16px;
}

.added-influencer-image-container {
  padding: 0px !important;
}

.added-influencer img {
  width: 100%;
  padding: 12px;
  border-radius: 50%;
}

.added-influencer-name {
  margin-top: 12px;
  color: #ff9f00;
  font-weight: 500;
  margin-bottom: 6px !important;
}

.added-influencer-instagram {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 4px !important;
}

.added-influencer-price {
  font-size: 14px;
  font-weight: 500;
  color: green;
  margin-bottom: 0px !important;
}

.potential-reach-text {
  font-size: 24px;
  color: #ff9f00;
  margin-top: 12px;
  margin-bottom: 4px !important;
}

.total-cost-text {
  font-size: 24px;
  margin-top: 12px;
  color: green;
}

.potential-reach-p {
  font-size: 12px;
  color: #aaa;
}

/* Business login and sign up styles for the campaign page */

.business-sign-up-login-container {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  display: none;
  overflow: auto;
}

.business-login-container {
  max-width: 450px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 2px;
  display: none;
}

.business-signup-container-campaign {
  width: 450px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0px !important;
  margin-top: 32px;
  margin-bottom: 32px;
  transform: translateX(-50%);
  border-radius: 2px;
  display: block;
}

.business-login-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 12px;
}

.business-login-wrapper .influencer-input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 16px;
}

.business-login-wrapper .account-text {
  margin-bottom: 24px;
}

.no-account-text {
  color: #aaa;
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px !important;
}

.sign-up-login-text {
  font-size: 12px;
  color: #ff9f00;
  text-align: center;
}

.sign-up-login-text:hover {
  cursor: pointer;
}

.business-credit-card-info-container {
  display: none;
}

.credit-card-input-container {
  overflow: auto;
}

.credit-card-input-container .col-sm-8 {
  padding: 0px !important;
  border: none !important;
}

.influencer-account-form-wrapper {
  overflow: auto;
}

.influencer-account-form-wrapper .col-sm-7 {
  padding-left: 0px !important;
  margin-top: 10px !important;
}

.expiration-input-icon {
  width: 18% !important;
}

.expiration-input {
  width: 82% !important;
}

.influencer-account-form-wrapper .col-sm-5 {
  padding-right: 0px !important;
  margin-top: 10px !important;
}

.cvc-input-icon {
  width: 26% !important;
}

.cvc-input {
  width: 74% !important;
}

.card-info-title {
  font-size: 12px;
  margin-bottom: 0px !important;
  margin-top: 16px;
}

.influencer-account-form-wrapper .influencer-input {
  margin-top: 10px !important;
}

.credit-card-help-container {
  text-align: center;
  margin-top: 24px;
}

.card-help-title {
  color: #ff9f00;
}

.card-help-title:hover {
  cursor: pointer;
}

.card-help-text {
  font-size: 12px;
  color: #aaa;
  display: none;
}
