ul.nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height:50px;
  overflow-y: hidden;
}

ul.nav li {
  border-bottom: 0px solid #3589d9;
  transition: all .1s ease;
}

ul.nav li.active {
  border-bottom: 3px solid #3589d9;
  color: #000;
}

ul.nav > li > a {
  transition: all .1s ease;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  color: #777777;
}

ul.nav > li.active > a {
  padding: 15px 15px 12px 15px;
}

/*ul.nav li:not(.active):hover a {
  background-color: white !important;
}

ul.nav li.active a:focus {
  background-color: white !important;
}*/

.navbar-header > .navbar-brand > img {
  height: 100%;
}

.navbar-header {
  position: absolute;
  margin-left: 8px;
}

.navbar-brand {
  float: left;
}

.dashboard-brand-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: none !important;
  color: #777777;
}

.navbar {
  margin-bottom: 0px;
  z-index: 2;
}

.navbar-logged-in-user {
  width: auto;
  position: absolute;
  right: 8px;
  height: 100%;
}

.logged-in-user-container {
  height: 40px;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
}

.logged-in-user-container h3 {
  float: left;
  margin: 0px !important;
  font-size: 12px;
  font-family: 'Roboto',sans-serif;
  text-transform: none;
  padding-top: 13px;
  padding-right: 8px;
}

.logged-in-user-container:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.logged-in-user-container:active {
  background: #e3e3e3;
}

.logged-in-user-container img {
  width: 30px;
  padding-top: 4px;
}
