body, html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h1, h2 {
	color: #4895D9;
}

h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #4a4a4a;
}

.submit-button {
	margin-top: 18.720px;
	padding: 10px;
	border-radius: 5px;
	background-color: #4895D9;
	width: auto;
	font-size: 1.17em;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.img-page-background {
	background: url(../img/main-background.png);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#redirectWithData {
	display: none;
}

.centered {
	text-align: center;
}

.centered-wrapper {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slant {
	width: 100%;
    height: 500px;
    background-color: #4589d9;
    position: fixed;
    bottom: 0px;
    transform: rotate(180deg);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.menu-toggle {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	height: 18px;
	display: inline-block;
}

.loading {
  position: relative;
  -webkit-animation: rotate 2.2s infinite linear;
  animation: rotate 2.2s infinite linear;
  top: 10px;
}

.loading circle {
  stroke-dasharray:200;
  -webkit-animation: circles 2.2s infinite linear;
  animation: circles 2.2s infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@keyframes circles{
  0% {
    stroke-dashoffset: -250;
  }
  50% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 150;
  }
}

@-webkit-keyframes circles {
  0% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 00;
  }
}

#page {
	display: none;
}

.background {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(238,238,238, 1);
	position: fixed;
}

.content {
	position: absolute;
	z-index: 1;
}

#top-bar {
	width: 100%;
	height: auto;
	position: fixed;
	background-color: white;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	padding: 0px !important;
}

#top-bar .title {
	margin: 10px 0px 10px 50px;
}

.content, .left, .right {
	position: absolute;
	width: calc(100% - 20px);
	margin: 0px 0px;
	height: auto;
}

.right {
	left: 100%;
}

.left {
	left: -100%;
}

.dashboard-container {
  width: 100%;
}

/* Home section designs */

#home-section {
	width: 100vw;
	height: calc(100vh - 50px);
	background: #fff;
}

#home-information-container {
	background: #f7f7f7;
	width: 60%;
	height: 0;
	padding-bottom: 40%;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
}

.inner-home-container {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.inner-information-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 33.333333333333%;
}

.inner-phone-container,
.inner-information-container {
	height: auto;
	padding: 10px;
}

.phone-container,
.information-container {
	height: auto;
	width: auto;
}

.phone-container img {
	width: 100%;
	height: auto;
}

.edit-home-information-image {
	position: absolute;
	top: 8;
	right: 8;
	width: 25px;
	display: none;
}

.edit-home-information-image:hover {
	cursor: pointer;
}

.information-container h3,
.information-container p {
	font-family: 'Roboto', sans-serif;
}

.information-container h3 {
	text-transform: none;
	font-weight: bold;
}

.information-container p {
	color: #757575;
}

.information-container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.merchant-name {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 32px;
	font: 300 32px/48px 'Roboto',sans-serif;
	letter-spacing: -.01em;
}

.stats-table {
	margin-top: 48px;
}

.stats-container {
}

.merchant-stat-container {
	padding-left: 6px;
	padding-right: 6px;
}

.merchant-stat-inner-container {
	border: 1px solid #5699e6;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.merchant-stat-inner-container img {
	width: 50px;
	height: 50px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

.merchant-stat-inner-container h3 {
	text-align: center;
	font-size: 18px;
}

.stat {
	font-weight: bold;
	color: #5699e6;
}

.stat-text {
	font-size: 12px !important;
	color: #757575;
}

#home-feedback-section {
	height: 100vh;
	width: 100vw;
	background: rgba(100, 100, 100, .54);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}

.feedback-section {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	max-width: 365px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 97%;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 24px 38px 3px, rgba(0, 0, 0, 0.117647) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px;
}

.top-title-container {
	height: 55px;
	background-color: rgb(96, 125, 139);
}

.top-title-container h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 12px;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
	text-transform: none;
	margin-top: 0px !important;
}

.bottom-buttons-container {
	height: 55px;
	border-top: 1px solid #aaa;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.cancel-button,
.save-button {
	width: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
	font-family: 'Roboto',sans-se5if;
	font-size: 15px;
}

.save-button {
	color: #5699e6;
}

.cancel-button:hover,
.save-button:hover {
	background: #eee;
	cursor: pointer;
}

.button-container {
	overflow: auto;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 8px;
}
