ul.nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height:50px;
  overflow-y: hidden;
}

ul.nav li {
  border-bottom: 0px solid #3589d9;
  transition: all .1s ease;
}

ul.nav li.active {
  border-bottom: 3px solid #3589d9;
}

ul.nav > li > a {
  transition: all .1s ease;
  cursor: default;
}

ul.nav > li.active > a {
  padding: 15px 15px 12px 15px;
}

ul.nav li:not(.active):hover a {
  background-color: white !important;
}

ul.nav li.active a:focus {
  background-color: white !important;
}

.navbar-header > .navbar-brand > img {
  height: 100%;
}

.navbar {
  margin-bottom: 10px;
}
