html {
	overflow-y: hidden;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
}

body, html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h1, h2 {
	color: #4895D9;
}

h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #4a4a4a;
}

.submit-button {
	margin-top: 18.720px;
	padding: 10px;
	border-radius: 5px;
	background-color: #4895D9;
	width: auto;
	font-size: 1.17em;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.img-page-background {
	background: url(../img/main-background.png);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#redirectWithData {
	display: none;
}

.centered {
	text-align: center;
}

.centered-wrapper {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slant {
	width: 100%;
    height: 500px;
    background-color: #4589d9;
    position: fixed;
    bottom: 0px;
    transform: rotate(180deg);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.menu-toggle {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	height: 18px;
	display: inline-block;
}

.loading {
  position: relative;
  -webkit-animation: rotate 2.2s infinite linear;
  animation: rotate 2.2s infinite linear;
  top: 10px;
}

.loading circle {
  stroke-dasharray:200;
  -webkit-animation: circles 2.2s infinite linear;
  animation: circles 2.2s infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@keyframes circles{
  0% {
    stroke-dashoffset: -250;
  }
  50% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 150;
  }
}

@-webkit-keyframes circles {
  0% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 00;
  }
}

#page {
	display: none;
}

.background {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(238,238,238, 1);
	position: fixed;
}

.content {
	position: absolute;
	z-index: 1;
}

#top-bar {
	width: 100%;
	height: auto;
	position: fixed;
	background-color: white;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	padding: 0px !important;
}

#top-bar .title {
	margin: 10px 0px 10px 50px;
}

.content, .left, .right {
	position: absolute;
	width: calc(100% - 20px);
	margin: 0px 0px;
	height: auto;
}

.right {
	left: 100%;
}

.left {
	left: -100%;
}

.dashboard-container {
  width: 100%;
}

/* Home section designs */

#home-section {
	margin-top: 25px;
}

#home-section,
#support-section {
	width: 100vw;
	height: auto;
	margin-bottom: 100px;
	background: #fff;
}

#support-section {
	width: 100vw;
	height: auto;
	margin-bottom: 32px;
	background: #fff;
}

#rewards-section {
	height: auto;
	width: 100vw;
	margin-bottom: 100px;
	background: #FFF;
}

#pay-section {
	width: 100vw;
	background: #FFF;
	margin-bottom: 100px;
}

#pay-information-container {
	background: #f7f7f7;
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

#pay-information-container .inner-home-container {
	height: auto !important;
	padding: 0px !important;
	overflow: auto;
}

#home-information-container,
#support-information-container {
	background: #f7f7f7;
	width: 60%;
	height: 0;
	padding-bottom: 40%;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

#rewards-information-container {
	background: #f7f7f7;
	width: 60%;
	height: auto;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

#rewards-information-container .inner-home-container {
	height: auto;
}

.inner-home-container {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.inner-phone-container,
.inner-information-container {
	height: auto;
	padding: 10px;
}

.phone-container,
.information-container {
	height: auto;
	width: auto;
}

.phone-container img {
	width: 100%;
	height: auto;
}

.edit-home-information-image {
	position: absolute;
	top: 8;
	right: 8;
	width: 25px;
	display: none;
}

.edit-home-information-image:hover {
	cursor: pointer;
}

.information-container h3,
.information-container p {
	font-family: 'Roboto', sans-serif;
}

.information-container h3 {
	text-transform: none;
	font-weight: bold;
}

.information-container p {
	color: #757575;
}

.information-container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.merchant-name {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 8px;
	font: 300 32px/48px 'Roboto',sans-serif;
	letter-spacing: -.01em;
}

.stats-table {
	margin-top: 48px;
	overflow: auto;
}

.stats-container {
}

.merchant-stat-container {
	padding-left: 6px;
	padding-right: 6px;
}

.merchant-stat-inner-container {
	border: 1px solid #5699e6;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.merchant-stat-inner-container img {
	width: 50px;
	height: 50px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

.merchant-stat-inner-container h3 {
	text-align: center;
	font-size: 18px;
}

.stat {
	font-weight: bold;
	color: #5699e6;
}

.stat-text {
	font-size: 12px !important;
	color: #757575;
}

#home-feedback-section,
#give-feedback-section,
#view-transactions-section,
#pay-now-section {
	height: 100vh;
	width: 100vw;
	background: rgba(100, 100, 100, .54);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}

.feedback-section {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	max-width: 365px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 97%;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 24px 38px 3px, rgba(0, 0, 0, 0.117647) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px;
}

.top-title-container {
	height: 55px;
	background-color: rgb(96, 125, 139);
}

.merchant-cross-streets {
	margin-top: 8px !important;
	font-size: 16px;
	color: #5699e6;
}

.top-title-container h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 12px;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
	text-transform: none;
	margin-top: 0px !important;
}

.bottom-buttons-container {
	height: 55px;
	border-top: 1px solid #aaa;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.cancel-button,
.save-button {
	width: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
	font-family: 'Roboto',sans-se5if;
	font-size: 15px;
}

.save-button {
	color: #5699e6;
}

.cancel-button:hover,
.save-button:hover {
	background: #eee;
	cursor: pointer;
}

.button-container {
	overflow: auto;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 8px;
}

.name-input-container input {
	width: 100%;
	border: none;
	height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	outline: none;
}

.description-input-container {

}

.description-input-container textarea {
	height: calc(100% - 170px);
	width: 100%;
	border: none;
	resize: none;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
}

.edit-button-container {
	width: 100%;
	text-align: right;
	margin-top: 48px;
}

.edit-information-button {
	font-family: 'Roboto',sans-serif;
	color: #5699e6;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 120px;
	float: right;
	text-align: center;
	border-radius: 3px;
}

.edit-information-button:hover {
	cursor: pointer;
	background: #e3e3e3;
}

.edit-information-button:active {
	background: #B8B8B8;
}

.dashboard-link:hover {
	background: #e3e3e3;
	cursor: pointer;
}

#dashboard-footer {
	height: 75px;
	background-color: rgb(96, 125, 139);
}

.footer-left-container,
.footer-right-container {
	width: 50%;
	float: left;
}

.footer-left-container {
	height: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 18px;
}

.footer-left-container div {
	height: 100%;
	width: 1px;
	background: #FFF;
}

.footer-left-container p,
.footer-left-container div {
	float: left;
	margin-right: 8px;
}

.footer-left-container p {
	font-size: 12px;
	font-family: 'Roboto',sans-serif;
	color: #FFF;
}

.footer-left-container p:hover {
	color: #4a4a4a;
	cursor: pointer;
}

.footer-right-container {
	text-align: right;
}

.translate-button {
	height: 40px;
	background: #FFF;
	width: 120px;
	text-align: center;
	float: right;
	margin-right: 12px;
	margin-top: 17.5px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
}

.translate-button:hover {
	background: #e3e3e3;
	cursor: pointer;
}

.translate-button:active {
	box-shadow: none;
}

.translate-button p {
	width: 75px;
	text-align: center;
	float: left;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	margin-bottom: 0px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
}

.translate-button img {
	height: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.floating-add-reward-button {
	padding: 5px;
	overflow: auto;
}

.add-reward-button-container	{
	width: 40px;
	height: 40px;
	background: #5699e6;
	border-radius: 25px;
	float: right;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	text-align: center;
}

.add-reward-button-container:hover {
	cursor: pointer;
	background: #4377B3;
}

.add-reward-button-container:active {
	box-shadow: none;
}

.add-reward-button-container img {
	width: 25px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.merchant-reward-title,
.merchant-reward-bottom-text {
	text-align: center;
	font-family: 'Roboto',sans-serif;
}

.merchant-reward-title {
	padding-top: 24px !important;
	font-weight: bold;
	color: #aaa;
	margin-top: 0px !important;
}

.merchant-reward-bottom-text {
	font-size: 16px;
	margin-top: 8px;
	padding-bottom: 24px;
}

.rewards-container {
	overflow: auto;
}

.rewards-inner-container {
	overflow: auto;
}

.points-image-container {
	padding: 8px;
}

.inner-reward-container {
	background: #FFF;
	border-radius: 2px;
}

.points-text-container,
.reward-type-container {
	text-align: center;
}

.points-text-container {

}

.point-cost {
	margin-top: 0px !important;
}

.top-reward-container {
	width: 100%;
	height: 0%;
	padding-bottom: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.point-cost {
	color: #5699e6;
	font-size: 24px;
	font-weight: bold;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.points-text {
	color: #e3e3e3;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

.reward-name {
	color: #FFF;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

.reward-description {
	color: #e3e3e3;
	font-size: 12px !important;
	font-family: 'Roboto', sans-serif;
	margin-top: 8px !important;
}

.reward-info-container {
	position: relative;
margin-left: auto;
margin-right: auto;
padding-top: 20%;
}

.edit-container {
	height: 45px;
	background: #FFF;
}

.edit-reward-button	{
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	width: 100px;
  margin-left: auto;
  margin-right: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	color: #5699e6;
	border-radius: 2px;
}

.edit-reward-button:hover {
	background: #e3e3e3;
	cursor: pointer;
}

.edit-reward-button:active {
	background: #aaa;
}

.delete-reward-button {
	color: #C91A1A !important;
}

#loading-section {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	z-index: 2;
}

.loading-inner-section	{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.loading-data-text {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform: none;
}

.loading {
  position: relative;
  -webkit-animation: rotate 3.2s infinite linear;
  animation: rotate 3.2s infinite linear;
  top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.loading circle {
  stroke-dasharray:100;
  -webkit-animation: circles 3.2s infinite linear;
  animation: circles 3.2s infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@keyframes circles{
  0% {
    stroke-dashoffset: -250;
  }
  50% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 150;
  }
}

@-webkit-keyframes circles {
  0% {
    stroke-dashoffset: -250;
  }
  50% {
    stroke-dashoffset: -26;
  }
  100% {
    stroke-dashoffset: 150;
  }
}

.merchant-image-container {
	height: 241px;
	width: 100%;
}

.merchant-image {
	width: 100%;
	height: 100%;
}

.average-cost-container,
.total-cost-container {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 48px;
}

.average-cost-container h3,
.total-cost-container h3 {
	color: #4BC96F;
	font-size: 48px;
	font-weight: bold;
}

.average-cost-container p,
.total-cost-container p {
	font-size: 12px;
	color: #aaa;
}

.bottom-pay-action-button-container	{
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 24px;
	background: rgb(96, 125, 139);
	border-top: 1px solid #e3e3e3;
}

.current-date-text {
	color: #5699e6 !important;
}

.pay-button,
.transactions-button {
	display: inline-block;
	font-family: 'Roboto',sans-serif;
	margin-right: 8px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 2px;
}

.pay-button:hover,
.transactions-button:hover {
	background: #f0f0f0;
	cursor: pointer;
}

.pay-button:active,
.transactions-button:active {
	background: #e3e3e3;
}

.pay-button:hover {
	color: #4BC96F;
}

.transactions-button:hover {
	color: #5699e6;
}

.pay-button {
	font-size: 12px !important;
	float: left;
	color: #fff;
}

.transactions-button {
	font-size: 12px !important;
	font-family: 'Roboto',sans-serif;
	float: left;
	color: #fff;
}

.inner-pay-buttons-container {
	float: right;
}


/* Create reward styles */

#create-reward-container,
#edit-reward-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 3;
	background: rgba(0,0,0,0.56);
	text-align: center;
	display: none;
}

#create-reward-container .feedback-section,
#edit-reward-container .feedback-section {
	height: auto !important;
}

#create-reward-container .feedback-section .bottom-buttons-container,
#edit-reward-container .feedback-section .bottom-buttons-container {
	position: relative !important;
}

#create-reward-container .edit-info-header
#edit-reward-container .edit-info-header {
	text-align: left;
}

#create-reward-container input {
	font-family: 'Roboto', sans-serif;
}

.cancel-reward-button,
.save-reward-button {
	width: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
	font-family: 'Roboto',sans-se5if;
	font-size: 15px;
	border-radius: 3px;
}

.save-reward-button {
	color: #5699e6;
}

.cancel-reward-button:hover,
.save-reward-button:hover {
	background: #eee;
	cursor: pointer;
}

.cancel-reward-button:active,
.save-reward-button:active {
	background: #aaa;
}

.choose-image-button-container {
	margin-bottom: 18px;
	margin-top: 18px;
}

.name-input-container input {
	border-bottom: 1px solid #eee;
}

.select-image-button {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #5699e6;
	border-radius: 3px;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 12px;
	margin-left: auto;
	margin-right: auto;
}

.select-image-button:hover {
	background: #eee;
	cursor: pointer;
}

.select-image-button:active {
	background: #aaa;
	color: #fff;
}


/*  Sign out section  */


#sign-out-section	{
	background: #FFF;
	border-radius: 3px;
	padding: 12px;
	position: fixed;
	top: 8px;
	right: 8px;
	z-index: 2;
	width: 300px;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
	display: none;
}

#sign-out-section h3 {
	font-size: 14px;
	font-family: "Roboto",sans-serif;
	margin-bottom: 0px !important;
}

.merchant-sign-out-name {
	margin-top: 0px !important;
	font-weight: bold;
	padding-left: 8px;
}

.feedback-button {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.sign-out-button {
	display: inline-block;
	margin-top: 12px !important;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.feedback-button:hover,
.sign-out-button:hover {
	background: #f0f0f0;
	cursor: pointer;
}

.feedback-button:active,
.sign-out-button:active {
	background: #e3e3e3;
}

.feedback-button h3 {
	color: #7ED321;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.feedback-button h3,
.sign-out-button h3 {

	font-size: 12px !important;
}

.sign-out-button h3 {
	margin-bottom: 0px;
	color: #5699e6;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/* Transactions Section  */
#transactions-container {
	width: 95%;
	max-width: 900px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.top-table-container {
	background: #dfdfdf;
	overflow: auto;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.transactions-header h3 {
	font-size: 12px;
	color: #898989;
	font-family: 'Roboto',sans-serif;
	text-transform: none;
	margin-top: 12px;
}

.bottom-transaction-container {
	height: 400px;
	overflow-y: scroll;
	background: #f0f0f0;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.transaction h3 {
	font-size: 12px;
	text-transform: none;
	font-family: 'Roboto',sans-serif;
}

.user-email h3 {
	color: #898989;
	font-weight: bold;
}

.reward-text h3 {
	color: #898989;
}

.date-recorded h3 {
	color: #5699e6;
}

.reward-price-text h3 {
	color: #7ED321;
	font-weight: bold;
}

.exit-transactions {
	width: 25px;
	position: absolute;
	right: 8;
	top: 8;
}

.exit-transactions:hover {
	cursor: pointer;
}

.total-transaction-container {
	float: right;
	text-align: center;
	padding-bottom: 8px;
}

.total-amount-owed {
	padding-right: 16px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
	color: #7ED321;
	margin-top: 10px;
}

.total-amount-text {
	padding-right: 16px;
	font-size: 12px;
	font-family: 'Roboto',sans-serif;
	color: #aaa;
	text-transform: none;
	margin-top: 10px;
}



/* Pay now section */


#pay-now-section .total-cost-container {
	margin-top: 24px;
}

#pay-now-section .feedback-section {
	height: auto !important;
}

#pay-now-section .bottom-buttons-container {
	position: relative !important;
}

#pay-now-section .save-button-pay {
	color: #7ED321;
}

.credit-card-info-container {
	overflow: auto;
}

.credit-input-container {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.credit-input-container input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 3px;
	background: #f0f0f0;
	color: #aaa;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.top-credit-container {
	margin-top: 18px;
}

.bottom-credit-container {
	overflow: auto;
	margin-top: 18px;
	margin-bottom: 18px;
}

/* Support section */

#support-total-container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	overflow: visible;
	height: 80vh;
}

#support-total-container h3 {
	font-family: 'Roboto', sans-serif;
}

.support-questions-container {
	background: #f0f0f0;
	height: 80vh;
	overflow-y: scroll;
	padding-bottom: 8px;
}

.support-question-section .section-title {
	font-size: 12px;
	font-weight: bold;
	color: #898989;
	text-transform: none;
}

.support-question-section .question {
	font-size: 12px;
	color: #aaa;
	text-transform: none;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	border-radius: 2px;
	margin-top: 12px;
}

.support-question-section .question:hover {
	cursor: pointer;
	background: #e3e3e3;
}

.support-question-section .question:active {
	background: #fff;
	color: #5699e6;
}

.answer-header {
	text-transform: none;
	font-weight: lighter;
	color: #aaa;
	margin-top: 12px;
	font-size: 32px;
}

.question-title {
	text-transform: none;
	font-size: 16px;
	color: #898989;
	border-bottom: 1px solid #898989;
	padding-bottom: 12px;
}

.answer-p {
	color: #aaa;
	font-family: 'Roboto',sans-serif;
	margin-top: 24px;
}
