.footer-container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-links-container {
  overflow: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #dce0e0;
}

.top-link {
  color: #484848;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}

.bottom-link {
  margin-top: 4px;
  margin-bottom: 0px;
  color: #848484;
  font-size: 12px;
}

.bottom-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.showt-local-location {
  width: 70%;
}

.fresno-link {
  margin-top: 16px;
}

.footer-copyright-container {
  overflow: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-copyright-wrapper {
  overflow: auto;
}

.footer-left-wrapper p,
.footer-left-wrapper img {
  display: inline-block;
}

.footer-left-wrapper img {
  width: 20px;
  margin-right: 16px;
}

.footer-left-wrapper p {
  color: #848484;
  margin-bottom: 0px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer-right-wrapper {
  display: inline-block;
  float: right;
}

.footer-right-wrapper img {
  width: 25px;
}

.footer-right-wrapper img:hover {
  cursor: pointer;
}

.left-social-link {
  margin-right: 24px;
}
