.store-button-container {
  margin-bottom: 32px;
}

.app-store-button-container img {
  width: 125px !important;
}

.home-text {
  font-size: 12px !important;
  text-align: left;
  max-width: 850px;
  width: 95%;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.android-text {
  text-align: left;
  margin-top: 32px !important;
}

#home .store-button-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#home .app-store-button-container {
  float: left !important;
}

header .header-content .header-content-inner {
  /*position: relative;
  top: 50%;
  transform: translateY(-55%);*/
}

.passenger-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  font-family: inherit;
  letter-spacing: 1px;
  text-align: left;
  max-width: 500px;
  width: 95%;
}

.section-p {
  color: #a5a5a5;
}

.own-a-business-button {
  background: #5699e6;
  border-radius: 4px;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 175px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.own-a-business-button:hover {
  cursor: pointer;
  color: #5699e6;
  background: #fff;
}

#business-owner {
  height: 30vh;
  background: #fff;
  color: #FFF;
  text-align: center;
  opacity: 0.9;
}

#business-owner h3 {
  margin-top: 0px !important;
  font-family: inherit;
  color: #555;
}

#business-owner p {
  font-family: inherit;
  color: #aaa;
  font-size: 12px;
  margin-top: 20px;
}

#business-owner .btn {
  font-family: inherit;
  background: #5699e6;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

.inner-business-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#business-owner .btn:hover {
  background: #3772A6;
  color: #FFF;
}

@media(min-width: 768px) {
  #mainNav {
    position: absolute;
  }
}

@media(max-width: 968px) {
  .passenger-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    font-family: inherit;
    letter-spacing: 1px;
    text-align: left;
  }
}

@media(min-width: 992px) {

  .navbar-brand img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 30px;
  }

  .navbar-nav li {
    margin-bottom: 0px;
  }

  .navbar-collapse {
    width: auto;
    transform: none;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .navbar-nav .page-scroll {
    font-size: 10px !important;
  }

  .home-text {
    font-size: 14px !important;

  }

  #home .app-store-buttons {
    overflow: auto;
    max-width: 400px;
  }

  #home .app-store-button-container {
    width: 125px !important;
  }

  #home .store-button-container {
    padding-left: 0px !important;
  }

  #what-is-it .section-heading {
    margin-bottom: 12px;
  }

  #home .app-store-button-container img {
    width: 125px !important;
  }

  #home .store-button-container {
    margin-bottom: 0px !important;
  }

  .learn-more-arrow {
    height: 20px;
  }

}

/* Home nav link styles */

.merchant-nav-container,
#merchant-nav-mobile-container {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
  background: #FFF;
  width: 100%;
}
