.home-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.home-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0 ,0 , .4), rgba(0, 0 ,0 , .3)), url(../img/homepage-background.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.home-container h3 {
  margin-top: 0px !important;
}

.home-middle-info-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.last-nav-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.last-nav-container ul {
  float: right;
  margin-bottom: 0px !important;
}

.last-nav-container ul {
  margin-right: 16px;
}

.last-nav-container ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 24px;
}

.first-nav-link {
  margin-right: 32px !important;
}

.last-nav-container ul li a {
  color: #fff;
}

.last-nav-container ul li a:hover {
  text-decoration: none;
  cursor: pointer;
}

.middle-nav-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  right: 0;
}

.middle-nav-container img {
  width: 25px;
}

.home-middle-nav-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.middle-nav-container p {
  margin-bottom: 0px !important;
  color: #FF9F00;
  margin-top: 12px;
}

.left-nav-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.left-nav-container img {
  width: 28px;
  margin-left: 10px;
}

.grow-your-business-button {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.grow-your-business-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

.grow-your-business-button:active {
  background: rgba(255, 255, 255, 0.6);
}

.grow-business-button-info-container {
  display: inline-block;
}

.grow-your-business-button p {
  margin-bottom: 0px !important;
  display: inline-block;
  color: #fff;
}

.business-button-icon {
  margin-right: 12px;
}

.grow-business-button-text {
  font-size: 13px;
}

.home-middle-info-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,135,166,0);
  border-radius: 1px;
  text-align: left;
}

.home-middle-container-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.home-middle-container-wrapper img {
  width: 50px;
  margin-bottom: 24px;
}

.home-middle-container-wrapper form {
  text-align: left !important;
  margin-top: 40px;
  margin-bottom: 32px;
}

.home-middle-container-wrapper .showt-local-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px !important;
  text-align: left;
  letter-spacing: 1.5px;
}

.showt-local-text {
  color: rgba(255,255,255,0.8);
  margin-top: 16px;
}

.homepage-button-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 13px;
}

.homepage-button {
  width: 200px;
  border: 2px solid #fff;
  color: #FFF;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 40px;
}

.influencer-button {
  margin-left: 0px !important;
}

.homepage-button:hover {
  background: #fff;
  color: #ff9f00;
  cursor: pointer;
}

.homepage-button:active {
  background: #f0f0f0;
}

.middle-container-middle-text {
    color: #424242;
    font-size: 17px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 4px;
}

.center-container-text-overall {
  color: rgba(255,255,255,0.95);
  font-size: 13px;
  margin-top: 16px;
  font-weight: 300;
}

.submit-email-button {
  color: #fff;
  background: #FF9F00;
  width: 150px;
  margin-top: 36px;
  border-radius: 3px;
  padding: 12px 16px;
  text-align: center;
}

.submit-email-button:hover {
  cursor: pointer;
  background: #FF9F00;
  color: #fff;
}

.have-an-account-text {
  font-size: 12px;
  margin-top: 36px;
  margin-bottom: 0px !important;
  color: rgba(255,255,255,0.8);
}

.download-the-app-button {
  font-size: 12px;
  color: #FF9F00;
  margin-bottom: 0px !important;
  margin-top: 4px;
}

.download-the-app-button:hover {
  cursor: pointer;
  color: #FF9F00;
}

#how-it-works-section,
#sign-up-business-section,
#log-in-business-section,
#forgot-password-business-section,
#download-app-business-section {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.how-it-works-container,
.sign-up-business-container,
.log-in-business-container,
.forgot-password-business-container,
.download-app-business-container {
  overflow: auto;
  background: #FFF;
  padding-bottom: 48px;
  display: none;
}

.how-it-works-wrapper,
.sign-up-business-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works-text,
.sign-up-business-text {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #111213;
  margin-top: 40px;
  margin-bottom: 56px;
}

.sign-up-business-text  {
  margin-bottom: 0px !important;
}

.exit-how-it-works-container,
.exit-sign-up-business-container,
.exit-log-in-business-container,
.exit-forgot-password-business-container,
.exit-download-app-business-container {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
}

.exit-how-it-works-container:hover,
.exit-sign-up-business-container:hover,
.exit-log-in-business-container:hover,
.exit-forgot-password-business-container:hover,
.exit-download-app-business-container:hover {
  cursor: pointer;
}

.how-it-works-step {
  text-align: center;
}

.how-it-works-step h3 {
  font-weight: 600;
  font-size: 16px;
  color: #111213;
  margin-top: 32px;
}

.how-it-works-step p {
  color: #939291;
  font-size: 12px;
}

.how-it-works-step img {
  width: 75px;
}

/* Stying for the sign up business drop down  */
.below-title-text-container {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.below-title-text {
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  margin-left: 8px;
}

.business-sign-up-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.business-sign-up-container .input {
  margin-top: 40px;
}

.double-input-container {
  overflow: auto;
}

.double-input-container .input {
  width: 50% !important;
  display: inline-block;
}

.first-name-input {
  padding-right: 8px;
}

.last-name-input {
  padding-left: 8px;
}

.continue-button {
  border: 1px solid #FF9F00;
  color: #FF9F00;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: center;
  margin-top: 40px;
}

.continue-button:hover {
  cursor: pointer;
  background: #FF9F00;
  color: #fff;
}

.log-in-button {
  border: 1px solid #FF9F00;
  color: #FF9F00;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}

.log-in-button:hover {
  cursor: pointer;
  background: #FF9F00;
  color: #fff;
}

.download-app-store-button-container {
  text-align: center;
  margin-top: 24px;
}

.download-app-store-button-container img {
  width: 150px;
}

/* Styling for the influencer sign up section  */

#influencer-sign-up-section {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.75);
  z-index: 1;
  overflow-y: scroll;
  display: none;
}

.influencer-sign-up-container {
  max-width: 700px;
  background: #FFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 64px;
  margin-top: 64px;
  border-radius: 2px;
}

.influencer-sign-up-wrapper {
  width: 450px;
  padding-left: 32px;
  padding-right: 32px;

}

.influencer-account-form-container {
  display: block;
}

.influencer-information-sign-up-form-container {
  display: none;
}

.influencer-account-form-wrapper h3 {
  color: #FF9F00;
  text-align: center;
  margin-top: 32px;
}

.account-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #484848;
  font-size: 14px;
  line-height: 1.43;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 24px;
}

.influencer-input-icon {
  display: inline-block;
  width: 9%;
  padding-right: 12px;
}

.influencer-input-container {
  margin-top: 28px;
}

.influencer-input {
  border: 1px solid #aaa;
  padding-left: 12px;
  margin-top: 8px;
  border-radius: 2px;
  padding-right: 12px;
}

.influencer-input input {
  border: none;
  border-left: 1px solid #aaa;
  padding-left: 12px;
  width: 91%;
  outline: none !important;
  color: #484848;
  font: menu;
  font-size: 0.9em;
}

.influencer-input-icon img {
  width: 20px;
}

.select-container {
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 8px;
  overflow: auto;
}

.birthday-select-container {
  margin-top: 24px;
}

.birthday-select-container strong {
  padding-bottom: 8px;
}

.select-col {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  width: 100%;
}

.select:before {
  content: '\25bc';
position: absolute;
pointer-events: none;
color: #767676;
top: 0;
bottom: 1px;
padding-top: 0.7em;
line-height: 1;
right: 0;
width: 2em;
text-align: center;
transform: scale(0.84, 0.42);
-webkit-transform: scale(0.84, 0.42);
-moz-transform: scale(0.84, 0.42);
-ms-transform: scale(0.84, 0.42);
-o-transform: scale(0.84, 0.42);
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand')";
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.42, SizingMethod='auto expand');
}

.select select {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 2em;
  display: block;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FFF;
}

.select select:hover {
  cursor: pointer;
}

.sign-up-button-influencer {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FF9F00;
  margin-bottom: 16px;
  margin-top: 24px;
  color: #fff;
  border-radius: 3px;
}

.sign-up-button-influencer:hover {
  cursor: pointer;
}

/* Influencer information form styles */

.gender-buttons-container {
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 16px;
}

.gender-button {
  border: 1px solid #f99f00;
  text-align: center;
  color: #f99f00;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gender-button.active,
.gender-button:hover {
  background: #f99f00;
  color: #FFF;
  cursor: pointer;
}

.gender-button:active {
  background: #f69d00;
}

.gender-button-clicked {
  background: #f99f00;
  color: #FFF;
}

.interest-explanation-text {
  color: #aaa;
  font-size: 12px;
  margin-top: 8px;
}

.interests-container {
  overflow: auto;
  margin-top: 24px;
}

.interest-container {
  padding: 0px !important;
}

.interest-wrapper {
  height: 75px;
  background: #f0f0f0;
}

.interest-wrapper:hover {
  cursor: pointer;
}

.interest-wrapper h3 {
  margin-top: 0px !important;
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 13px;
  color: #FFF;
  text-align: left;
  margin-bottom: 0px !important;
}

.interest-layer {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.tags-container {
  overflow: auto;
}

.add-tag-button-container {
  width: 16.66666666666666666666666667% !important;
}

.tags-input-container .input-container,
.add-tag-button-container {
  padding: 0px !important;
}

.tags-input-container {
  border: 1px solid #ff9f00;
  overflow: auto;
}

.tags-input-container .input-container input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #484848;
  outline: none !important;
  border: none !important;
}

.add-tag-button-container {
  border-left: 1px solid #ff9f00;
  text-align: center;
  height: 37px;
}

.add-tag-button-container:hover {
  background: rgba(255,159,0,0.3);
  cursor: pointer;
}

.add-tag-button-container:active {
  background: rgba(255,159,0,0.5);
}

.add-tag-button-container p {
  margin-bottom: 0px !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #ff9f00;
}

.interest-checked-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  opacity: 0;
  transition: all 0.2s ease;
}

.interest-checked-layer-show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  transition: all 0.2s ease;
}

.interest-checked-layer img {
  width: 15px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.interest-checked-layer-show img {
  width: 15px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.added-tags-container {
  overflow: auto;
  margin-top: 12px;
}

.added-tags-container .col-sm-10 {
  padding: 0px !important;
}

.tag-title-container p {
  font-size: 12px;
  color: #ff9f00;
  padding-left: 8px;
  margin-bottom: 0px;
}

.added-tags-container .col-sm-2 {
  width: 16.66666666666666667% !important;
  padding: 0px !important;
}

.added-tag-container {
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: auto;
}

.tag-subtract-container:hover {
  cursor: pointer;
  background: rgba(255,159,0,0.3);
}

.tag-subtract-container:active {
  background: rgba(255,159,0,0.5);
}

.tag-subtract-container p {
  text-align: center;
  color: #ff9f00;
  margin-bottom: 0px;
}

.error-message {
  font-size: 12px;
  margin-top: 6px;
  color: red;
}

.influencer-finish-sign-up-form-container {
  display: none;
}

.birthday-month-select {
  margin-top: 10px !important;
}

.influencer-account-form-wrapper {
  overflow-x: hidden;
}
