.store-button-container {
  margin-bottom: 32px;
}

.app-store-button-container img {
  width: 125px !important;
}

.home-text {
  font-size: 12px !important;
}

header .header-content .header-content-inner {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

.section-p {
  color: #a5a5a5;
}

.own-a-business-button {
  background: #5699e6;
  border-radius: 4px;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 175px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.own-a-business-button:hover {
  cursor: pointer;
  color: #5699e6;
  background: #fff;
}

#business-owner {
  width: 100vw;
  height: 30vh;
  background: #1f2022;
  color: #FFF;
  text-align: center;
  opacity: 0.9;
}

#business-owner h3 {
  margin-top: 0px !important;
  font-family: inherit;
}

#business-owner p {
  font-family: inherit;
  color: #e3e3e3;
  font-size: 12px;
  margin-top: 20px;
}

#business-owner .btn {
  font-family: inherit;
  background: #5699e6;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

.inner-business-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#business-owner .btn:hover {
  background: #FFF;
  color: #5699e6;
}

@media(min-width: 768px) {
  #mainNav {
    position: absolute;
  }
}

@media(min-width: 992px) {

  .navbar-brand img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 30px;
  }

  .navbar-nav li {
    margin-bottom: 0px;
  }

  .navbar-collapse {
    width: auto;
    transform: none;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .navbar-nav .page-scroll {
    font-size: 10px !important;
  }

  .passenger-header {
    font-family: inherit;
    font-size: 40px;
  }

  .home-text {
    font-size: 14px !important;
    max-width: 700px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .app-store-buttons {
    overflow: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  #what-is-it .section-heading {
    margin-bottom: 12px;
  }

  #home .app-store-button-container img {
    width: 125px !important;
  }

  #home .store-button-container {
    margin-bottom: 0px !important;
  }

  .learn-more-arrow {
    height: 20px;
  }

}
