#how-it-works {
  background: #eee;
}

.previous-section-clicker,
.next-section-clicker {
  width: 10%;
  float: left;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.previous-section-clicker {
  left: 10px;
}

.next-section-clicker {
  right: 10px;
}

.current-section-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.next-previous-clickers {
  height: 40px;
}

.how-it-works-container {
  margin-top: 72px;
}

.how-image {
  width: 75%;
  max-width: 150px;
}

.how-title-text {
  color: #4895D9;
  margin-top: 48px;
}

.how-text {
  color: #a5a5a5;
  margin-top: 32px;
}

.how-it-works-container-desktop  {
  display: none;
}

.how-it-works-container-desktop .phone-container {
  text-align: center;
}

.how-it-works-container-desktop .phone-container .how-title-text {
  font-family: inherit;
  font-size: 16px;
}

.how-it-works-container-desktop .phone-container .how-text {
  font-size: 12px;
  margin-top: 0px;
}

.right-arrow {
  margin-left: 28px;
  width: 35px;
}

@media(min-width: 992px) {

  .how-it-works-container {
    display: none;
  }

  .how-it-works-container-desktop {
    display: block;
  }

}
