#locations {
  background: #eee;
}

#locations .text-faded {
  color: #a5a5a5;
}

.inner-city-location-container {
  padding: 12px;
}

.inner-city-location-container:hover {
  cursor: pointer;
}

.inner-city-location-container img {
  width: 100%;
}

.inner-city-location-container p {
  text-align: left;
  margin-top: 20px;
  color: #a5a5a5;
}

#locations-popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  left: 0;
  z-index: 10000;
}

.locations-popup-container {
  background: #fff;
  width: 95%;
  max-width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 95%;
  overflow-y: scroll;
}

.locations-header {
  margin-left: 24px;
  font-size: 24px;
  color: #4895D9;
}

.locations-city-state {
  margin-left: 24px;
  font-size: 16px;
  margin-top: 8px !important;
}

.exit-locations-popup {
  position: absolute;
right: 12px;
top: 12px;
width: 15px;
}

.exit-locations-popup:hover {
  cursor: pointer;
}

.cityMerchantName {
  color: #4895D9;
  font-size: 18px;
  text-align: center;
}

.cityMerchantCrossStreets {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  margin-top: 8px !important;
}

.inner-city-column {
  margin-bottom: 12px;
}

.merchant-locations {
  margin-top: 32px;
  padding-bottom: 32px;
  overflow: auto;
}
