#login-section,
#login-section-admin {
  height: 100vh;
  width: 100vw;
  background:linear-gradient(rgba(0, 0 ,0 , .6), rgba(0, 0 ,0 , .6)), url(../img/homepage-background.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.top-left-info-container {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
}

.top-left-info-container img {
  width: 30px;
  height: 30px;
  float: left;
}

.passenger-top-header {
  margin-top: 6px !important;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  padding-left: 24px !important;
  font-size: 16px;
  float: left;
}

.login-header {
  margin-top: 0px !important;
  color: #FFF;
  text-align: center;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.login-form-container {
  background: #FFF;
  border-radius: 3px;
  margin-top: 24px;
}

.forgot-password-container {
  padding-bottom: 8px;
}

.forgot-password {
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #aaa;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px !important;
}

.forgot-password:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.forgot-password:active {
  background: #e3e3e3;
}

.login-input-container {
  padding: 12px;
}

.login-input-container input {
  width: 100%;
  border: none !important;
  outline: none;
  padding: 8px;
  background: #f0f0f0;
  border-radius: 2px;
}

.login-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #5699e6;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
}

.login-button:hover {
  cursor: pointer;
  background: #5292DB;
}

.login-button:active {
  background: #4B86C9;
}

#forgot-password-section,
#reset-password-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, .54);
  display: none;
}

.forgot-password-container-pop-up {
  width: 400px;
  background: #FFF;
  border-radius: 3px;
  position: absolute;
  padding: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.forgot-password-header {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  margin-top: 12px;
  color: #5699e6;
}

.forgot-password-container-pop-up input {
  margin-top: 12px;
  border: none;
  background: #f0f0f0;
  border-radius: 3px;
  outline: none;
  color: #aaa;
  font-family: 'Roboto',sans-serif;
  width: 100%;
  padding: 8px 12px;
}

.cancel-button,
.send-button {
  width: 100px;
  float: left;
  font-size: 12px;
  font-family: 'Roboto',sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
}

.cancel-button:hover,
.send-button:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.cancel-button:active,
.send-button:active {
  background: #e3e3e3;
}

.send-button {
  color: #7ED321;
}

.forgot-password-submit {
  margin-top: 16px;
  margin-bottom: 8px;
  overflow: auto;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error-container .error-string {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  font-size: 10px;
  color: red;
}
