.login-title {
  text-align: center;
  margin-top: 0px !important;
  font-family: inherit;
  font-size: 42px !important;
}

.login-container form {
  max-width: 400px !important;
  margin-top: 40px !important;
  text-align: center;
}

.login-container form label {
  font-size: 14px !important;
}

.login-container form .contact-submit-button {
  width: 150px !important;
  height: 40px !important;
  margin-left: auto;
  margin-right: auto;
}

.forgot-password-text {
  margin-top: 48px;
  text-align: center;
}

.forgot-password-text:hover {
  cursor: pointer;
}

.forgot-password-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0, .80)
}

.forgot-password-popup {
  background: #FFF;
  border-radius: 3px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 24px;
}

.password-final-stage {
  display: none;
}
