.navbar-nav {
  display: none !important;
}

.navbar-brand {
  padding: 0px !important;
}

#merchant-sign-up {
  height: 300px;
  min-height: 0% !important;
}

#merchant-sign-up .header-content {
  height: auto;
}

#merchant-sign-up .header-content-inner {
  transform: none !important;
}

#merchant-form-section {
  padding-top: 0px !important;
}

#support-contact-form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

#support-contact-form label {
  width: 100%;
  text-align: left;
  margin-top: 32px;
  font-weight: normal;
}

#support-contact-form input,
#support-contact-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-appearance: none;
  padding-left: 8px;
  margin-top: 4px;
}

#support-contact-form .error-message {
  text-align: left;
  color: red;
  margin-top: 8px;
  font-size: 12px;
}

#support-contact-form textarea {
  height: 150px;
  padding-left: 8px;
}

.why-are-contact {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #4A90E2;
  text-align: center;
}

.support-checkbox {
  width: 20px !important;
  height: 20px;
  border-radius: 2px !important;
  float: left;
  margin-right: 16px !important;
}

.checkbox-container {
  text-align: left;
  margin-bottom: 16px;
}

.checkbox-container input {
  margin-top: 0px !important;
}

input[type=checkbox]:checked {
    background-color: #4A90E2;
    border: 1px solid #4A90E2 !important;
}

.checkbox-container p {
  margin-bottom: 0px !important;
}

.support-contact-submit-button {
  border: 1px solid #4A90E2 !important;
  color: #4A90E2 !important;
  font-weight: normal;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  margin-top: 32px !important;
}

#contact-support-home .support-home-title {
  text-align: center;
  font-family: inherit;
}

#support-email-confirm-input {
  margin-top: 12px !important;
}

.brief-intro-divs {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.intro-div-container {
  display: none;
}

.brief-intro-divs .intro-div-inside-container {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.intro-div-inside-container img {
  width: 30px;
}

.intro-div-inside-container h3 {
  font-family: inherit;
  font-size: 14px;
}

.intro-div-inside-container p {
  font-size: 12px;
  font-weight: normal;
  color: #aaa;
}

.contact-div {
  display: block !important;
}

.merchant-contact-submit-button {
  width: 100% !important;
  max-width: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: none !important;
  color: #4A90E2 !important;
  border: 1px solid #4A90E2 !important;
  margin-top: 48px !important;
}

.merchants-email-container,
.merchants-business-info-container,
.merchants-personal-info-container {
  overflow: auto;
}

.merchant-form-button-container {
  width: 100%;
}

.merchant-form-button-container .btn {
  border-radius: 5px !important;
}

.merchants-business-info-container,
.merchants-personal-info-container {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.submitting-form-container  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40,40,40,0.9);
  text-align: center;
  z-index: 3000;
  display: none;
}

.inside-submit-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.inside-submit-container p {
  margin-top: 24px;
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.inside-submit-confirmed-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.inside-submit-confirmed-container p {
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  margin-top: 24px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.inside-submit-confirmed-container img {
  width: 50px;
}

.inside-submit-confirmed-container .btn {
  background: none !important;
  border: 1px solid #fff;
  color: #FFF;
  font-weight: normal;
  font-size: 12px;
  margin-top: 8px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.business-input-container {
  overflow: auto;
}

.merchants-personal-info-container .__input-item {
  overflow: auto;
}

@media(max-width: 768px) {
  .navbar-brand {
    padding-left: 12px !important;
    padding-top: 12px !important;
  }

  .navbar-toggle {
    display: none !important;
  }
}

@media(min-width: 768px) {
  #merchant-sign-up {
    height: 200px;
  }

  #merchant-sign-up .merchants-header {
    font-size: 24px;
    margin-top: 0px !important;
  }

  #merchant-sign-up .home-text {
    margin-bottom: 0px !important;
    font-size: 18px;
  }

  #support-contact-form .input-wrapper {
    width: 50%;
    float: left;
    text-align: center;
  }

  #support-contact-form label {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px !important;
    margin-bottom: 12px;
  }

  #support-contact-form input {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

}
