body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.merchant-nav-container {
  width: 100%;
  padding: 0px !important;
  background: #FFF;
}

.merchant-top-nav-inner-container {
  background: #f9f8f7;
  width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 12px;
    padding-right: 12px;
}

.merchant-top-nav-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;

}

.phone-image img {
  width: 18px;
}

.phone-image {
  padding-right: 12px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.top-left-merchant-nav-container p {
  padding-left: 12px;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  margin-bottom: 0px !important;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.top-left-merchant-nav-container {
  display: inline-block;
  height: 40px;
}

.top-right-merchant-nav-container {
  text-align: right;
  display: inline-block;
  float: right;
}

.get-started-button-nav {
  background: #4895D9;
  border-radius: 2px;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 120px;
  color: #FFF;
  text-align: center;
  float: right;
}

.get-started-button-nav:hover {
  cursor: pointer;
}

.get-started-button-nav:active {
  background: #3772A6;
}

.merchant-bottom-nav-inner-container {
  padding-left: 12px;
  padding-right: 12px;
}

.merchant-bottom-nav-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 24px;
  overflow: auto;
}

.passenger-logo-container {
  display: inline-block;
}

.passenger-name-text {
  display: inline-block;
  margin-left: 16px;
  color: #555;
  margin-bottom: 0px !important;
}

.passenger-name-text:hover {
  cursor: pointer;
}

.passenger-logo-container img {
  width: 30px;
}
.bottom-left-merchant-nav-container {
  display: inline-block;
}

.bottom-right-merchant-nav-container {
  display: inline-block;
  float: right;
  height: 30px;
}

.merchant-nav-link-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.merchant-nav-link {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0px !important;
  color: #555;
}

.merchant-nav-link:hover {
  cursor: pointer;
  color: #4895D9;
}

.link-one {
  margin-right: 48px;
}

#merchant-nav-mobile-container {
  display: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.merchant-bottom-nav-container-mobile {
  padding-left: 16px;
  padding-right: 16px;
}

.mobile-menu-item {
  width: 30px;
}

.mobile-menu-item:hover {
  cursor: pointer;
}

.merchant-slide-down-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  border-top: 1px solid #eee;
}

.merchant-slide-down-container {
  display: none;
  margin-top: 24px;
}

.merchant-mobile-nav-link-container {
  margin-top: 36px;
}

.merchant-mobile-nav-link {
  font-size: 14px;
  font-family: inherit;
  color: #555;
  text-align: center;
}

.merchant-mobile-nav-link:hover {
  cursor: pointer;
  color: #4895D9;
}

.merchant-mobile-nav-link:active {
  color: #4895D9;
}

#footer {
  margin-top: 0px !important;
}

#merchant-1 {
  background: linear-gradient(rgba(0, 0 ,0 , .6), rgba(0, 0 ,0 , .6)), url(../img/merchant-landing-page-homescreen.png);
  height: 500px;
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  margin: 0 0 0px 0;
}


.merchant-1-inner-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.merchant-1-left-info {
  width: 75%;
  display: inline-block;
  color: #fff;
}

.merchant-1-right-info {
  width: 25%;
  display: inline-block;
}

.merchant-1-left-info h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  font-family: inherit;
  letter-spacing: 1px;
}

.merchant-1-left-info p {
  font-size: 13px;
  margin-top: 32px;
  color: rgba(255,255,255,0.7);
}

.merchant-1-right-image-container {
  text-align: right;
}

.merchant-1-right-image-container img {
  width: 200px;
}

.get-started-button-merchant-1 {
  width: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #4895D9;
  color: #FFF;
  text-align: center;
  border-radius: 3px;
  margin-top: 32px;
}

.get-started-button-merchant-1:hover {
  cursor: pointer;
}

.get-started-button-merchant-1:active {
    background: #3772A6;
}

#merchant-2 {
  padding: 0px !important;
  background: #FFF;
  border-bottom: 1px solid #eee;
}

.passenger-logo-merchant-2-container img {
  width: 80px;
}

.merchant-2-inner-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 48px;
}

.merchant-section-2-title {
  font-family: inherit;
  margin-top: 32px;
  color: #555;
  font-size: 32px;
}

.merchant-section-2-text {
  font-family: inherit;
  color: #aaa;
  font-size: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.how-it-works-container {
  margin-top: 72px;
}

.how-image {
  width: 75%;
  max-width: 150px;
}

.how-title-text {
  color: #4895D9;
  margin-top: 48px;
}

.how-text {
  color: #a5a5a5;
  margin-top: 32px;
}

.how-it-works-container-desktop  {
  overflow: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}

.how-it-works-container-desktop .phone-container {
  text-align: center;
}

.how-it-works-container-desktop .phone-container .how-title-text {
  font-family: inherit;
  font-size: 16px;
}

.how-it-works-container-desktop .phone-container .how-text {
  font-size: 12px;
  margin-top: 0px;
}

.merchant-3-title-1 {
  text-align: center;
  color: #555;
  font-family: inherit;
  margin-bottom: 6px !important;
  font-size: 32px;
}

.merchant-3-title-2 {
  text-align: center;
  color: #555;
  font-weight: bold;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px !important;
  line-height: 40px;
  font-size: 32px;
}

.merchant-3-section-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.merchant-3-section {
  width: 65%;
  height: 100vh;
}

.merchant-3-section-right {
  height: 100vh;
  width: 65%;
}

.merchant-section-text {
  font-size: 13px;
  color: #aaa;
}

.inner-merchant-section {
  position: relative;
  top: 50%;
}

.merchant-section-title {
  color: #555;
  font-family: inherit;
  font-weight: bold;
  max-width: 400px;
}

.small-title-border {
  width: 65px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 3px;
  background: #4895D9;
}

.merchant-section-info-1 {
  margin-top: -100px;
}

#merchant-4 {
  border-top: 1px solid #eee;
  padding-top: 75px;
  padding-bottom: 75px;
}

.merchant-4-inner-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.merchant-4-left,
.merchant-4-right {
  width: 50%;
  display: inline-block;
}

.merchant-4-left h3 {
  font-family: inherit;
  color: #555;
  margin-top: 0px !important;
}

.sign-up-today-container {
  text-align: right;
}

.sign-up-today-button {
  width: 150px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #4895D9;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
  float: right;
  font-size: 12px;
}

.sign-up-today-button:hover {
  cursor: pointer;
}

.sign-up-today-button:active {
  background: #3772A6;
}

@media (min-width: 900px) {
  .inner-merchant-section {
    transform: translateY(-50%);
  }
}

@media (max-width: 900px) {
  .merchant-nav-container {
    display: none;
  }

  #merchant-nav-mobile-container {
    display: block;
  }

  .merchant-1-left-info {
    width: 95%;
  }

  .merchant-1-left-info h3 {
    font-size: 28px;
  }

  .get-started-button-merchant {
    width: 150px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
  }

  .phone-container {
    margin-top: 48px;
  }

  .merchant-3-section {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .merchant-3-section-right {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .merchant-section-info-1 {
    margin-top: 200px !important;
    height: auto;
  }

  .merchant-3-section,
  .merchant-3-section-right {
    margin-top: 160px;
  }

  .merchant-4-left  {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  .merchant-4-right {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    overflow: auto;
  }

  .sign-up-today-button {
    float: none !important;
    margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  }

  .inner-merchant-section {
    position: relative;
    top: 0 !important;
    transform: translateY(0%); !important;
  }
}
