#hunting {
  background:linear-gradient(rgba(0, 0 ,0 , .4), rgba(0, 0 ,0 , .4)), url(../img/camo-background.png);
  padding-top: 80px;
}

.people-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.person-div {
  margin-top: 80px;

}

.person-div a {
    margin-right: none !important;
}

.person-div img {
  width: 250px;
  height: 250px;
  border-radius: 5000px;
  margin-right: none !important;
}

.portfolio-box {
  width: 250px;
  height: 250px;
}

.person-div h3 {
  font-family: inherit !important;
}

.person-div .about-hunt-title {
  font-weight: bold;
}

.hunting-heading {
  color: #FFF;
}

.hunting-text {
  margin-top: 32px;
  margin-bottom: 48px;
}

.hunting-type-container {
  margin-top: 70px;
}

.hunting-type-container h3 {
  font-family: inherit;
}

.about-hunt-title {
  margin-top: 32px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
}

.about-hunt-time {
  color: #8b8b8b;
  font-size: 14px;
}

.hunting-type-container .image-container img {
  padding: 24px;
  width: 125px;
  height: 125px;
}

.hunting-type-container .image-container img:hover {
  cursor: pointer;
  background: rgba(74,74,74,0.70);

  border-radius: 4px;
}

.hunt-explained-dialog {
  position: absolute;
  padding: 32px;
  padding-bottom: 24px !important;
  background: #FFF;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 400px;
  display: none;
    box-shadow: 0px 7px 5px 2px rgba(0,0,0,0.16),0px 2px 7px 2px rgba(0,0,0,0.23);
}

.hunt-explained-dialog h3 {
  margin-top: 0px !important;
  font-family: inherit;
  color: #8ad47b;
}

.buttons-row {
  text-align: right;
  margin-top: 40px;
}

.buttons-row button {
  background: none;
  border: none;
  font-family: inherit;
  color: #8ad47b;
  padding: 8px;
  border-radius: 3px;
}

.buttons-row button:hover {
  background: rgba(227,227,227,0.70);
}

.buttons-row button:focus {
  outline: none;
}

.register-button-dialog {
  margin-right: 12px;
}

.exit-person-expanded-hunt {
  margin-top: 0px !important;
}

.hunt-type-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.locations-text {
  color: #00986A;
}

.locations-text:hover {
  cursor: pointer;
}

.hunt-type-expanded-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  background: #FFF;
  border-radius: 1px;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hunt-type-expanded-container h3 {
  margin-top: 0px !important;
  font-family: inherit;
  font-weight: bold;
  color: #9A998C;
}

.hunt-type-expanded-container p {
  margin-top: 16px;
}

.close-expanded-hunt-button {
  background: #9A998C;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-size: 12px;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.16),0px 2px 4px 2px rgba(0,0,0,0.23);
}

.locations-conatiner {
  margin-top: 24px;
}

.location-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.location-container:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.location-container p {
  text-align: center;
  margin-bottom: 0px !important;
}

.location-container .city {
  margin-bottom: 4px !important;
  color: #00986A;
}

.close-expanded-hunt-button:hover {
  color: #FFF;
}

.hunt-location-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.frame-container {
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 630px;
  background: #FFF;
  border-radius: 1px;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.frame-container iframe {
  margin-top: 30px;
}

.location-frame {
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hunt-location-expanded-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  background: #FFF;
  border-radius: 1px;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
}

.hunt-location-expanded-container h3 {
  width: 150px;
  margin-top: 0px !important;
  font-family: inherit;
}

.animal-date-location-container {
  overflow: auto;
  margin-top: 32px;
}

.animal-date-container {
  margin-bottom: 18px;

}

.animal-inside-date-container {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 2px;
    padding: 8px;
    padding-top: 16px;
    background: #00986A;
    color: #FFF;
}

.animal-inside-date-container:hover {
  background: #e3e3e3;
  cursor: pointer;
  color: #4a4a4a;
}

.animal-date-container h3,
.animal-date-container p {
  text-align: center;
}

.animal-date-container p {
  margin-bottom: 8px !important;
}

.hunt-animal-type,
.hunt-animal-price {
  width: 100% !important;
}

.current-animal-locations {
  margin-top: 24px;
}

.current-animal-locations,
.current-animal-dates {
  color: #000;
}

.current-animal-locations:hover,
.current-animal-dates:hover {
  cursor: pointer;
  color: #FFF;
}

.hunt-location-dates-container {
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  background: #FFF;
  border-radius: 1px;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
}

.hunt-location-dates-container h3 {
  font-family: inherit;
  margin-top: 0px !important;
}

.hunt-location-dates-container .price-div {
  margin-top: 24px !important;
  margin-bottom: 24px;
}
