body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.col-sm-2 {
  width: 20%;
}

.form-error-message {
  color: red;
  font-size: 12px;
  margin-top: 12px;
}
