.passenger-picture-what {
  width: 70%;
  margin-top: 32px;
  max-width: 200px;
}

.what-is-it-text {
  margin-top: 48px;
  width: 85%;
  margin-left: auto;
  max-width: 800px;
  margin-right: auto;
}
