#contact {
  background-color: #FFF;
  margin-bottom: 479px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
}

#contact .container {
  width: 100%;
}

#contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#contact-form .__input-item {
  margin-top: 48px;
}

#contact-form label {
  display: block;
  text-align: left;
  color: #e3e3e3;
  font-size: 20px;
}

@keyframes inputAnimateRight {
  from {width: 0px;}
  to {width: 100%;}
}
@-webkit-keyframes inputAnimateRight {
  from {width: 0px;}
  to {width: 100%;}
}
@-moz-keyframes inputAnimateRight {
  from {width: 0px;}
  to {width: 100%;}
}
@-ms-keyframes inputAnimateRight {
  from {width: 0px;}
  to {width: 100%;}
}
@-o-keyframes inputAnimateRight {
  from {width: 0px;}
  to {width: 100%;}
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  height: 0px;
  margin-top: -2px;
  padding: 0px;
  margin-bottom: 0px;
}

.input-wrapper {
  text-align: left;
}

.input-method-animation {
  -webkit-animation: inputAnimateRight .5s 0s linear alternate;
  -moz-animation: inputAnimateRight .5s 0s linear alternate;
  -ms-animation: inputAnimateRight .5s 0s linear alternate;
  -o-animation: inputAnimateRight .5s 0s linear alternate;
  animation: inputAnimateRight .5s 0s linear alternate;
}

#contact-form textarea {
  margin-top: -10px;
  padding-top: 10px;
}

#contact-form label:hover {
  cursor: text;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form button:focus {
  outline: none;
}

#contact-form .error-message {
  text-align: left;
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

#contact-form button {
  margin-top: 50px;
  width: 250px;
  height: 65px;
  border-radius: 5px;
  background: #8ad47b;
  font-size: 20px;
  color: #FFF;
}

.contact-submit-button {
  height: 65px !important;
  border: none !important;
  width: 250px !important;
  margin-top: 40px !important;
  border-radius: 5px;
  background-color: #9A998C;
  color: #FFF;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.16),0px 2px 3px 2px rgba(0,0,0,0.23);
}

.contact-submit-button:hover {
  color: #FFF;
}

.contact-extra-types-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-top: 96px;
}

.extra-contact-types div {
  text-align: center;
}

.extra-contact-types div img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.extra-contact-types div h3 {
  font-family: inherit;
  font-size: 14px;
}

.faq-selector:hover {
  cursor: pointer;

}

.extra-contact-types div p {
    color: #9A998C;
}
