.faq-back-button img {
  width: 30px;
}

.faq-title {
  text-align: center;
}

#faq {
  padding-top: 40px !important;
  background: #e3e3e3;
  height: 100%;
}

.question-container {
  max-width: 300px;
  background: #FFF;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.question-container p,
.expanded-questions-container p {
  margin-bottom: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question-list-container .image-container,
.expanded-question-list-container .image-container {
  height: 56px;
  padding-right: 0px !important;
  text-align: right;
}

.question-next-button {
  width: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 6px;
}

.question-list-container {
  background: #FFF;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  overflow: auto;
}

.question-list-container:hover,
.expanded-question-list-container:hover {
  cursor: pointer;
  background: #00986A;
    color: #fff;
}

.expanded-questions-container {
  display: none;
  overflow: auto;
   width: 100%;
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   background: #FFF;
   border-radius: 2px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.26);
   margin-top: 40px;
}

.expanded-question-list-container {
  padding-right: 12px;
  overflow: auto;
}

.back-button-questions-container {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #00986A;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin-top: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: none;
}

.back-button-questions-container p {
  text-align: center;
  margin-bottom: 0px !important;
  color: #FFF;
}

.back-button-questions-container:hover {
  cursor: pointer;
  background: #8ad47b;
}

#answer-section {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.faq-answer-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.faq-answer-container h3 {
  margin-top: 0px !important;
}
