include ./partials/_head.jade

block content
		#bg
			.message
				.header 404
				.body We're sorry, we can't find the requested page.
				.buttons
					a.go-home(href="/") Home
					a.contact(href="/support/contact-support") Contact