extends ./layouts/_benefitsLayout.pug

block content
  section#about-section
    .showt-logo-about
      img(src='/static/img/showt-local-logo.png')
    .about-top-section
      .about-top-section-center-container
        .about-wrapper
          h3 We believe that everyone's voice should be heard.
          p The powers of modeling and marketing should not just be restricted to the wealthy. We want to bring that same voice to everyone who wants it in order to level the playing field.
    .benefits-section-container
      .benefits-section-wrapper
        .benefits-info-container
          h3 Making a lasting difference
          p The core value that we hold dear to our hearts here at Showt is to give everyone a voice. Whether this be the girl with 1,000 instagram followers or the small business just trying to stay alive, the playing field should be level enough for everyone to play.
          p This is why we donate 5% of all of our profits to the Bill and Melinda Gates foundation to help inner city students get the schooling that they need and to help rid the world of many terrible diseases. There is no playing field that should be more even than that of life itself. By educating the youth and helping the sick, we again are giving everyone a voice and a chance. The bottom line is this: At Showt, we care.
          .seperator-div
    .benefits-section-container.last-about-section
      .benefits-section-wrapper
        .benefits-info-container
          h3 Our team
          p We would not be anywhere close to where we are today if it wasn't for our amazing team. Culture is an extremely important part of everything that we do here at Showt, this is why we take tremendous pride in the talent that we hire. Meet our team below!
          .seperator-div
          .team-pictures-container
            .team-member-container.col-sm-4
              .picture-container
                img(src='/static/img/connor.jpg')
              .picture-hovered-container
                .picture-hovered-wrapper
                  p.member-name Chris Garduno
                  p.member-title Co-founder &amp; CPO
            .team-member-container.col-sm-4
              .picture-container
                img(src='/static/img/connor.jpg')
              .picture-hovered-container
                .picture-hovered-wrapper
                  p.member-name Connor Myers
                  p.member-title Co-founder &amp; CEO
            .team-member-container.col-sm-4
              .picture-container
                img(src='/static/img/connor.jpg')
              .picture-hovered-container
                .picture-hovered-wrapper
                  p.member-name Tim Farrow
                  p.member-title Co-founder &amp; CTO
  include ./partials/_footer.pug
block customJS
  script(src='/static/js/footer.js')
  script(src='/static/js/about.js')
