extends ./adminLoginLayout.jade

block content
	section#login-section-admin
		.top-left-info-container
			img(src='/static/img/passenger-logo.png')
			h3.passenger-top-header Passenger Merchant Dashboard
		.login-container
			h3.login-header Login
			.login-form-container
				.login-input-container
					input(type='email', name='admin-email',placeholder='Email', data-bind="textInput: adminLoginEmail")
				.login-input-container
					input(type='password', name='admin-password',placeholder='Password', data-bind="textInput: adminLoginPassword")
				.login-input-container
					.login-button(data-bind="click: loginAdminButtonClicked") LOG IN
				.error-container 
					p.error-string(data-bind="text: adminLoginErrorString")
