doctype html
html(lang="en")
		include ./partials/_head.jade
		body#page-top
			block content

			script(src='/static/js/jquery.js')
			script(src="https://cdn.firebase.com/js/client/2.4.0/firebase.js")
			script(src='/static/js/knockout.js')
			script(src='/static/js/moment.js')
			// Bootstrap Core JavaScript
			script(src='/static/js/bootstrap.min.js')
			// Plugins JavaScript
			script(src='/static/js/jquery.easing.min.js')
			script(src='/static/js/jquery.fittext.js')
			script(src='/static/js/wow.min.js')
			script(src='/static/js/fullcalendar.min.js')
			// Custom Theme JavaScript
			script(src='/static/js/creative.js')
			script(src='/static/js/site.js')
			script(src='/static/js/firebaseFuncs.js')
script(src='/static/js/admin.js')
