extends ./layouts/_benefitsLayout.jade

block content
  include ./partials/_forgotPasswordSection.jade
  include ./partials/_logInSection.jade
  include ./partials/_signUpSection.jade
  section#benefits-section
    include ./partials/_businessNavigation.jade
    .benefits-top-section
      .benefits-top-section-center-container
        .benefits-wrapper
          h3 See what influencer marketing can do for your company
          p Introduce people to your company by reaching them where they always are. Influencer marketing is the #1 way to reach your customers.
    .benefits-section-container
      .benefits-section-wrapper
        .benefits-info-container
          h3 What is influencer marketing?
          p Influencer marketing is a form of marketing in which focus is placed on specific key individuals rather than the target market as a whole. This allows marketeres and advertisers to get more creative and push their products to people in a more effective way.
          .seperator-div
          ul.bullet-list
            li
              p This is going to be some cool txt on why influencer marketing is amazing. This is going to be some cool txt on why influencer marketing is amazing.
            li 
              p This is going to be some cool txt on why influencer marketing is amazing. This is going to be some cool txt on why influencer marketing is amazing.
    .benefits-section-container
      .benefits-section-wrapper
        .benefits-info-container
          h3 Why do you need influencer marketing?
          p It's no secret that social media is the new form of communication. Therefore, for companies to be successful they must adapt to the trends of the current market. Influencer marketing has been around since the radio came out and Showt Local will be here for the next big thing as well.
          .seperator-div
          ul.bullet-list
            li
              p Influencer marketing has been around for decades and is not going anywhere any time soon.
            li
              p This form of marketing has been proven to see significantly higher results for the businesses that are engaged in it.
            li 
              p Showt Local is always up to date on the latest social media trends. We strive to bring you the best experience possible. This is why we quickly adopt the next great social media platforms on our products.
    .benefits-section-container.second-to-last-section
      .benefits-section-wrapper
        .benefits-info-container
          h3 How can Showt Local help you?
          p The main problem with influencer marketing is actually gettting a hold of and manages the influencers for your campaign. This is exactly where Showt Local comes in. We control everything from finding influencers, managing influencers, and managing your campaigns.
          .seperator-div
          ul.bullet-list
            li
              p This is going to be some cool txt on why influencer marketing is amazing. This is going to be some cool txt on why influencer marketing is amazing.
            li 
              p This is going to be some cool txt on why influencer marketing is amazing. This is going to be some cool txt on why influencer marketing is amazing.
    .benefits-section-container.last-benefits-section
      .benefits-section-wrapper.last-wrapper
        .benefits-info-container
          h3 Why you'll love Showt Local
          .seperator-div
          .love-item-container.col-sm-4
            .love-item-wrapper
              h3 Business growth
              p Influencer marketing is the #1 way to grow your business and Showt Local makes is 10x easier.
          .love-item-container.col-sm-4
            .love-item-wrapper
              h3 Support
              p We are always here for you. Our sole purpose of being in business is see you succeed. You have support whenever you need it.
          .love-item-container.col-sm-4
            .love-item-wrapper
              h3 Flexibility
              p You control your entire campaign. You control the feel, the people who promote your product, how much you pay, everything.
  include ./partials/_footer.jade
block customJS
  script(src='/static/js/benefits.js')
