extends ./layouts/_businessDashboardLayout.pug

block content
	section#edit-business-info-section(data-bind="click: hideEditBusinessInformationSection")
		.business-sign-up-form-container
			.business-login-form-wrapper
				.influencer-account-form-wrapper
					.influencer-account-form-wrapper.business-edit-account-info
						h3 Edit information
						p.account-text Create a Shout Local acccount to start growing your business today!
						.influencer-information-form-container
							.influencer-input-container
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/email.png')
									input(type='email',placeholder='Email address', value="connormyers21@gmail.com")
								p.error-message Please enter a valid email
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/user.png')
									input(type='text',placeholder='First name', value="Connor")
								p.error-message Please enter a first name
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/user.png')
									input(type='text',placeholder='Last name', value="Myers")
								p.error-message Please enter a last name
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/lock-grey.png')
									input(type='password',placeholder='Password', value="baller21")
								p.error-message Please enter a password with at least 6 characters
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/business-contact.png')
									input(type='text',placeholder='Business name', value="Showt App")
								p.error-message Please enter your business' name
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/phone.png')
									input(type='text',placeholder='Phone number', value="(559) 940-9699")
								p.error-message Please enter a phone number using spaces, hyphens, and parentheses
							p.error-message Make sure to fill out all of the fields on this page.
							.sign-up-button-container-influencer
								.sign-up-button-influencer(data-bind="click: showBusinessFurtherInfoContainer") Continue
					.influencer-information-sign-up-form-container.business-edit-business-information
						.influencer-account-form-wrapper
							h3 Account information
							p.account-text Fill out the information below so we can find the best campaigns possible for you. We recommend you be as detailed as possible so that you can have the most success.
								.sign-up-button-container-influencer
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/instagram-grey.png')
										input(type='text',placeholder='Business instagram username', value="@getShowt")
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Company type
										p.interest-explanation-text Select one of the items below that most pertains to your company
										.interests-container(data-bind="foreach: interests")
											.col-sm-6.interest-container(data-bind="click: $root.addInterestTypeToList.bind($data, $index())")
												.interest-wrapper(data-bind="style: {backgroundImage: interestImage}, click: $root.showInterestCheckLayer", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
													.interest-layer
													h3(data-bind="text: interestTitle")
													.interest-checked-layer
														img(src='/static/img/checked-box-white.png')
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Tags
										p.interest-explanation-text Add any other words that you think would give us a better understanding of your business to help your experience with Shout Local better.
										.tags-container
											.tags-input-container
												.tags-input-wrapper
													.input-container.col-sm-10
														input(type="text",placeholder="Enter another interest of yours")
													.add-tag-button-container.col-sm-2(data-bind="click: addBusinessTag")
														p +
										.added-tags-container(data-bind="foreach: businessTagList")
											.added-tag-container
												.tag-title-container.col-sm-10
													p(data-bind="text: interestTitle")
												.tag-subtract-container.col-sm-2(data-bind="click: $root.deleteTagFromList.bind($data, $index())")
													p -
									p.error-message Please enter your instagram name and gender. We also highly recommend that you add some interests and tags so you can have the most success.
									.sign-up-button-influencer(data-bind="click: saveBusinessInformation") Save
	section#create-campaign-section
		.create-campaign-help-container
			.create-campaign-help-wrapper
				p(data-bind="text: currentHelpText")
				.hero
		.create-campaign-information-container.active-create-campaign-container
			.campaign-creation-step-container.campaign-info-container
				.create-step-wrapper
					.step-title-container
						h3 Campaign information
						p Enter in the basic information for the campaign that you are wanting to create. This will be shown to the influencer. The more descriptive and the better images you upload the more influencers are going to want to apply to your campaign.
						.seperator-div
					.sides-container
						.row
							.left-side-creation-container.col-sm-6
								.creation-side-wrapper
									.campaign-image-container
										h4.section-header CAMPAIGN PHOTO
										img.help-icon#help-icon-1(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.campaign-image-wrapper
											.plus-container
												p +
							.right-side-creation-container.col-sm-6
								.creation-side-wrapper.right-wrapper
									.create-input-wrapper
										h4.section-header BRAND NAME
										img.help-icon#help-icon-2(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										input(type="text", placeholder="Enter the name of the brand or company", data-bind="textInput: brandName")
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CAMPAIGN NAME
										img.help-icon#help-icon-3(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										input(type="text", placeholder="Enter the name of the campaign", data-bind="textInput: campaignName")
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CAMPAIGN DESCRIPTION
										img.help-icon#help-icon-4(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.content-editable(contenteditable="true",placeholder="Enter a brief description of your campaign")
						.bottom-action-buttons
							.next-button(data-bind="click: nextButtonClicked") NEXT
						p.error-message(data-bind="visible: campaignInfoNotValidated") Please make sure to fill out all of the forms descriptively.
		.create-campaign-information-container
			.campaign-creation-step-container.campaign-info-container
				.create-step-wrapper
					.step-title-container
						h3 Post information
						p The information below will allow influencers to get a better understanding on what it is that you are wanting them to post on their social media. The more descriptive you are, the more successful you will be.
						.seperator-div
					.sides-container
						.row
							.left-side-creation-container.col-sm-6
								.creation-side-wrapper
									.create-input-wrapper
										h4.section-header CONTENT FROM INFLUENCER
										img.help-icon#help-icon-5(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.content-editable(contenteditable="true",placeholder="Give a brief description of the content that you want from the influencer", data-bind="textInput: influencerContent")
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CALL TO ACTION
										img.help-icon#help-icon-6(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										input(type="text", placeholder="What do you want viewers of the post to do? (Visit shop, view website, etc.)", data-bind="textInput: callToAction")
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header TAGS
										img.help-icon#help-icon-7(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.tags-conatiner
											input.col-sm-10(type="text", placeholder="What tags would you link to be include in the post",data-bind="textInput: currentTag")
											.tags-plus-container.col-sm-2(data-bind="click: addTagToList")
												p +
										.tags-added-container(data-bind="foreach: tagsList")
											p.tag.col-sm-10(data-bind="text: tagName")
											.tags-subtracted-container(data-bind="click: $root.deleteTagFromTagList.bind($index())")
												p.col-sm-2 -
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header COMPANY VIBE
										img.help-icon#help-icon-8(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.company-vibe-pic-6-container
											.row
												.col-sm-4.pic-container
													p +
												.col-sm-4.pic-container
													p +
												.col-sm-4.pic-container
													p +
											.row
												.col-sm-4.pic-container
													p +
												.col-sm-4.pic-container
													p +
												.col-sm-4.pic-container
													p +
							.right-side-creation-container.col-sm-6
								.creation-side-wrapper.right-wrapper
									.create-input-wrapper
										h4.section-header PLATFORMS
										img.help-icon#help-icon-9(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.platform-image-container
											img(src='/static/img/instagram-grey.png')
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header POSTING REQUIREMENTS
										img.help-icon#help-icon-10(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p In store posting
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p Product delivery
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p Stock promo pic
						.bottom-action-buttons
							.next-button.back-button(data-bind="click: backButtonClicked") BACK
							.next-button(data-bind="click: nextButtonClicked") NEXT
		.create-campaign-information-container
			.campaign-creation-step-container.campaign-info-container
				.create-step-wrapper
					.step-title-container
						h3 Influencer information
						p To run a successful campaign you must have the perfect match when it comes to influencers who are representing your company. Fill out the information below as descriptive as possible to make sure you get the best people for your job.
						.seperator-div
					.sides-container
						.row
							.left-side-creation-container.col-sm-6
								.creation-side-wrapper
									.create-input-wrapper
										h4.section-header AGE RANGE
										img.help-icon#help-icon-11(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.age-select-container
											.age-select-wrapper.col-sm-5
												.select-age
													select(data-bind="value: lowerAgeRange")
														option(value="") 16
														option(value="") 17
														option(value="") 18
														option(value="") 19
														option(value="") 20
														option(value="") 21
														option(value="") 22
														option(value="") 23
														option(value="") 24
														option(value="") 25
														option(value="") 26
														option(value="") 27
														option(value="") 28
														option(value="") 29
														option(value="") 30
														option(value="") 31
														option(value="") 32
														option(value="") 33
														option(value="") 34
														option(value="") 35
														option(value="") 36
														option(value="") 37
														option(value="") 38
														option(value="") 39
														option(value="") 40
														option(value="") 41
														option(value="") 42
														option(value="") 43
														option(value="") 44
														option(value="") 45
														option(value="") 46
														option(value="") 47
														option(value="") 48
														option(value="") 49
														option(value="") 50+
											.dash-container.col-sm-2
												p -
											.age-select-wrapper.col-sm-5
												.select-age
													select(data-bind="value: upperAgeRange")
														option(value="") 17
														option(value="") 18
														option(value="") 19
														option(value="") 20
														option(value="") 21
														option(value="") 22
														option(value="") 23
														option(value="") 24
														option(value="") 25
														option(value="") 26
														option(value="") 27
														option(value="") 28
														option(value="") 29
														option(value="") 30
														option(value="") 31
														option(value="") 32
														option(value="") 33
														option(value="") 34
														option(value="") 35
														option(value="") 36
														option(value="") 37
														option(value="") 38
														option(value="") 39
														option(value="") 40
														option(value="") 41
														option(value="") 42
														option(value="") 43
														option(value="") 44
														option(value="") 45
														option(value="") 46
														option(value="") 47
														option(value="") 48
														option(value="") 49
														option(value="") 50+
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header TARGET REGION
										img.help-icon#help-icon-12(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.target-region-container
											input.col-sm-10(type="text",placeholder="Where do you want influencers to be from?",data-bind="textInput: currentLocation")
											.tags-plus-container.col-sm-2(data-bind="click: addLocationToList")
												p +
										.added-locations-container
											.location-container(data-bind="foreach: locationsList")
												.location-container
													.location-icon-container.col-sm-1
														img(src='/static/img/person.png')
													p.col-sm-10(data-bind="text: locationName")
													.delete-icon-container.col-sm-1(data-bind="click: $root.deleteLocationFromList.bind($index())")
														p.subtract-location -
							.right-side-creation-container.col-sm-6
								.creation-side-wrapper.right-wrapper
									.create-input-wrapper
										h4.section-header GENDER
										img.help-icon#help-icon-13(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.gender-buttons-create-container
											.gender-buttons-create-wrapper
												.gender-button-create-container.col-sm-6
													.gender-button.male-button MALE
												.gender-button-create-container.col-sm-6
													.gender-button.female-button FEMALE
						.influencer-interest-container.create-input-wrapper-bottom
							.influencer-interest-wrapper
								h4.section-header INTERESTED IN
								img.help-icon#help-icon-14(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
								.influencer-interest-type-container(data-bind="foreach: interestArray")
									.col-sm-3.interest-type-info-container
										.influencer-interest-picture-container(data-bind="style: {backgroundImage: backgroundImageHere}", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
										h3.interest-type(data-bind="text: interestType")
										.influencer-hover-container
										.influencer-clicked-container
											img.check-mark-box(src='/static/img/checked-box-white.png')
						.bottom-action-buttons
							.next-button.back-button(data-bind="click: backButtonClicked") BACK
							.next-button(data-bind="click: nextButtonClicked") NEXT
		.create-campaign-information-container
			.campaign-creation-step-container.campaign-info-container
				.create-step-wrapper
					.step-title-container
						h3 Review information
						p Review the information that you have submitted. On the left is what influencers are going to see and on the right is what only you yourself can see.
						.seperator-div
					.sides-container
						.row
							.left-side-creation-container.col-sm-6
								.creation-side-wrapper
									.create-input-wrapper
										h4.section-header SHOWTOUT POSTING
								.review-posting-container
									.create-input-wrapper
										.business-picture-container
											img(src='/static/img/connor.jpg')
									.create-input-wrapper
										h4.section-header BUSINESS NAME
										.business-information-container
											p Nutrishop Fresno
									.create-input-wrapper
										h4.section-header POSTING TITLE
										.business-information-container
											p Earn money promoting Nutrishop in Fresno,CA
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CAMPAIGN DESCRIPTION
										p.review-p This is going to be the description for the campaign. It is going to give a brief description of what the campaign is, how much the person is going to make and many more other things.
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CALL TO ACTION
										p.review-p Check out the Nutrishop at Campus Pointe.
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header POSTING VIBE
										p Below this there is going to be the same pictures on the previous page to
									.create-insput-wrapper.create-input-wrapper-bottom
										h4.section-header PLATFORMS
										.platform-image-container
											img(src='/static/img/instagram-grey.png')
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header TAGS
										p.review-p @passengermobile
										p.review-p #passengermobile
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header POSTING TYPE
										p.review-p In-store posting
							.right-side-creation-container.col-sm-6
								.creation-side-wrapper.right-wrapper
									.create-input-wrapper
										h4.section-header INFLUENCER INFORMATION
										.influencer-side-by-side-container
											.review-influencer-container
												p.review-title Age
												p.review-p 16-24
											.review-influencer-container
												p.review-title Gender
												p.review-p Male
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header TARGET REGION
										.target-region-container-review
											p.review-p Fresno, Ca
											p.review-p Clovis, Ca
											p.review-p New York, NY
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header INTERESTS
										.influencer-interests-container.influencer-interests-container-review
											.interest-container-review.col-sm-6.food-container
												h3 Food &amp; Drink
											.interest-container.col-sm-6.automotive-container
												h3 Automotive
						.bottom-action-buttons
							.next-button.back-button(data-bind="click: backButtonClicked") BACK
							.next-button(data-bind="click: finishButtonClicked") FINISH
	section#business-dashboard-home-section
		.business-dashboard-nav-container
			.business-dashboard-nav-wrapper
				.navigation-left-side-container.col-sm-6
					.navigation-left-side-wrapper
						.showt-out-icon-container
							img(src='/static/img/showt-local-logo.png')
				.navigation-right-side-container.col-sm-6
					.navigation-right-side-wrapper
						ul.right-link-container
							li
								p.business-dash-link.home-link(data-bind="click: sendHome") Home
							li
								p.business-dash-link.help-page-link(data-bind="click: sendToHelpPage") Help
							li
								p.business-dash-link.create-campaign-link(data-bind="click: showCreateCampaignContainer") Create
							li.business-right-container(data-bind="click: showBusinessDropDown")
								p Nutrishop
								.business-picture-container
									img(src='/static/img/showt-local-logo.png')
		.business-dropdown-container
			.business-dropdown-wrapper
				.business-action-item-container(data-bind="click: showEditBusinessInformationContainer")
					.action-item-icon-container
						img(src='/static/img/edit-orange.png')
					p Edit info
				.business-action-item-container(data-bind="click: signOutBusinessUser")
					.action-item-icon-container
						img(src='/static/img/user-orange.png')
					p Sign out
		.business-dashbaord-home-container
			.current-campaigns-container.campaigns-container
				.overall-campaigns-wrapper
					h3 Active campaigns
					.campaigns-wrapper(data-bind="foreach: currentCampaigns")
						.campaign-container.col-sm-4
							.campaign-wrapper
								.campaign-image-container
									img(src='/static/img/business-background.jpg')
								.row.business-campaign-info-row
									.influencer-count-container.col-sm-6
										.influencer-count-icon-container
											img(src='/static/img/person.png')
										p 5
										span influencers
									.amount-spent-container.col-sm-6
										.amount-spent-wrapper
											p $213
											span spent
								p.campaign-text This is going to be the description text that is going to explain the brief text of what this campaigns is and what it does.
			.previous-campaigns-container.campaigns-container
				.overall-campaigns-wrapper
					h3 Finished campaigns
					.campaigns-wrapper(data-bind="foreach: previousCampaigns")
						.campaign-container.col-sm-4
							.campaign-wrapper
								.campaign-image-container
									img(src='/static/img/business-background.jpg')
								.row.business-campaign-info-row
									.influencer-count-container.col-sm-6
										.influencer-count-icon-container
											img(src='/static/img/person.png')
										p 5
										span influencers
									.amount-spent-container.col-sm-6
										.amount-spent-wrapper
											p $213
											span spent
								p.campaign-text This is going to be the description text that is going to explain the brief text of what th
	include ./partials/_footer.pug
