extends ./layouts/_businessDashboardLayout.jade

block content
	section#create-campaign-home-section
		.business-dashboard-nav-container
			.business-dashboard-nav-wrapper
				.navigation-left-side-container.col-sm-6
					.navigation-left-side-wrapper
						.showt-out-icon-container
							img(src='/static/img/showt-local-favicon.png')
				.navigation-right-side-container.col-sm-6
					.navigation-right-side-wrapper
						ul.right-link-container
							li
								p.business-dash-link Home
							li
								p.business-dash-link Help
							li
								p.business-dash-link Create
							li.business-right-container
								p Nutrishop
								.business-picture-container
									img(src='/static/img/showt-local-logo.png')
		.create-campaign-home-container
			.create-campaign-progress-container.col-sm-2
				.create-campaign-progress-wrapper
					.campaign-progress-item.active-progress-item
						.progress-item-container
							.campaign-progress-icon
								img(src='/static/img/person.png')
							.campaign-progress-text-container
								p Campaign info
					.campaign-progress-item
						.progress-item-container
							.campaign-progress-icon
								img(src='/static/img/person.png')
							.campaign-progress-text-container
								p Post info
					.campaign-progress-item
						.progress-item-container
							.campaign-progress-icon
								img(src='/static/img/person.png')
							.campaign-progress-text-container
								p Influencer info
					.campaign-progress-item
						.progress-item-container
							.campaign-progress-icon
								img(src='/static/img/person.png')
							.campaign-progress-text-container
								p Review
			.create-campaign-information-container.col-sm-10
				.campaign-creation-step-container.campaign-info-container
					.create-step-wrapper
						.step-title-container
							h3 Campaign information
							p This is going to be some descriptive text that is going to let the business know why it is that we are in need of thius information from their business to make their campaign info corrext.
							.seperator-div
						.sides-container
							.row
								.left-side-creation-container.col-sm-6
									.creation-side-wrapper
										.campaign-image-container
											h4.section-header CAMPAIGN PHOTO
											.campaign-image-wrapper
								.right-side-creation-container.col-sm-6
									.creation-side-wrapper.right-wrapper
										.create-input-wrapper
											h4.section-header BRAND NAME
											input(type="text",value="Nutrishop", placeholder="Enter the name of the brand or company")
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header CAMPAIGN NAME
											input(type="text", placeholder="Enter the name of the campaign")
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header CAMPAIGN DESCRIPTION
											.content-editable(contenteditable="true",placeholder="Enter a brief description of your campaign")
							.bottom-action-buttons
								.next-button NEXT
			.create-campaign-information-container.col-sm-10
				.campaign-creation-step-container.campaign-info-container
					.create-step-wrapper
						.step-title-container
							h3 Post information
							p This is going to be some descriptive text that is going to let the business know why it is that we are in need of thius information from their business to make their campaign info corrext.
							.seperator-div
						.sides-container
							.row
								.left-side-creation-container.col-sm-6
									.creation-side-wrapper
										.create-input-wrapper
											h4.section-header CONTENT FROM INFLUENCER
											.content-editable(contenteditable="true",placeholder="Give a brief description of the content that you want from the influencer")
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header CALL TO ACTION
											input(type="text", placeholder="What do you want viewers of the post to do? (Visit shop, view website, etc.)")
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header TAGS
											input(type="text", placeholder="What tags do you want to be included in the post?")
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header COMPANY VIBE
											.company-vibe-pic-6-container
												.row
													.col-sm-4.pic-container
														p +
													.col-sm-4.pic-container
														p +
													.col-sm-4.pic-container
														p +
												.row
													.col-sm-4.pic-container
														p +
													.col-sm-4.pic-container
														p +
													.col-sm-4.pic-container
														p +
								.right-side-creation-container.col-sm-6
									.creation-side-wrapper.right-wrapper
										.create-input-wrapper
											h4.section-header PLATFORMS
											.platform-image-container
												img(src='/static/img/instagram-grey.png')
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header POSTING REQUIREMENTS
											.posting-requirements-div
												.check-box
												p In store posting
											.posting-requirements-div
												.check-box
												p Product delivery
											.posting-requirements-div
												.check-box
												p Stock promo pic
							.bottom-action-buttons
								.next-button.back-button BACK
								.next-button NEXT
			.create-campaign-information-container.col-sm-10
				.campaign-creation-step-container.campaign-info-container
					.create-step-wrapper
						.step-title-container
							h3 Influencer information
							p This is going to be some descriptive text that is going to let the business know why it is that we are in need of thius information from their business to make their campaign info corrext.
							.seperator-div
						.sides-container
							.row
								.left-side-creation-container.col-sm-6
									.creation-side-wrapper
										.create-input-wrapper
											h4.section-header AGE RANGE
											.age-select-container
												.age-select-wrapper.col-sm-5
													.select-age
														select
															option(value="") 16
															option(value="") 17
															option(value="") 18
															option(value="") 19
															option(value="") 20
															option(value="") 21
															option(value="") 22
															option(value="") 23
															option(value="") 24
															option(value="") 25
															option(value="") 26
															option(value="") 27
															option(value="") 28
															option(value="") 29
															option(value="") 30
															option(value="") 31
															option(value="") 32
															option(value="") 33
															option(value="") 34
															option(value="") 35
															option(value="") 36
															option(value="") 37
															option(value="") 38
															option(value="") 39
															option(value="") 40
															option(value="") 41
															option(value="") 42
															option(value="") 43
															option(value="") 44
															option(value="") 45
															option(value="") 46
															option(value="") 47
															option(value="") 48
															option(value="") 49
															option(value="") 50+
												.dash-container.col-sm-2
													p -
												.age-select-wrapper.col-sm-5
													.select-age
														select
															option(value="") 17
															option(value="") 18
															option(value="") 19
															option(value="") 20
															option(value="") 21
															option(value="") 22
															option(value="") 23
															option(value="") 24
															option(value="") 25
															option(value="") 26
															option(value="") 27
															option(value="") 28
															option(value="") 29
															option(value="") 30
															option(value="") 31
															option(value="") 32
															option(value="") 33
															option(value="") 34
															option(value="") 35
															option(value="") 36
															option(value="") 37
															option(value="") 38
															option(value="") 39
															option(value="") 40
															option(value="") 41
															option(value="") 42
															option(value="") 43
															option(value="") 44
															option(value="") 45
															option(value="") 46
															option(value="") 47
															option(value="") 48
															option(value="") 49
															option(value="") 50+
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header TARGET REGION
											input(type="text",placeholder="Where do you want influencers to be from?")
											.added-locations-container
												.location-container
													.location-icon-container.col-sm-1
														img(src='/static/img/showt-local-logo.png')
													p.col-sm-10 United States
													.delete-icon-container.col-sm-1
														img(src='/static/img/showt-local-logo.png')
								.right-side-creation-container.col-sm-6
									.creation-side-wrapper.right-wrapper
										.create-input-wrapper
											h4.section-header GENDER
											.gender-buttons-container
												.gender-buttons-wrapper
													.gender-button-container.col-sm-6
														.gender-button.male-button MALE
													.gender-button-container.col-sm-6
														.gender-button.female-button FEMALE
							.influencer-interest-container.create-input-wrapper-bottom
								.influencer-interest-wrapper
									h4.section-header INTERESTED IN
									.influencer-interest-type-container(data-bind="foreach: interestArray")
										.col-sm-3.interest-type-info-container
											.influencer-interest-picture-container(data-bind="style: {backgroundImage: backgroundImageHere}", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
											h3.interest-type(data-bind="text: interestType")
											.influencer-hover-container
											.influencer-clicked-container
												img.check-mark-box(src='/static/img/showt-local-favicon.png')
							.bottom-action-buttons
								.next-button.back-button BACK
								.next-button NEXT
			.create-campaign-information-container.col-sm-10.active-create-campaign-container
				.campaign-creation-step-container.campaign-info-container
					.create-step-wrapper
						.step-title-container
							h3 Review information
							p This is going to be some descriptive text that is going to let the business know why it is that we are in need of thius information from their business to make their campaign info corrext.
							.seperator-div
						.sides-container
							.row
								.left-side-creation-container.col-sm-6
									.creation-side-wrapper
										.create-input-wrapper
											h4.section-header SHOWTOUT POSTING
									.review-posting-container
										.create-input-wrapper
											.business-picture-container
												img(src='/static/img/connor.jpg')
											.business-information-container
												p Nutrishop
												p Posting title
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header CAMPAIGN DESCRIPTION
											p.review-p soifnsaudfh sadhfuias dif sdfh dsaiuhf isdahf uiadhsf iuahsfiu dsf sadif adhfiu ashdfiu sadhfiu sgfsbhvdfbdsfiu dhsufi sdnfu sbudaf ubsdiuf.
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header POSTING VIBE
											p.review-p soifnsaudfh sadhfuias dif sdfh dsaiuhf isdahf uiadhsf iuahsfiu dsf sadif adhfiu ashdfiu sadhfiu sgfsbhvdfbdsfiu dhsufi sdnfu sbudaf ubsdiuf.
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header CALL TO ACTION
											p.review-p soifnsaudfh This is going to be the call to action.
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header POSTING MOOD
											p.review-p soifnsaudfh sadhfuias dif sdfh dsaiuhf isdahf uiadhsf iuahsfiu dsf sadif adhfiu ashdfiu sadhfiu sgfsbhvdfbdsfiu dhsufi sdnfu sbudaf ubsdiuf.
										.create-insput-wrapper.create-input-wrapper-bottom
											h4.section-header PLATFORMS
											.platform-image-container
												img(src='/static/img/instagram-grey.png')
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header TAGS
											p.review-p @passengermobile
											p.review-p #passengermobile
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header POSTING TYPE
											p.review-p In-store posting
								.right-side-creation-container.col-sm-6
									.creation-side-wrapper.right-wrapper
										.create-input-wrapper
											h4.section-header CAMPAIGN IMAGE
											.campaign-image-wrapper
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header INFLUENCER INFORMATION
											.review-influencer-container
												p.review-title Age
												p.review-p 16-24
											.review-influencer-container
												p.review-title Gender
												p.review-p Male
										.create-input-wrapper.create-input-wrapper-bottom
											h4.section-header TARGET REGION
												p.review-p Fresno, Ca
												p.review-p Clovis, Ca
												p.review-p New York, NY
							.bottom-action-buttons
								.next-button FINISH
	include ./partials/_footer.jade
