html
	include ./partials/_dashboardHead.jade
	body
		include ./partials/_dashboardNav.jade

		#view
			.left
			.content
			block content
			.right
		section#home-feedback-section
			.feedback-section
				.top-title-container
					h3.edit-info-header Edit Info
				.middle-edit-container
				.bottom-buttons-container
					.button-container
						.cancel-button CANCEL
						.save-button SAVE

		//libs
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js")
		script(src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js")
		script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js")
		script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js")
		script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js")
		// script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		//custom js
		// script(src="/static/js/firebaseFuncs.js")
		script(src='/static/js/dashboardNav.js')
		script(src='/static/js/dashboard.js')
		block customJS
