extends ./layouts/_getStartedLayout.jade

block content
  include ./partials/_forgotPasswordSection.jade
  include ./partials/_logInSection.jade
  include ./partials/_signUpSection.jade
  section#get-started-section
    include ./partials/_businessNavigation.jade
    .get-started-top-section
      .get-started-top-section-center-container
        .get-started-wrapper
          h3 Grow your businesses as a Showt Local merchant.
          p From bringing more customers in to the door to growing your brand awareness at your local college, businesses use Showt Local to grow their business.
          .start-growing-button-container
            .start-growing-button Start growing
    .get-started-section
      .get-started-container
        .get-started-content-wrapper
          .step-number-container
            p 1
          h3.step-info-title Sign your business up 
          p.step-info-text Create a Showt Local account to create your first campaign and begin growing.
          .below-info-items-container
            .step-info-item.col-sm-4
              .step-info-item-wrapper
                .step-info-item-image-container
                  img(src="/static/img/flow-chart.png")
                h3 What is a campaign
                p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
            .step-info-item.col-sm-4
              .step-info-item-wrapper
                .step-info-item-image-container
                  img(src="/static/img/user-group.png")
                h3 Who can apply
                p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
            .step-info-item.col-sm-4
              .step-info-item-wrapper
                .step-info-item-image-container
                  img(src="/static/img/hand-shake.png")
                h3 We're here to help
                p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
    .get-started-section
      .get-started-container
        .get-started-content-wrapper
          .step-number-container
            p 2
          h3.step-info-title You find influencers & they find you
          p.step-info-text You find influential people on social media to help promote your brand and they find you at the same time.
          .below-info-items-container
            .step-info-item.col-sm-4
              .step-info-item-wrapper
                .step-info-item-image-container
                  img(src="/static/img/message-bubble.png")
                h3 Get in contact
                p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
            .step-info-item.col-sm-4
              .step-info-item-wrapper
                .step-info-item-image-container
                  img(src="/static/img/lock.png")
                h3 You control everything
                p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
    .get-started-section
      .get-started-container
        .get-started-content-wrapper
          .step-number-container
            p 3
          h3.step-info-title Influencers promote your business
          p.step-info-text These influential people post on behalf of your business to their audience, helping bring brand awareness and driving sales.
          .below-info-items-container
            .row
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/approval-checkbox.png")
                  h3 You approve the post
                  p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/person.png")
                  h3 Influencers submit the post
                  p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/pay.png")
                  h3 You pay the influencer
                  p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
            .row.row-2
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/bull-horn.png")
                  h3 Your business grows
                  p Thsidfisn iufhsu idbfuis bdh fusndf sb iusdfb iusbnf sdbfnsduifb siudf iusndf uisdf iubsadf sudif nsiudfbn siudfiu sbdfi nsiuf uiabiud fbnusabufi bsdif uisnd.
    .get-started-section
      .get-started-container
        .get-started-content-wrapper
          h3.step-info-title We are always here for you
          p.step-info-text We are here to make sure you have the absolute best experience possible. Whatever you need, we are here to help.
          .below-info-items-container
            .row
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/handle-with-care.png")
                  h3 Campaign help
                  p We are experts at creating the best possible campaign for influencer marketing. Our team of professionals can help you run the most successful campaign possible.
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/support.png")
                  h3 24/7 business support
                  p Our team is always available to take your support requests. Whenever you need help, have a questions or a recommendation, we are here.
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/trust.png")
                  h3 Built on trust
                  p Showt Local was built from the ground up on trust. Our partners and employees trust each other, our users trust us, and most importantly our merchants trust us to help them see results.
            .row.row-2
              .step-info-item.col-sm-4
                .step-info-item-wrapper
                  .step-info-item-image-container
                    img(src="/static/img/marketing-square.png")
                  h3 It's not just about growth
                  p Not only will we be helping your business grow, but you will be helping support a local cause in your community. We donate a part of our profits to our charity of choice in your community.
    .get-started-section.last-get-started-section
      .get-started-container
        .get-started-content-wrapper
          .start-growing-business-container
            h3 Start growing your business
            .sign-up-button-container
              .sign-up-button-get-started Sign up - it's free
  include ./partials/_footer.jade
