extends ./layouts/_benefitsLayout.jade

block content
  section#help-section
    .business-dashboard-nav-container
      .business-dashboard-nav-wrapper
        .navigation-left-side-container.col-sm-6
          .navigation-left-side-wrapper
            .showt-out-icon-container
              img(src='/static/img/showt-local-logo.png')
        .navigation-right-side-container.col-sm-6
          .navigation-right-side-wrapper
            ul.right-link-container
              li
                p.business-dash-link.home-link Home
    .help-top-section
      .help-top-section-center-container
        .help-wrapper
          h3 How can we help?
    .help-desktop-section-container
      .help-section-wrapper
        .help-section-question-type-container.col-sm-3
          .help-section-question-type-wrapper(data-bind="foreach: questionTypes")
            .question-type-container
              h3(data-bind="text: questionTypeTitle, click: $root.questionTypeClicked.bind($data, $index())")
        .help-section-answers-container.col-sm-9
          .help-section-answers-wrapper
            h3(data-bind="text: currentQuestionType")
            .help-title-divider
            .help-answers-questions-dropdown-container
              .help-answers-questions-dropdown-wrapper(data-bind="foreach: currentQuestionsAndAnswers")
                .question-dropdown-container
                  .question-container(data-bind="click: $root.questionClicked")
                    .dropdown-image-container.col-sm-1
                      img(src='/static/img/question-answer-icon.png')
                    .dropdown-question-container.col-sm-11
                      p(data-bind="text: question")
                  .answer-container.col-sm-11
                    p.answer-text(data-bind="text: answer")
    .help-mobile-section-container
      .help-section-wrapper
        .help-info-container
          h3 Making a lasting difference
          p The core value that we hold dear to our hearts here at Showt is to give everyone a voice. Whether this be the girl with 1,000 instagram followers or the small business just trying to stay alive, the playing field should be level enough for everyone to play. 
          p This is why we donate 5% of all of our profits to the Bill and Melinda Gates foundation to help inner city students get the schooling that they need and to help rid the world of many terrible diseases. There is no playing field that should be more even than that of life itself. By educating the youth and helping the sick, we again are giving everyone a voice and a chance. The bottom line is this: At Showt, we care.
          .seperator-div
  include ./partials/_footer.jade

block customJS
  script(src='/static/js/help.js')
