extends ./layout.pug

block content
	section#create-campaign-section
		.create-campaign-navigation-container
			.create-campaign-nav-left-container.col-sm-6
				.showt-logo-container
					img(src='/static/img/showt-local-favicon.png')
			.create-campaign-nav-right-container.col-sm-6
				ul.campaign-nav-links-container
					li.campaign-link
						a(href='/') Home
					li.campaign-link
						a(href='/how-it-works') How it works
		.create-campaign-help-container
			.create-campaign-help-wrapper
				p(data-bind="text: currentHelpText")
				.hero
		.view-influencer-container
			.view-influencer-wrapper
				img.exit-influencer-pop-up(src='/static/img/exit.png', data-bind="click: closeInfluencerPopUp")
				.personal-information-container
					.influencer-picture.col-sm-4
						img.influencer-selceted-image(data-bind="attr: {src: selectedInfluencerImage}")
					.influencer-text-information-container.col-sm-8
						p.influencer-selected-name(data-bind="text: selectedInfluencerName")
						.platform-container
							img.instagram-grey-icon(src='/static/img/instagram-grey.png')
							p.platform-username(data-bind="text: selectedInfluencerInstagram")
						.location-container
							img.location-icon(src='/static/img/location.png')
							p.influencer-selected-location(data-bind="text: selectedInfluencerLocation")
				.influencer-selected-data-container
					.data-container.col-sm-4
						p.influencer-selected-data-text(data-bind="text: selectedInfluencerFollowers")
						p.data-static-text Followers
					.data-container.col-sm-4
						p.influencer-selected-data-text(data-bind="text: selectedInfluencerEngagementRate")
						p.data-static-text Engagement rate
					.data-container.col-sm-4
						p.influencer-selected-data-text(data-bind="text: selectedInfluencerShowtScore")
						p.data-static-text.showt-score-text Showt score
						img.help-icon#help-icon-14.showt-score-help-icon(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
				.further-info-container
					.bottom-selected-contianer
						h3.bottom-selected-container-title.first-info-title About me
						p.about-me-text(data-bind="text: selectedInfluencerAboutMe")
					.bottom-selected-contianer
						h3.bottom-selected-container-title I'm interested in
					.bottom-selected-contianer
						h3.bottom-selected-container-title I'm also interested in
		.create-campaign-information-container.active-create-campaign-container.select-influencer-step-container
							.campaign-creation-step-container.campaign-info-container
								.create-step-wrapper
									.step-title-container
										h3 Explore influencers
										p Our influencers are ready to promote your business to the thousands of people that follow them, giving you and your business exposure to the younger generation like never before.
										.seperator-div
									.influencers-found-container
										.influencer-found-wrapper(data-bind="foreach: influencerList")
											.influencer-found.col-sm-3
												.influencer-found-inner-container(data-bind="click: $root.addInfluencerToOrderList")
													.influencer-image-container
														img.influencer-found-image(data-bind="attr: {src: image}")
													.influencer-information-container
														p.influencer-found-name(data-bind="text: name")
														.influencer-found-location-container
															img.influencer-found-location-image(src='/static/img/location.png')
															p.influencer-found-location(data-bind="text: location")
													.showt-rating-container.col-sm-6
														.platform-followers-container
															img.instagram-orange(src='/static/img/instagram-orange.png')
															p.influencer-found-rating(data-bind="text: instagramFollowersText")
														p.influencer-rating-text Followers
													.showt-rating-container.col-sm-6
														.platform-followers-container
															p.influencer-found-rating.showt-score-text.showt-list-text(data-bind="text: showtScore")
														p.influencer-rating-text Showt score
													p.influencer-price(data-bind="text: showtPriceText")
													p.influencer-rating-text Per post
												.hire-me-button(data-bind="click: $root.showInfluencerInformation") More info
		.create-campaign-information-container
			.campaign-creation-step-container.campaign-info-container
				.create-step-wrapper
					.step-title-container
						h3 Create campaign
						p To run a successful campaign you must have the perfect match when it comes to influencers who are representing your company. Fill out the information below and we will give you a list of the best influencers for you and your company.
						.seperator-div
					.sides-container
						.row
							.left-side-creation-container.col-sm-6
								.creation-side-wrapper
									.create-input-wrapper
										h4.section-header CAMPAIGN NAME
										img.help-icon#help-icon-3(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										input(type="text", placeholder="Enter the name of the campaign", data-bind="textInput: campaignName")
										p.error-message(data-bind="visible: showCampainErrorMessage") Please enter a name for your campaign
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CAMPAIGN BUDGET
										input(type="text", placeholder="How much money do you want to spend", data-bind="textInput: campaignBudget")
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header CAMPAIGN DEADLINE
										img.help-icon#help-icon-15(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.age-select-container
											.age-select-wrapper.col-sm-5
												.select-age
													select(data-bind="value: deadlineMonth")
														option(value="1") January
														option(value="2") February
														option(value="3") March
														option(value="4") April
														option(value="5") May
														option(value="6") June
														option(value="7") July
														option(value="8") August
														option(value="9") September
														option(value="10") October
														option(value="11") November
														option(value="12") December
											.age-select-wrapper.col-sm-3
												.select-age
													select(data-bind="value: deadlineDay")
														option(value="1") 1
														option(value="2") 2
														option(value="3") 3
														option(value="4") 4
														option(value="5") 5
														option(value="6") 6
														option(value="7") 7
														option(value="8") 8
														option(value="9") 9
														option(value="10") 10
														option(value="11") 11
														option(value="12") 12
														option(value="13") 13
														option(value="14") 14
														option(value="15") 15
														option(value="16") 16
														option(value="17") 17
														option(value="18") 18
														option(value="19") 19
														option(value="20") 20
														option(value="21") 21
														option(value="22") 22
														option(value="23") 23
														option(value="24") 24
														option(value="25") 25
														option(value="26") 26
														option(value="27") 27
														option(value="28") 28
														option(value="29") 29
														option(value="30") 30
														option(value="31") 31
											.age-select-wrapper.col-sm-4
												.select-age
													select(data-bind="value: deadLineYear")
														option(value="2017") 2017
														option(value="2018") 2018
														option(value="2019") 2019
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header POSTING REQUIREMENTS
										img.help-icon#help-icon-9(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p In store posting
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p Product delivery
										.posting-requirements-div
											.check-box(data-bind="click: fillCheckBox")
											p Stock promo pic
									.create-input-wrapper.create-input-wrapper-bottom.target-region-input-container
										h4.section-header WHERE ARE YOU LOCATED?
										img.help-icon#help-icon-11(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.target-region-container
											.target-region.col-sm-6.fresno-region
												h3 Fresno, Ca
							.right-side-creation-container.col-sm-6
								.creation-side-wrapper.right-wrapper
									.create-input-wrapper
										h4.section-header GENDER
										img.help-icon#help-icon-12(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.gender-buttons-create-container
											.gender-buttons-create-wrapper
												.gender-button-create-container.col-sm-6
													.gender-button.male-button(data-bind="click: changeGender") MALE
												.gender-button-create-container.col-sm-6
													.gender-button.female-button(data-bind="click: changeGender") FEMALE
										p.error-message(data-bind="visible: showGenderErrorMessage") Please select a gender
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header AGE RANGE
										img.help-icon#help-icon-10(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.age-select-container
											.age-select-wrapper.col-sm-5
												.select-age
													select(data-bind="value: lowerAgeRange")
														option(value="16") 16
														option(value="17") 17
														option(value="18") 18
														option(value="19") 19
														option(value="20") 20
														option(value="21") 21
														option(value="22") 22
														option(value="23") 23
														option(value="24") 24
														option(value="25") 25
														option(value="26") 26
														option(value="27") 27
														option(value="28") 28
														option(value="29") 29
														option(value="30") 30
														option(value="31") 31
														option(value="32") 32
														option(value="33") 33
														option(value="34") 34
														option(value="35") 35
														option(value="36") 36
														option(value="37") 37
														option(value="38") 38
														option(value="39") 39
														option(value="40") 40
														option(value="41") 41
														option(value="42") 42
														option(value="43") 43
														option(value="44") 44
														option(value="45") 45
														option(value="46") 46
														option(value="47") 47
														option(value="48") 48
														option(value="49") 49
														option(value="50") 50+
											.dash-container.col-sm-2
												p -
											.age-select-wrapper.col-sm-5
												.select-age
													select(data-bind="value: upperAgeRange")
														option(value="17") 17
														option(value="18") 18
														option(value="19") 19
														option(value="20") 20
														option(value="21") 21
														option(value="22") 22
														option(value="23") 23
														option(value="24") 24
														option(value="25") 25
														option(value="26") 26
														option(value="27") 27
														option(value="28") 28
														option(value="29") 29
														option(value="30") 30
														option(value="31") 31
														option(value="32") 32
														option(value="33") 33
														option(value="34") 34
														option(value="35") 35
														option(value="36") 36
														option(value="37") 37
														option(value="38") 38
														option(value="39") 39
														option(value="40") 40
														option(value="41") 41
														option(value="42") 42
														option(value="43") 43
														option(value="44") 44
														option(value="45") 45
														option(value="46") 46
														option(value="47") 47
														option(value="48") 48
														option(value="49") 49
														option(value="50") 50+
									.create-input-wrapper.create-input-wrapper-bottom
										h4.section-header TAGS
										img.help-icon#help-icon-7(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
										.tags-conatiner
											input.col-sm-10(type="text", placeholder="What tags would you link to be include in the post",data-bind="textInput: currentTag")
											.tags-plus-container.col-sm-2(data-bind="click: addTagToList")
												p +
										.tags-added-container(data-bind="foreach: tagsList")
											p.tag.col-sm-10(data-bind="text: tagName")
											.tags-subtracted-container(data-bind="click: $root.deleteTagFromTagList.bind($index())")
												p.col-sm-2 -
						.influencer-interest-container.create-input-wrapper-bottom
							.influencer-interest-wrapper
								h4.section-header INTERESTED IN
								img.help-icon#help-icon-13(src='/static/img/help.png', data-bind="event: { mouseover: showHelpPopUp, mouseout: hideHelpPopUp }")
								.influencer-interest-type-container(data-bind="foreach: interestArray")
									.col-sm-3.interest-type-info-container(data-bind="click: $root.addInterestToList")
										.influencer-interest-picture-container(data-bind="style: {backgroundImage: backgroundImageHere}", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
											.interests-review-layer
										h3.interest-type(data-bind="text: interestType")
										.influencer-hover-container
										.influencer-clicked-container
											img.check-mark-box(src='/static/img/checked-box-white.png')
						.bottom-action-buttons
							.next-button(data-bind="click: nextButtonClicked") FIND INFLUENCERS
		.create-campaign-information-container
			.create-step-wrapper
				.step-title-container
					h3 Review information
					p Review the information that you have submitted. On the left is what influencers are going to see and on the right is what only you yourself can see.
					.seperator-div
				.sides-container
					.row
						.left-side-creation-container.col-sm-6
							.creation-side-wrapper
							.review-posting-container
								.create-input-wrapper
									h4.section-header CAMPAIGN NAME
									p.review-p(data-bind="text: campaignName")
								.create-input-wrapper.create-input-wrapper-bottom(data-bind="visible: showCampaignBudget")
									h4.section-header CAMPAIGN BUDGET
									p.review-p(data-bind="text: campaignBudget")
								.create-input-wrapper.create-input-wrapper-bottom
									h4.section-header CAMPAIGN DEADLINE
									p.review-p(data-bind="text: campaignDeadline")
								.create-insput-wrapper.create-input-wrapper-bottom
									h4.section-header PLATFORMS
									.platform-image-container
										img(src='/static/img/instagram-grey.png')
								.create-input-wrapper.create-input-wrapper-bottom(data-bind="visible: showTagsList")
									h4.section-header TAGS
									.tags-container(data-bind="foreach: tagsList")
										p.review-p(data-bind="text: tagName")
								.create-input-wrapper.create-input-wrapper-bottom(data-bind="visible: showPostingType")
									h4.section-header POSTING TYPE
									p.review-p(data-bind="text: postingType")
						.right-side-creation-container.col-sm-6
							.creation-side-wrapper.right-wrapper
								.create-input-wrapper
									h4.section-header INFLUENCER INFORMATION
									.influencer-side-by-side-container
										.review-influencer-container
											p.review-title Age
											p.review-p(data-bind="text: ageRange")
										.review-influencer-container
											p.review-title Gender
											.gender-type-container(data-bind="foreach: genderList")
												p.review-p(data-bind="text: $data")
								.create-input-wrapper.create-input-wrapper-bottom(data-bind="visible: showTargetRegion")
									h4.section-header TARGET REGION
									p.review-p(data-bind="text: targetLocation")
								.create-input-wrapper.create-input-wrapper-bottom(data-bind="visible: showInterestsList")
									h4.section-header INTERESTS
									.influencer-interests-container.influencer-interests-container-review(data-bind="foreach: interestsAddedList")
										.interest-container-review.col-sm-6(data-bind="style: {backgroundImage: backgroundImageHere}", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
											.interests-review-layer
											h3(data-bind="text: interestType")
				.influencers-added-container.create-input-wrapper-bottom
					h4.section-header INFLUENCERS
					.influencers-added-wrapper(data-bind="foreach: influencersOrderList")
						.added-influencer.col-sm-4
							.added-influencer-image-container.col-sm-4
								img(data-bind="attr: {src: image}")
							.added-influencer-info.col-sm-8
								p.added-influencer-name(data-bind="text: name")
								p.added-influencer-instagram(data-bind="text: instagram")
								p.added-influencer-price(data-bind="text: showtPriceText")
				.sides-container
					.row
						.left-side-creation-container.col-sm-6
							.creation-side-wrapper
							.review-posting-container
								.create-input-wrapper
									h4.section-header POTENTIAL REACH
									p.potential-reach-text(data-bind="text: totalPotentialReach")
									p.potential-reach-p People on Instagram
						.right-side-creation-container.col-sm-6
							.creation-side-wrapper.right-wrapper
								.create-input-wrapper
									h4.section-header TOTAL COST
									p.total-cost-text(data-bind="text: '$' + totalCost()")
				.bottom-action-buttons
					.next-button(data-bind="click: backButtonClicked") BACK
					.next-button(data-bind="click: placeOrderButtonClicked") PLACE ORDER
block customJS
	script(src='/static/js/createCampaign.js')
