extends ./layout.jade

block content
	section#influencer-sign-up-section
		.influencer-sign-up-container
			.influencer-sign-up-wrapper
				.influencer-account-form-container
					.influencer-account-form-wrapper
						h3 Create your account
						p.account-text Start earning money from your social media accounts. Fill out the information below to get started. It's free!
						.influencer-information-form-container
							.influencer-input-container
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/email.png')
									input(type='email',placeholder='Email address', data-bind="textInput: influencerEmail, event: { keyup: influencerEmailTyping }")
								p.error-message(data-bind="visible: registerInfluencerEmailNotValidated") Please enter a valid email
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/user.png')
									input(type='text',placeholder='First name', data-bind="textInput: influencerFirstName, event: { keyup: influencerFirstNameTyping }")
								p.error-message(data-bind="visible: firstNameNotValidated") Please enter a first name
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/user.png')
									input(type='text',placeholder='Last name', data-bind="textInput: influencerLastName, event: { keyup: influencerLastNameTyping }")
								p.error-message(data-bind="visible: lastNameNotValidated") Please enter a last name
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/lock-grey.png')
									input(type='password',placeholder='Password', data-bind="textInput: influencerPassword, event: { keyup: influencerPasswordTyping }")
								p.error-message(data-bind="visible: passwordNotValidated") Please enter a password with at least 6 characters
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/phone.png')
									input(type='text',placeholder='Phone number', data-bind="textInput: influencerPhoneNumber, event: { keyup: influencerPhoneTyping }")
								p.error-message(data-bind="visible: phoneNumberNotValidated") Please enter a phone number using spaces, hyphens, and parentheses
							.birthday-select-container
								strong Birthday
								.select-container
									.col-sm-5.select-col
										.select
											select(data-bind="value: influencerBirthMonth")
												option(value="1") January
												option(value="2") February
												option(value="3") March
												option(value="4") April
												option(value="5") May
												option(value="6") June
												option(value="7") July
												option(value="8") August
												option(value="9") September
												option(value="10") October
												option(value="11") November
												option(value="12") December
									.col-sm-3.select-col
										.select
											select(data-bind="value: influencerBirthDay, foreach: daysOptionsList")
												option(data-bind="text: dayNumber, value: dayNumber")
									.col-sm-4.select-col
										.select
											select(data-bind="value: influencerBirthYear, foreach: yearOptionsList")
												option(data-bind="text: yearNumber, value: yearNumber")
							p.error-message(data-bind="visible: accountCreationFormNotValidated") Make sure to fill out all of the fields on this page.
							.sign-up-button-container-influencer
								.sign-up-button-influencer(data-bind="click: signUpUserButtonClicked") Sign Up
				.influencer-information-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Account information
						p.account-text Fill out the information below so we can find the best campaigns possible for you. We recommend you be as detailed as possible so that you can have the most success.
							.sign-up-button-container-influencer
								.influencer-input
									.influencer-input-icon
										img(src='/static/img/instagram-grey.png')
									input(type='text',placeholder='Instagram username', data-bind="textInput: influencerInstagramName")
								.birthday-select-container
									strong Gender
									.gender-buttons-container
										.gender-button-container.col-sm-6
											.gender-button.male-button MALE
										.gender-button-container.col-sm-6
											.gender-button.female-button FEMALE
							.sign-up-button-container-influencer
								.birthday-select-container
									strong Interests
									p.interest-explanation-text Select the types of companies below that you would like to represent the most. Select all that apply.
									.interests-container(data-bind="foreach: interests")
										.col-sm-6.interest-container(data-bind="click: $root.addInterestTypeToList.bind($data, $index())")
											.interest-wrapper(data-bind="style: {backgroundImage: interestImage}", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover; ")
												.interest-layer
												h3(data-bind="text: interestTitle")
												.interest-checked-layer
													img(src='/static/img/checked-box-white.png')
							.sign-up-button-container-influencer
								.birthday-select-container
									strong Tags
									p.interest-explanation-text Type in any other interests that you may have. This will allow us to better find the right businesses for you.
									.tags-container
										.tags-input-container
											.tags-input-wrapper
												.input-container.col-sm-10
													input(type="text",placeholder="Enter another interest of yours", data-bind='textInput: currentTag')
												.add-tag-button-container.col-sm-2(data-bind="click: addInfluencerTag")
													p +
									.added-tags-container(data-bind="foreach: influencerTagList")
										.added-tag-container
											.tag-title-container.col-sm-10
												p(data-bind="text: interestTitle")
											.tag-subtract-container.col-sm-2(data-bind="click: $root.deleteTagFromList.bind($data, $index())")
												p -
								p.error-message(data-bind="visible: accountInfoNotValidated") Please enter your instagram name and gender. We also highly recommend that you add some interests and tags so you can have the most success.
								.sign-up-button-influencer(data-bind="click: saveInformationUserButtonClicked") Finish
				.influencer-finish-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Account created
						p.account-text Thank you for creating an account with us at Showtlocal. One of our influencer specialists will be in contact with you within 24 hours to continue your Showtlocal journey to making money on social media.
						.sign-up-button-influencer.back-to-website-button BACK TO WEBSITE	
	section#download-app-business-section
		.download-app-business-container
			.sign-up-business-wrapper
				img.exit-download-app-business-container(src='/static/img/exit.png')
				h3.sign-up-business-text Download the app to get started
				.below-title-text-container
					p.below-title-text Thank you for entering your email.
				.download-app-store-button-container
					img.download-app-button-icon(src='/static/img/app-store-button.png')
	include ./partials/_forgotPasswordSection.jade
	include ./partials/_logInSection.jade
	include ./partials/_signUpSection.jade
	section#how-it-works-section
		.how-it-works-container
			.how-it-works-wrapper
				img.exit-how-it-works-container(src='/static/img/exit.png')
				h3.how-it-works-text Make money in 5 simple steps
				.5-steps-container
					.5-steps-wrapper
						.how-it-works-step.col-sm-2
							img(src="/static/img/app-store.png") 
							h3 Download the app
							p Download the Showt Local mobile app on the play store.
						.how-it-works-step.col-sm-2
							img(src="/static/img/job.png") 
							h3 Find a gig
							p Find a gig that you would like to promote and apply for it.
						.how-it-works-step.col-sm-2
							img(src="/static/img/thumbs-up.png") 
							h3 Get approved
							p If the business likes you and your account then they will approve you.
						.how-it-works-step.col-sm-2
							img(src="/static/img/create-post.png") 
							h3 Submit the post
							p Once you have been approved, submit your post to your social media account.
						.how-it-works-step.col-sm-2
							img(src="/static/img/get-paid.png") 
							h3 Get paid
							p As soon as you submit the post you will get paid the agreed upon amount.
	section#home
		.home-nav
			.home-nav-container
				.home-nav-wrapper
					.left-nav-container.col-sm-4
						.grow-your-business-button
							.grow-business-button-info-container
								p.business-button-icon.fa.fa-building-o
								p.grow-business-button-text Business login
					.middle-nav-container.col-sm-4
						.home-middle-nav-container
							img(src='/static/img/showt-local-logo.png')
					.last-nav-container.col-sm-4
		.home-container
			.home-middle-info-container
				.home-middle-container-wrapper
					h3.showt-local-title Become influential.
					.homepage-button-container
						.homepage-button.influencer-button EARN EXTRA MONEY
						.homepage-button.business-button GROW YOUR BUSINESS
	include ./partials/_footer.jade
