extends ./layout.jade

block content
        header#home
          .header-content
            .header-content-inner
              img(src='/static/img/bglogowhite.png')
              p B&G Outfitters takes you on a once in a lifetime guided tour hunt in the majestic mountains of Northern California and Oregon
          p.learn-more-button-p Learn More
          a.page-scroll.learn-more-scroller(href='#about')
            img.learn-more-arrow(src='/static/img/arrow-down.png')
        section#about
          .about-people-expanded.about-people-expanded-billy
            .about-expanded-people-container
              img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/billy.jpg', alt='')
              h3.expanded-person-name Billy Bowles
              p.fa.fa-times.exit-person-expanded.exit-person-expanded-billy.exit-popup
              p.person-description-expanded
                | B&G Outfitters is a hunting company based out of Northern California that provides a variety of hunting services. The core of what we do is take you
                | on a guided tour hunt that is the experience of a lifetime. With over 40 years of experience of hunting in the Northern California and Oregon mountains,
                | you can be sure that you are in goods hands while on your hunt. We look forward to hunting with you!
              .gun-container
                img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/rifle-green.png', alt='')
                p.favorite-gun-text 12 Guage Shotgun
              .animal-container
                img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/duck-green.png', alt='')
                p.favorite-gun-text Canadian Geese
          .about-people-expanded.about-people-expanded-janell
            .about-expanded-people-container
              img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/janell.jpg', alt='')
              h3.expanded-person-name Janell Geringer
              p.fa.fa-times.exit-person-expanded.exit-person-expanded-janell.exit-popup
              p.person-description-expanded
                | B&G Outfitters is a hunting company based out of Northern California that provides a variety of hunting services. The core of what we do is take you
                | on a guided tour hunt that is the experience of a lifetime. With over 40 years of experience of hunting in the Northern California and Oregon mountains,
                | you can be sure that you are in goods hands while on your hunt. We look forward to hunting with you!
              .gun-container
                img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/arrow-green.png', alt='')
                p.favorite-gun-text Compound Bow
              .animal-container
                img.img-responsive.person-picture-div.expanded-person-picture(src='/static/img/deer-green.png', alt='')
                p.favorite-gun-text Elk
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading ABOUT
                p.text-faded
                  | B&G Outfitters is a hunting company based out of Northern California that provides a variety of hunting services. The core of what we do is take you
                  | on a guided tour hunt that is the experience of a lifetime. With over 40 years of experience of hunting in the Northern California and Oregon mountains,
                  | you can be sure that you are in goods hands while on your hunt. We look forward to hunting with you!
              .people-container
                .col-sm-6.person-div.text-center
                  a.portfolio-box.text-center
                    img.img-responsive.person-picture-div.billy-picture(src='/static/img/billy.jpg', alt='')
                  h3.about-hunt-title Billy
                  h3.about-hunt-time Co-Founder
                .col-sm-6.person-div.text-center
                  a.portfolio-box.text-center
                    img.img-responsive.person-picture-div.janell-picture(src='/static/img/janell.jpg', alt='')
                  h3.about-hunt-title Janell
                  h3.about-hunt-time Co-Founder
        section#hunting
          .hunt-location-popup
            .frame-container
              h3.hunt-animal-type(data-bind="text: animalNameAndDateForLocation")
              p.fa.fa-times.exit-person-expanded.exit-location-expanded-frame.exit-popup
              iframe(data-bind='attr: {src: locationFrameSRC}', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
            .hunt-location-expanded-container
              h3.hunt-animal-type(data-bind="text: hunt_type")
              p.fa.fa-times.exit-person-expanded.exit-location-expanded-hunt.exit-popup
              .animal-date-location-container(data-bind="foreach: locationsAnimals")
                .animal-date-container.col-sm-3(data-bind="click: $parent.specificAnimalClicked")
                  .animal-inside-date-container
                    h3.hunt-animal-type(data-bind='text: animalName')
                    h3.hunt-animal-price(data-bind="text: price")
            .hunt-location-dates-container
              h3.hunt-animal-type(data-bind="text: animalSelectedSpecific")
              p.fa.fa-times.exit-person-expanded.exit-location-expanded-dates.exit-popup
              .animal-date-location-container(data-bind="foreach: animalSelectedSpecificDates")
                .animal-date-container.col-sm-3(data-bind="click: $parent.openGoogleMaps")
                  .animal-inside-date-container
                    h3.hunt-animal-type.price-div(data-bind='text: date')
                    h3.hunt-animal-price.price-div(data-bind="text: city")
                    h3.hunt-animal-price.price-div(data-bind="text: state")
          .hunt-type-popup
            .hunt-type-expanded-container
              h3.hunt-animal-type(data-bind='text: hunt_type')
              p.hunt-animal-type-text(data-bind='text: hunt_description')
              p.fa.fa-times.exit-person-expanded.exit-person-expanded-hunt.exit-popup
              .types-of-animals-in-hunt(data-bind= "foreach: animalSelected")
                .hunt-clicked-animal-container.col-sm-3(data-bind="click: $parent.showSelectedAnimalDetails")
                  h3.hunt-animal-name(data-bind="text: animalName")
            .hunt-animal-selected-expanded-container
              p.fa.fa-times.exit-person-expanded.exit-person-expanded-hunt-final.exit-popup
              h3.animal-name(data-bind="text: finalAnimalSelectedName")
              h3.animal-price(data-bind="text: finalAnimalSelectedPrice")
              p.animal-description(data-bind="text: finalAnimalSelectedDescription")
          .container
            .row
            .col-lg-12.text-center
              h2.section-heading.hunting-heading HUNTING
              p.text-faded.hunting-text
                | We at B&G have been hunting in the Northern California & Oregon mountains for over 30 years. This has allowed us to gain the experience of the four animals that
                | we need to successfully take you on an amazing guided hunt that you won't forget. We offer wild pig, blacktail and mule deer, wild turkey, varmint, upland game and waterfowl hunts. All hunts are 100% fair chase
                | and fit anyone's hunting style. Below is the list of animals that we hunt and the time of year that we do guided tour hunts.
                | To get more information click on the animal, visit our FAQ page, or contact us!
            .hunt-explained-dialog
              h3.hunt-title Deer
              p.hunt-explained-text This is going to be the text of the animal that we are going to be portraying to the user so they can get a better idea of what it is.
              .row.buttons-row
                button.register-button-dialog REGISTER
                button.ok-button-dialog OK
            .row.hunting-type-container(data-bind='foreach: huntTypes')
              .col-sm-3.text-center
                .image-container
                  img.animal-image(data-bind='attr: {src: img}, click: $parent.huntItemClicked')
                h3.about-hunt-title(data-bind='text: animalType') DEER
                h3.about-hunt-time(data-bind='text: timeOfYear') SPRING
                h3.about-hunt-time.locations-text(data-bind='click: function(data,event) {$parent.locationClicked(data)}') Dates &amp; Locations
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading CONTACT
                .form-container
                  form#contact-form.simple_form.new_quote_request(action='/', method='post')
                    input(name='utf8', type='hidden', value='✓')
                    input(type='hidden', name='authenticity_token', value='A6vVgqnTtNvuksEFI0drl1m8a2HBDucqyzv47+Io/+G+xwBBjEAVKu6lQZBVnjh02Znr9p2KBNqxhBdTE10tqw==')
                    .__input-item.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                      .input-wrapper
                        label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                          abbr(title='required')
                          |  Name
                        input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='text', name='full_name', data-bind="textInput: name, event: { keyup: checkName }")
                        p.error-message.name-error(data-bind="visible: nameCheck") Please enter in a valid name.
                    .__input-item.input-item.email.required.quote_request_email.__input-item--half(aria-required='true')
                      .input-wrapper
                        label.form-label.email.required.control-label.__label(for='quote_request_email', aria-required='true')
                          abbr(title='required')
                          |  Email address
                        input#hire-email-input.text-input.string.email.required.__input(required='required', aria-required='true', type='email', name='email', data-bind='textInput: email, event: { keyup: checkEmail }')
                        p.error-message.email-error(data-bind="visible: emailCheck") Please enter in a valid email.
                    .__input-item.input-item.tel.required.quote_request_phone.__input-item--half(aria-required='true')
                      .input-wrapper
                        label.form-label.tel.required.control-label.__label(for='quote_request_phone', aria-required='true')
                          abbr(title='required')
                          |  Phone number
                        input#hire-phone-input.text-input.string.tel.required.__input(required='required', aria-required='true', type='tel', name='phone_number', data-bind='textInput: phoneNumber, event: { keyup: checkPhone }')
                        p.error-message.phone-number-error(data-bind="visible: phoneCheck") Please enter in a valid phone number starting with an area code and spaces between numbers
                    .__input-item.input-item.text.required.quote_request_company_about(aria-required='true')
                      .input-wrapper
                        label.form-label.text.required.control-label.__label(for='quote_request_company_about', aria-required='true')
                          abbr(title='required')
                          |  Subject
                        textarea#hire-company-info-input.text-input.text.required.__input(required='required', aria-required='true', name='subject', rows='1', style='overflow: hidden; word-wrap: break-word;', data-bind='textInput: subject, event: { keyup: checkSubject }')
                        p.error-message.company-info-error(data-bind="visible: subjectCheck") Make sure to enter in a descriptive subject
                    .__input-item.input-item.text.required.quote_request_project_about(aria-required='true')
                      .input-wrapper
                        label.form-label.text.required.control-label.__label(for='quote_request_project_about', aria-required='true')
                          abbr(title='required')
                          |  Message
                        textarea#hire-project-info-input.text-input.message-textarea.text.required.__input(required='required', aria-required='true', name='message', rows='1', style='overflow: hidden; word-wrap: break-word;', data-bind='textInput: message, event: { keyup: checkMessage }')
                        p.error-message.project-info-error(data-bind="visible: messageCheck") Please enter the message you would like to send
                    input.btn.__submit.contact-submit-button.js-submit(type='submit', value='Submit', data-bind='disable: isFormNotValidated')
            .row.contact-extra-types-container
              .extra-contact-types
                p Have any further questions or want to register for one of our exciting guided tour hunts? Give us a call using the number below we would love to hear from you!
                .phone-contact-div
                  img.img-responsive.person-picture-div(src='/static/img/phone-icon.png', alt='')
                  h3.extra-contact-title Call us
                  p.phone-number (541) 604-1261
        section#footer
          .container
            .row.register-container
              h3.footer-top-text Want to go on a guided tour hunt?
              h1.footer-register-button CALL US TODAY!
            .row.bottom-footer-row
              .col-sm-3.social-links-container
                .social-links
                  .col-sm-4.link-container
                    p.fa.fa-facebook-official.facebook
                  .col-sm-4.link-container
                    p.fa.fa-instagram.instagram
                  .col-sm-4.link-container
                    p.fa.fa-twitter.twitter
              .col-sm-6.footer-links-container
                .links-container
                  .col-sm-3.link-container
                    a.page-scroll(href='#home') HOME
                  .col-sm-3.link-container
                    a.page-scroll(href='#about') ABOUT US
                  .col-sm-3.link-container
                    a.page-scroll(href='#hunting') HUNTING
                  .col-sm-3.link-container
                    a.page-scroll(href='#contact') CONTACT
              .col-sm-3.copyright-container
                p &copy; 2016 B&G Outfitters Inc.
