extends ./layout.pug

block content
	section#influencer-sign-up-section
		.influencer-sign-up-container
			.influencer-sign-up-wrapper
				.influencer-account-form-container
					form#account-form
						.influencer-account-form-wrapper
							h3 Create your account
							p.account-text Start earning money from your social media accounts. Fill out the information below to get started. It's free!
							.influencer-information-form-container
								.influencer-input-container
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/email.png')
										input(type='email', name='email', placeholder='Email address', data-bind="textInput: influencerEmail, event: { blur: influencerEmailTyping }")
									p.error-message(data-bind="visible: registerInfluencerEmailNotValidated") Please enter a valid email
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/user.png')
										input(type='text', name='firstName', placeholder='First name', data-bind="textInput: influencerFirstName, event: { blur: influencerFirstNameTyping }")
									p.error-message(data-bind="visible: firstNameNotValidated") Please enter a first name
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/user.png')
										input(type='text', name='lastName', placeholder='Last name', data-bind="textInput: influencerLastName, event: { blur: influencerLastNameTyping }")
									p.error-message(data-bind="visible: lastNameNotValidated") Please enter a last name
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/lock-grey.png')
										input(type='password', name='password', placeholder='Password', data-bind="textInput: influencerPassword, event: { blur: influencerPasswordTyping }")
									p.error-message(data-bind="visible: passwordNotValidated") Please enter a password with at least 6 characters
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/phone.png')
										input(type='text', name='phone' placeholder='Phone number', data-bind="textInput: influencerPhoneNumber, event: { blur: influencerPhoneTyping }")
									p.error-message(data-bind="visible: phoneNumberNotValidated") Please enter a valid US phone number e.g. (559)123-4567
								.birthday-select-container
									strong Birthday
									.select-container
										.col-sm-5.select-col.birthday-month-select
											.select
												select(name='birthMonth', data-bind="value: influencerBirthMonth")
													option(value="January") January
													option(value="February") February
													option(value="March") March
													option(value="April") April
													option(value="May") May
													option(value="June") June
													option(value="July") July
													option(value="August") August
													option(value="September") September
													option(value="October") October
													option(value="November") November
													option(value="December") December
										.col-sm-3.select-col.birthday-month-select
											.select
												select(name='birthDay' data-bind="value: influencerBirthDay, foreach: daysOptionsList")
													option(data-bind="text: dayNumber, value: dayNumber")
										.col-sm-4.select-col.birthday-month-select
											.select
												select(name='birthYear' data-bind="value: influencerBirthYear, foreach: yearOptionsList")
													option(data-bind="text: yearNumber, value: yearNumber")
								p.error-message(data-bind="visible: accountCreationFormNotValidated") Make sure to fill out all of the fields on this page.
								.sign-up-button-container-influencer
									.sign-up-button-influencer(data-bind="click: signUpUser") Continue
				.influencer-information-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Account information
						p.account-text Fill out the information below so we can find the best campaigns possible for you. We recommend you be as detailed as possible so that you can have the most success.
							form#further-info
								.sign-up-button-container-influencer
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/instagram-grey.png')
										input(type='text',placeholder='Instagram username', data-bind="textInput: influencerInstagramName")
									.birthday-select-container
										strong Gender
										.gender-buttons-container
											.gender-button-container.col-sm-6
												.gender-button.male-button(data-gender='male' data-bind='click: setGender') MALE
											.gender-button-container.col-sm-6
												.gender-button.female-button(data-gender='female' data-bind='click: setGender') FEMALE
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Interests
										p.interest-explanation-text Select the types of companies below that you would like to represent the most. Select all that apply.
										.interests-container(data-bind="foreach: interests")
											.col-sm-6.interest-container
												.interest-wrapper(data-bind="style: {backgroundImage: interestImage}, click: $root.selectInterest", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover;")
													.interest-layer
													h3(data-bind="text: interestTitle")
													.interest-checked-layer
														img(src='/static/img/checked-box-white.png')
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Tags
										p.interest-explanation-text Type in any other interests that you may have. This will allow us to better find the right businesses for you.
										.tags-container
											.tags-input-container
												.tags-input-wrapper
													.input-container.col-sm-10
														input#tag-input(type="text", placeholder="Enter another interest of yours")
													.add-tag-button-container.col-sm-2(data-bind="click: addInfluencerTag")
														p +
										.added-tags-container(data-bind="foreach: influencerTagList")
											.added-tag-container
												.tag-title-container.col-sm-10
													p(data-bind="text: $data")
												.tag-subtract-container.col-sm-2(data-bind="click: $root.removeInfluencerTag")
													p -
									p.error-message(data-bind="visible: accountInfoNotValidated") Please enter your instagram name and gender. We also highly recommend that you add some interests and tags so you can have the most success.
									.sign-up-button-influencer(data-bind="click: finishCreatingAccount") Sign up
				.influencer-finish-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Account created
						p.account-text Thank you for creating an account with us at Showtlocal. One of our influencer specialists will review your account within 24 hours to continue your Showt journey to making money on social media.
						.sign-up-button-influencer.back-to-website-button(data-bind='click: exitSignUpPopUp') BACK TO WEBSITE
	section#home
		.home-nav
			.home-nav-container
				.home-nav-wrapper
					.left-nav-container.col-sm-6
						img(src='/static/img/showt-local-favicon.png')
					.last-nav-container.col-sm-6
						ul.home-navigation-container
							li.navigation-link
								a.earn-extra-money-link Earn extra money
							li.navigation-link
								a(href='/help') Help
							li.navigation-link
								a(href='/business/signup') Sign Up
							li.navigation-link
								a(href='/login') Log In
		.home-container
			.home-middle-info-container
				.home-middle-container-wrapper
					h3.showt-local-title Become influential.
					p.showt-local-text Showt gives you the opportunity to grow your business using the powers of influencer marketing like never before.
					.homepage-button-container
						.homepage-button.influencer-button LEARN MORE
	include ./partials/_footer.pug
block customJS
	script(src='/static/js/influencerSignUp.js')
	script(src='/static/js/home.js')
	script(src='/static/js/footer.js')
