extends ./layout.jade

block content
	section#forgot-password-business-section
		.forgot-password-business-container
			.sign-up-business-wrapper
				img.exit-forgot-password-business-container(src='/static/img/exit.png')
				h3.sign-up-business-text Enter your email to reset your password
				.below-title-text-container
					p.below-title-text Don't have a business account?
					p.below-title-text.download-the-app-button.sign-up-today-button Sign up today!
				.business-sign-up-container
					.input
						.input-container
							p.input-label Enter your email
							input#home-email-input(type='text')
					.log-in-button Send Email
	section#log-in-business-section
		.log-in-business-container
			.sign-up-business-wrapper
				img.exit-log-in-business-container(src='/static/img/exit.png')
				h3.sign-up-business-text Sign in to grow your business
				.below-title-text-container
					p.below-title-text Don't have a business account?
					p.below-title-text.download-the-app-button.sign-up-today-button Sign up today!
				.business-sign-up-container
					.input
						.input-container
							p.input-label Enter your email
							input#home-email-input(type='text')
					.input
						.input-container
							p.input-label Enter your password
							input#home-email-input(type='password')
					.log-in-button Log In
					.below-title-text-container
						p.below-title-text Forgot your password?
						p.below-title-text.download-the-app-button Reset it!
	section#sign-up-business-section
		.sign-up-business-container
			.sign-up-business-wrapper
				img.exit-sign-up-business-container(src='/static/img/exit.png')
				h3.sign-up-business-text Sign your business up in under 5 minutes
				.below-title-text-container
					p.below-title-text Not trying to sign up a business?
					p.below-title-text.download-the-app-button Download the app!
				.business-sign-up-container
					.input
						.input-container
							p.input-label Name of the business
							input#home-email-input(type='text')
					.double-input-container
						.input.first-name-input
							.input-container
								p.input-label First name
								input#home-email-input(type='text')
						.input.last-name-input
							.input-container
								p.input-label Last name
								input#home-email-input(type='text')
					.input
						.input-container
							p.input-label Enter your email
							input#home-email-input(type='text')
					.input
						.input-container
							p.input-label Phone number to contact you at
							input#home-email-input(type='text')
					.continue-button Continue
	section#how-it-works-section
		.how-it-works-container
			.how-it-works-wrapper
				img.exit-how-it-works-container(src='/static/img/exit.png')
				h3.how-it-works-text Make money in 5 simple steps
				.5-steps-container
					.5-steps-wrapper
						.how-it-works-step.col-sm-2
							img(src="/static/img/app-store.png") 
							h3 Download the app
							p Download the Showt Local mobile app on the play store.
						.how-it-works-step.col-sm-2
							img(src="/static/img/job.png") 
							h3 Find a gig
							p Find a gig that you would like to promote and apply for it.
						.how-it-works-step.col-sm-2
							img(src="/static/img/thumbs-up.png") 
							h3 Get approved
							p If the business likes you and your account then they will approve you.
						.how-it-works-step.col-sm-2
							img(src="/static/img/create-post.png") 
							h3 Submit the post
							p Once you have been approved, submit your post to your social media account.
						.how-it-works-step.col-sm-2
							img(src="/static/img/get-paid.png") 
							h3 Get paid
							p As soon as you submit the post you will get paid the agreed upon amount.
	section#home
		.home-nav
			.home-nav-container
				.home-nav-wrapper
					.left-nav-container.col-sm-6
						.grow-your-business-button
							.grow-business-button-info-container
								p.business-button-icon.fa.fa-building-o
								p.grow-business-button-text Are you a business?
					.last-nav-container.col-sm-6
						ul.right-home-nav-link-container
							li
								a.how-it-works-link.first-nav-link How Showt Local Works
							li
								a.sign-up-link.first-nav-link Sign Up
							li
								a.log-in-link Log In
		.home-container
			.home-middle-info-container
				.home-middle-container-wrapper
					img(src='/static/img/showt-local-logo.png')
					h3.showt-local-title Showt Local
					p.middle-container-middle-text Make money on social media
					p.center-container-text-overall Promote the businesses you already love to earn some extra money. Enter your email below to get started.
					form
						.input
							.input-container
								p.input-label Enter your email
								input#home-email-input(type='text')
					.submit-email-button Get started
					p.have-an-account-text Already have an account?
					p.download-the-app-button Download the app!
	include ./partials/_footer.jade
