extends ./layout.pug

block content
	section#influencer-edit-profile-section
		.influencer-sign-up-container
			.influencer-sign-up-wrapper
				.influencer-account-form-container
					form#account-form
						.influencer-account-form-wrapper
							h3 Edit profile
							p.account-text Edit the information for your Showt profile.
							.influencer-information-form-container
								.influencer-input-container
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/email.png')
										input(type='email', name='email', placeholder='Email address', data-bind="textInput: influencerEmail, event: { blur: influencerEmailTyping }")
									p.error-message(data-bind="visible: registerInfluencerEmailNotValidated") Please enter a valid email
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/user.png')
										input(type='text', name='firstName', placeholder='First name', data-bind="textInput: influencerFirstName, event: { blur: influencerFirstNameTyping }")
									p.error-message(data-bind="visible: firstNameNotValidated") Please enter a first name
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/user.png')
										input(type='text', name='lastName', placeholder='Last name', data-bind="textInput: influencerLastName, event: { blur: influencerLastNameTyping }")
									p.error-message(data-bind="visible: lastNameNotValidated") Please enter a last name
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/phone.png')
										input(type='text', name='phone' placeholder='Phone number', data-bind="textInput: influencerPhoneNumber, event: { blur: influencerPhoneTyping }")
									p.error-message(data-bind="visible: phoneNumberNotValidated") Please enter a valid US phone number e.g. (559)123-4567
									.influencer-input
										.influencer-input-icon
											img(src='/static/img/phone.png')
										input(type='text', name='location' placeholder='Where are you located?', data-bind="textInput: influencerLocation, event: { blur: influencerLocationBlur }")
									p.error-message(data-bind="visible: showLocationErrorMessage") Please enter your city and state e.g. Fresno, Ca
									.influencer-input
										textarea(type='text', name='description' placeholder='Give a brief description of yourself so businesses will get to know you better', data-bind="textInput: influencerDescription, event: { blur: influencerDescriptionTyping }")
									p.error-message(data-bind="visible: influencerDescriptionNotValidated") Please enter a more descriptive description of yourself
								.birthday-select-container
									strong Birthday
									.select-container
										.col-sm-5.select-col.birthday-month-select
											.select
												select(name='birthMonth', data-bind="value: influencerBirthMonth")
													option(value="January") January
													option(value="February") February
													option(value="March") March
													option(value="April") April
													option(value="May") May
													option(value="June") June
													option(value="July") July
													option(value="August") August
													option(value="September") September
													option(value="October") October
													option(value="November") November
													option(value="December") December
										.col-sm-3.select-col.birthday-month-select
											.select
												select(name='birthDay' data-bind="value: influencerBirthDay, foreach: daysOptionsList")
													option(data-bind="text: dayNumber, value: dayNumber")
										.col-sm-4.select-col.birthday-month-select
											.select
												select(name='birthYear' data-bind="value: influencerBirthYear, foreach: yearOptionsList")
													option(data-bind="text: yearNumber, value: yearNumber")
								p.error-message(data-bind="visible: accountCreationFormNotValidated") Make sure to fill out all of the fields on this page.
								.sign-up-button-container-influencer
									.sign-up-button-influencer(data-bind="click: changeInfluencerPersonalInformation") Continue
				.influencer-information-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Account information
						p.account-text Fill out the information below so we can find the best campaigns possible for you. We recommend you be as detailed as possible so that you can have the most success.
							form#further-info
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Gender
										.gender-buttons-container
											.gender-button-container.col-sm-6
												.gender-button.male-button(data-gender='male' data-bind='click: setGender') MALE
											.gender-button-container.col-sm-6
												.gender-button.female-button(data-gender='female' data-bind='click: setGender') FEMALE
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Interests
										p.interest-explanation-text Select the types of companies below that you would like to represent the most. Select all that apply.
										.interests-container.interests-container-edit-profile(data-bind="foreach: interests")
											.col-sm-6.interest-container
												.interest-wrapper(data-bind="style: {backgroundImage: interestImage}, click: $root.selectInterest", style="height: 75px; background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;	-o-background-size: cover;")
													.interest-layer
													h3(data-bind="text: interestTitle")
													.interest-checked-layer(data-bind="attr: { 'class': classInterestName}")
														img(src='/static/img/checked-box-white.png')
								.sign-up-button-container-influencer
									.birthday-select-container
										strong Tags
										p.interest-explanation-text Below is a list of interests that you currently have. Enter more or delete them to make your profile even better.
										.tags-container
											.tags-input-container
												.tags-input-wrapper
													.input-container.col-sm-10
														input#tag-input(type="text", placeholder="Enter another interest of yours")
													.add-tag-button-container.col-sm-2(data-bind="click: addInfluencerTag")
														p +
										.added-tags-container(data-bind="foreach: influencerTagList")
											.added-tag-container
												.tag-title-container.col-sm-10
													p(data-bind="text: $data")
												.tag-subtract-container.col-sm-2(data-bind="click: $root.removeInfluencerTag")
													p -
									p.error-message(data-bind="visible: accountInfoNotValidated") Please enter your instagram name and gender. We also highly recommend that you add some interests and tags so you can have the most success.
									.sign-up-button-influencer(data-bind="click: finishSavingInfluencerInformation") Finish
				.influencer-finish-sign-up-form-container
					.influencer-account-form-wrapper
						h3 Information saved
						p.account-text Your information has been saved successfully! Thank you for being a Showt influencer, it means the world to us!
						.sign-up-button-influencer.back-to-website-button(data-bind='click: exitInfluencerSavedInformation') BACK TO PROFILE
	section#influencer-private-profile-section
		.influencer-loading-screen
			.loading-screen-wrapper
				.loading
				p.loading-text Loading your information
		.influencer-profile-orders-container
			.influencer-profile-orders-wrapper
				.current-open-order-information-top
					.current-brand-logo-container
						img(data-bind="attr: {src: currentOpenBrandImage}")
					h3.current-brand-name(data-bind="text: currentOpenBrandName")
					p.current-campaign-name(data-bind="text: currentOpenCampaignName")
					p.current-campaign-description(data-bind="text: currentOpenCampaignDescription")
					p.current-campaign-price(data-bind="text: currentOpenCampaignPrice")
				.current-open-order-information-bottom
					.open-order-info-container
						p.order-info-header POSTING TYPE
						p.order-info-text(data-bind="text: currentOpenPostingType")
					.open-order-info-container
						p.order-info-header CONTENT NEEDED FROM YOU
						p.order-info-text(data-bind="text: currentOpenConentFromInfluencer")
					.open-order-info-container
						p.order-info-header CALL TO ACTION
						p.order-info-text(data-bind="text: currentOpenCallToAction")
					.open-order-info-container
						p.order-info-header TAGS
						.current-open-tags-container(data-bind="foreach: currentOpenTags")
							p.order-info-text(data-bind="text: $data")
					.open-order-info-container
						p.order-info-header PLATFORM
						img.platform-image(src='/static/img/instagram-grey.png')
					.open-order-info-container
						p.order-info-header VIBE PICS
						p.order-info-text This is where the vibe pics will be going
					.buttons-container
						.accept-deny-buttons-container(data-bind="visible: newOrderActivated")
							.col-sm-6.deny-button-container
								.deny-button(data-bind="click: denyOrder") Deny
							.col-sm-6.accept-button-container
								.accept-button(data-bind="click: approveOrder") Accept
						.close-details-buttons-container(data-bind="visible: detailsOrderActivated")
							.close-button(data-bind="click: closeCurrentOrder") Close
		.influencer-profile-not-finished-container(data-bind="visible: isProfileFinished")
			.influencer-profile-not-finished-wrapper
				h3 Complete your profile
				p Your Showt influencer profile has not yet been completed. In order to start receiving gigs from companies to start making money you must complete your account. Click the edit profile button after you exit this pop up.
				.complete-profile-button(data-bind="click: hideProfileNotFinished") Sounds good
		.influencer-profile-top-background-container
		.influencer-profile-bottom-container
			.influencer-profile-container
				.influencer-profile-wrapper
					.influencer-top-profile-information-container
						.influencer-top-profile-information-wrapper
							.influencer-profile-image-container.col-sm-3
								img.influencer-profile-image-private(data-bind="attr: {src: profileImage}, click: showFileInputWindow")
								p.update-profile-pic-text(data-bind="visible: showAddProfilePicText") Add a profile picture
								.save-profile-button(data-bind="click: saveProfileImageBackToFirebase, visible: showProfileSavedButton") SAVE
								input.profile-image-file-input(type='file', data-bind="event: { change: function() { uploadProfileImage($element.files[0]) } }")
							.influencer-profile-information-container.col-sm-9
								h3.influencer-name(data-bind="text: influencerName")
								.influencer-location-container
									img(src='/static/img/instagram-grey.png')
									p.influencer-location(data-bind="text: influencerInstagramName")
								.influencer-location-container
									img(src='/static/img/location.png')
									p.influencer-location(data-bind="text: influencerLocation")
								.influencer-ratings-container
									.influencer-data-container.col-sm-4
										p.influencer-reach(data-bind="text: influencerShowtReach")
										p.text Overall reach
									.influencer-data-container.col-sm-4
										p.influencer-reach(data-bind="text: influencerShowtEngagement")
										p.text Engagement rate
									.influencer-data-container.col-sm-4
										p.influencer-reach(data-bind="text: influencerShowtScore")
										p.text Showt influencer score
								.influencer-hire-button-container
									.influencer-hire-button(data-bind="click: editProfileButtonClicked") Edit Profile
						.influencer-about-work-buttons-container
							.about-button-container.col-sm-6
								.about-button.active-profile-link(data-bind="click: aboutButtonClicked") About
							.work-button-container.col-sm-6
								.work-button.inactive-profile-link(data-bind="click: workButtonClicked") Work
			.influencer-bottom-information-container
				.influencer-about-information-container
					.influencer-about-information-wrapper
						.about-me-container
							p.influencer-profile-section-heading About me
							p.about-me-text(data-bind="text: influencerDescription")
						.interests-container
							p.influencer-profile-section-heading I'm interested in
							.interest-images-container(data-bind="foreach: influencerInterestList")
								.interest-container.col-sm-3.interest-container-img(data-bind="css: interestClass")
									p.interest-type-text(data-bind="text: interestText")
						.further-interests-container.further-interests-container-private
							p.influencer-profile-section-heading I'm also interested in
							.interest-tags-container(data-bind="foreach: influencerTagList")
								p.tag-text.col-sm-3(data-bind="text: $data")
				.influencer-work-information-container
					.influencer-work-information-wrapper
						.new-job-offerings-container
							p.influencer-profile-section-heading New orders
							p.influencer-profile-explanation-text New orders are orders that have been sent to you by a company. You must accept the order to perform the job and make money.
							.new-work-loop-contianer(data-bind="foreach: newJobs")
								.row.gig-offering-row(data-bind="foreach: array")
									.previous-work-inner-container.col-sm-6
										.row
											.previous-work-image-container.col-sm-3
												img(src='/static/img/connor.jpg')
											.previous-work-text-container.col-sm-9
												.row
													p.gig-name.col-sm-9(data-bind="text: orderTitle")
													p.gig-cost.col-sm-3(data-bind="text: orderPrice")
												p.gig-description(data-bind="text: orderDescription")
												.view-gig-button(data-bind="click: $root.openNewOrder") Details
						.current-accepted-jobs-container
							p.influencer-profile-section-heading Current orders
							.current-work-loop-container(data-bind="foreach: currentJobs")
								.row.gig-offering-row(data-bind="foreach: array")
									.previous-work-inner-container.col-sm-6
										.previous-work-image-container.col-sm-3
											img(src='/static/img/connor.jpg')
										.previous-work-text-container.col-sm-9
											.row
												p.gig-name.col-sm-9(data-bind="text: orderTitle")
												p.gig-cost.col-sm-3(data-bind="text: orderPrice")
											p.gig-description(data-bind="text: orderDescription")
											.view-gig-button(data-bind="click: $root.openCurrentOrPreviousOrder") Details
						.previous-work-container
							.previous-work-wrapper
								p.influencer-profile-section-heading Previous orders
								.previous-work-loop-container(data-bind="foreach: previousJobs")
									.row.gig-offering-row(data-bind="foreach: array")
										.previous-work-inner-container.col-sm-6
											.previous-work-image-container.col-sm-3
												img(src='/static/img/connor.jpg')
											.previous-work-text-container.col-sm-9
												.row
													p.gig-name.col-sm-9(data-bind="text: orderTitle")
													p.gig-cost.col-sm-3(data-bind="text: orderPrice")
												p.gig-description(data-bind="text: orderDescription")
												.view-gig-button(data-bind="click: $root.openCurrentOrPreviousOrder") Details
block customJS
	script(src='/static/js/influencerPrivateProfile.js')
