extends ./layouts/inviteLayout.jade

block content
	section#invite-section
		.invite-nav-container
			.invite-nav-wrapper
				.invite-nav-logo-container
					.invite-nav-logo-wrapper
						img(src='/static/img/passenger-logo.png')
						p Passenger Mobile
		.invite-form-container
			.invite-form-wrapper
				.invite-form-top-container
					.invite-form-top-wrapper
						h3 YOU GET $3 IN SAVINGS
						p Welcome to Passenger Mobile, where you save money for driving safe.
						p.bottom-form-top-text Sign up now to claim your free gift!
				.invite-form-container-bottom
					.invite-form-wrapper-container
						.account-input-container
							h3 Account
							.invite-form-input-container
								p.invite-form-input-label Email *
								input.email-input(type="email",placeholder="name@example.com", data-bind="textInput: email, hasfocus: emailFocusVar")
								p.email-in-use-p Email is already in use. Please log in or contact support
							.invite-form-input-container
								p.invite-form-input-label Password *
								input.password-input(type="password",placeholder="At least 6 characters", data-bind="textInput: password, hasFocus: passwordFocus")
						.profile-input-container
							h3 Profile
							.invite-form-input-container
								p.invite-form-input-label Name *
								input.name-input(type="text",placeholder="Enter your full name", data-bind="textInput: fullName, hasFocus: fullNameFocus")
						.promo-code-input-container
							h3 Promotion code
							.invite-form-input-container
								p.invite-form-input-label Promotion code *
								input.promo-code-input(type="text",placeholder="Enter your promo code", data-bind="textInput: promotionCode", readonly)
						.submit-form-button-container
							.btn#submit-invite-form(data-bind="click: createAccountButtonClick") CREATE ACCOUNT
							.submission-error-message-container
								p.submission-error-message(data-bind="text: formErrorMessage")
						img#profileTemp(src="/static/img/profile_temp.png")
						canvas#myCanvas
	.submitting-form-container
		.inside-submit-container
			.loading
			p Creating your account
		.inside-submit-confirmed-container
			img(src='/static/img/checked.png')
			p We have successfully created your account. Click the button below for your device to download the app and start saving money.
			.app-store-buttons
				.col-sm-6.store-button-container
					.app-store-button-container
						img.ios-app-store-button(src='/static/img/app-store-button.png')
				.col-sm-6.store-button-container
					.app-store-button-container
						img(src='/static/img/google-play-badge.png')
