doctype html
html(lang="en")
	include ./partials/_head.pug
	body#page-top
		// include ./partials/_nav.pug
		block content

		script(src='/static/js/jquery.js')
		script(src='/static/js/knockout.js')
		// Bootstrap Core JavaScript
		script(src='/static/js/bootstrap.min.js')
		// Custom Theme JavaScript
		script(src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js")
		script(src='/static/js/GLOBALS.js')
		script(src='/static/js/magicForm.js')
		script(src='/static/js/auth.js')
		script(src='/static/js/site.js')

		block customJS
