doctype html
html(lang="en")
	include ./partials/_head.jade
	body#page-top
		// include ./partials/_nav.jade
		block content

		script(src='https://www.gstatic.com/firebasejs/3.5.3/firebase.js')
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-messaging.js")
		script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase-storage.js")
		script.
			// Initialize Firebase
			var config = {
			apiKey: "AIzaSyAB_7srux7eooXsASTMVwmIivnZyCB8Bfk",
			authDomain: "passenger-app.firebaseapp.com",
			databaseURL: "https://passenger-app.firebaseio.com",
			storageBucket: "firebase-passenger-app.appspot.com",
			messagingSenderId: "858298712957"
			};
			firebase.initializeApp(config);
		script(src="https://cdn.firebase.com/js/client/2.4.0/firebase.js")
		script(src='/static/js/jquery.js')
		script(src='/static/js/knockout.js')
		script(src='/static/js/moment.js')
		script(src='/static/js/fullcalendar.min.js')
		// Bootstrap Core JavaScript
		script(src='/static/js/bootstrap.min.js')
		// Plugins JavaScript
		script(src='/static/js/jquery.easing.min.js')
		script(src='/static/js/jquery.fittext.js')
		script(src='/static/js/wow.min.js')
		// Custom Theme JavaScript
		script(src='/static/js/passenger-site.js')
		script(src='/static/js/firebaseFuncs.js')
		script(src='/static/js/site.js')
		script(src='/static/js/contact.js')
		script(src='/static/js/help.js')
		script(src='/static/js/how-it-works.js')
		script(src='/static/js/footer.js')
		script(src='/static/js/merchants.js')
