extends ./loginLayout.jade

block content
        section#login
          h1.login-title Login
          .login-container
            form#contact-form.simple_form.new_quote_request
              input(name='utf8', type='hidden', value='✓')
              input(type='hidden', name='authenticity_token', value='A6vVgqnTtNvuksEFI0drl1m8a2HBDucqyzv47+Io/+G+xwBBjEAVKu6lQZBVnjh02Znr9p2KBNqxhBdTE10tqw==')
              .__input-item.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                .input-wrapper
                  label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                    abbr(title='required')
                    |  Email
                  input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='email', name='username', data-bind="textInput: username, event: { keyup: checkUsername }")
                  p.error-message.name-error(data-bind="visible: usernameCheck") Please enter a valid username
              .__input-item.input-item.email.required.quote_request_email.__input-item--half(aria-required='true')
                .input-wrapper
                  label.form-label.email.required.control-label.__label(for='quote_request_email', aria-required='true')
                    abbr(title='required')
                    |  Password
                  input#hire-email-input.text-input.string.email.required.__input(required='required', aria-required='true', type="password", name='password', data-bind='textInput: password, event: { keyup: checkPassword }')
                  p.error-message.email-error(data-bind="visible: passwordCheck") Please enter in a valid password
              input.btn.__submit.contact-submit-button.js-submit(data-bind="click: loginAdmin", type='submit', value='Login')
            p.forgot-password-text Forgot Password?
            .forgot-password-container
              .forgot-password-popup
                h3 Forgot Password
                form#contact-form.simple_form.new_quote_request
                  input(name='utf8', type='hidden', value='✓')
                  input(type='hidden', name='authenticity_token', value='A6vVgqnTtNvuksEFI0drl1m8a2HBDucqyzv47+Io/+G+xwBBjEAVKu6lQZBVnjh02Znr9p2KBNqxhBdTE10tqw==')
                  .password-first-stage
                    .__input-item.forgot-email-input-container.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                      .input-wrapper
                        label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                          abbr(title='required')
                          |  Email
                        input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='email', name='username', data-bind="textInput: forgotPasswordEmail, event: { keyup: checkForgotEmail }")
                        p.error-message.name-error(data-bind="visible: forgotEmailCheck") Please enter a valid email
                    input.btn.__submit.contact-submit-button.js-submit(type='submit', value='Send', data-bind="click: sendForgotEmail")
                  .password-final-stage
                    .__input-item.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                      .input-wrapper
                        label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                          abbr(title='required')
                          |  Enter the temp password
                        input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='text', name='username', data-bind="textInput: tempPassword")
                        p.error-message.name-error(data-bind="visible: forgotEmailCheck") Please enter a valid email
                    .__input-item.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                      .input-wrapper
                        label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                          abbr(title='required')
                          |  New password
                        input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='password', name='username', data-bind="textInput: newPassword")
                        p.error-message.name-error(data-bind="visible: forgotEmailCheck") Please enter a valid email
                    .__input-item.input-item.string.required.quote_request_full_name.input-item--first(aria-required='true')
                      .input-wrapper
                        label.form-label.string.required.control-label.__label(for='quote_request_full_name', aria-required='true')
                          abbr(title='required')
                          |  Confirm Password
                        input#hire-name-input.text-input.string.required.__input(required='required', aria-required='true', type='password', name='username', data-bind="textInput: newConfirmedPassword")
                        p.error-message.name-error(data-bind="visible: forgotEmailCheck") Please enter a valid email
                    input.btn.__submit.contact-submit-button.js-submit(type='submit', value='Finish', data-bind="click: sendForgotEmail")
