extends ./merchantLayout.jade

block content
	section.merchant-nav-container
		.merchant-top-nav-inner-container
			.merchant-top-nav-container
				.top-left-merchant-nav-container
					.phone-image
						img(src="/static/img/phone.png")
					p Sales +1 559 940 1330
				.top-right-merchant-nav-container
					.get-started-button-nav GET STARTED
		.merchant-bottom-nav-inner-container
			.merchant-bottom-nav-container
				.bottom-left-merchant-nav-container
					.passenger-logo-container
						img(src="/static/img/passenger-logo.png")
					p.passenger-name-text Passenger Mobile
				.bottom-right-merchant-nav-container
					.merchant-nav-link-container
						.merchant-link-container
							p.merchant-nav-link.link-one.what-is-it-nav-link WHAT IS IT?
							p.merchant-nav-link.link-one.benefits-link BENEFITS
							p.merchant-nav-link.home-nav-link HOME
	section#merchant-nav-mobile-container
		.merchant-bottom-nav-container-mobile
			.bottom-left-merchant-nav-container
				.passenger-logo-container
					img(src="/static/img/passenger-logo.png")
				p.passenger-name-text Passenger Mobile
			.bottom-right-merchant-nav-container
				.merchant-nav-link-container
					.merchant-link-container
						img.mobile-menu-item(src="/static/img/menu.png")
		.merchant-slide-down-container
			.top-left-merchant-nav-container
				.phone-image
					img(src="/static/img/phone.png")
				p Sales +1 559 940 1330
			.top-right-merchant-nav-container
				.get-started-button-nav GET STARTED
			.merchant-mobile-nav-link-container
				.merchant-mobile-link-container
					p.merchant-mobile-nav-link.what-is-it-nav-link-mobile WHAT IS IT?
					p.merchant-mobile-nav-link.benefits-link-mobile BENEFITS
					p.merchant-mobile-nav-link.home-nav-link HOME
	section#merchant-1
		.merchant-1-inner-container
			.merchant-1-left-info
				.merchant-1-left-info-inner
					h3 Grow your business using modern advertising tools
					p With Passenger Mobile's marketing and advertising platform you can grow your business and stay connected with your customers in ways that you never have before. Traditional advertising no longer works. Do something that does.
					.get-started-button-merchant-1 GET STARTED
			.merchant-1-right-info
				.merchant-1-right-image-container
	section#merchant-2
		.merchant-2-inner-container
			.passenger-logo-merchant-2-container
				img(src="/static/img/app_icon_large.png")
			h3.merchant-section-2-title What is Passenger Mobile?
			p.merchant-section-2-text Passenger Mobile is a mobile phone application that rewards people for driving safe. As our users drive around town they earn points. With these points we are partnering with businesses to offer discounts that our users can redeem their points for.
		.how-it-works-container-desktop
			.phone-container.col-sm-3
				img.how-image(src="/static/img/passenger-homescreen.png")
				h3.how-title-text Open the app
				p.how-text When you get into your car, open the Passenger app to begin monitoring your driving.
			.phone-container.col-sm-3
				img.how-image(src="/static/img/passenger-screen-locked.png")
				h3.how-title-text Lock your phone
				p.how-text Before your leave for your drive, lock your phone.
			.phone-container.col-sm-3
				img.how-image(src="/static/img/passenger-profile.png")
				h3.how-title-text Earn points
				p.how-text As you drive down the road you are going to earn points for every minute that you drive without using your phone.
			.phone-container.col-sm-3
				img.how-image(src="/static/img/passenger-rewards.png")
				h3.how-title-text Get rewards
				p.how-text Use these points to get discounts at your favorite spots in your area!
	section#merchant-3
		h3.merchant-3-title-1 Stop throwing your money away
		h3.merchant-3-title-2 using old marketing techniques that no longer work
		.merchant-3-section-container
			.merchant-3-section.merchant-section-info-1
				.inner-merchant-section
					h3.merchant-section-title Incentivise customers to come to your business
					.small-title-border
					p.merchant-section-text By offering rewards with us here at Passenger Mobile you give the customer an incentive, a reason to visit your business.
					p.merchant-section-text Unlike traditional advertising channels, users of Passenger Mobile are using the app to receive these discounts. Therefore, they are prime customers to bring to your business.
			.merchant-3-section
				.inner-merchant-section
					h3.merchant-section-title No upfront costs
					.small-title-border
					p.merchant-section-text It is completely free to have your business offering rewards on Passenger Mobile.
					p.merchant-section-text You pay us nothing to get started. This means that you can start your Passenger Mobile campaign right away without it costing you a dime.
			.merchant-3-section-right
				.inner-merchant-section
					h3.merchant-section-title Only pay for customers we bring you
					.small-title-border
					p.merchant-section-text The beauty of Passenger Mobile is that you only pay us if it works for you. 
					p.merchant-section-text This means that the only time that you pay us is when we bring you a paying customer to your store or website.
					p.merchant-section-text Other forms of advertising make you pay upfront even if you have no idea how it is going to work for your business.
			.merchant-3-section
				.inner-merchant-section
					h3.merchant-section-title Free visual marketing
					.small-title-border
					p.merchant-section-text Since there is no upfront cost to actually offering rewards on the app, your business gets free visual marketing.
					p.merchant-section-text Free visual marketing on the Passenger Mobile iOS app, Android app, and the Passenger Mobile website.
			.merchant-3-section-right
				.inner-merchant-section
					h3.merchant-section-title Support an amazing cause
					.small-title-border
					p.merchant-section-text Over 6,000 people are killed in the United States every single year due to distracted driving. 4,000 of these deaths are from people between the ages of 16-24.
					p.merchant-section-text We truly believe that Passenger Mobile is the solution to one of the nations most pressing problems.
					p.merchant-section-text You aren't just going to be growing your business. When you partner with us here at Passenger Mobile you are helping us save precious lives all across the country.
	section#merchant-4
		.merchant-4-inner-container
			.merchant-4-left 
				h3 We're on a mission to help businesses around the world grow.
			.merchant-4-right
				.sign-up-today-container
					.sign-up-today-button SIGN UP TODAY
	section#footer
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading.footer-heading Passenger
					h3.passenger-hash #passengerapp
				.social-icons-container
					.icon-container
						img(src='/static/img/facebook.png', data-bind='click: facebookClick')
					.icon-container
						img(src='/static/img/twitter.png', data-bind='click: twitterClick')
					.icon-container
						img(src='/static/img/youtube.png', data-bind='click: youtubeClick')
					.icon-container
						img(src='/static/img/instagram.png', data-bind='click: instagramClick')
					.icon-container
						img(src='/static/img/snapchat.png', data-bind='click: snapchatClick')
				.app-store-buttons
					.col-sm-6.store-button-container
						.app-store-button-container
							img.ios-app-store-button(src='/static/img/app-store-button.png')
					.col-sm-6.store-button-container
						.app-store-button-container
							img(src='/static/img/google-play-badge.png')
				p.coming-soon-text Android coming this summer
				.back-to-top-container.btn.btn-sm.page-scroll(data-bind="click: backToTopFooter")
					p Back to top
					img(src='/static/img/nav-right.png')
				h3.passenger-hash.copy-right-footer &copy
					span(data-bind="text: currentDate")
					| Spacebar Technologies, Inc.
