extends ./supportLayout.jade

block content
	header#home
		.header-content
			.header-content-inner
				h3.passenger-header Help Center
	section#support-home
		.support-top-info
			h3.support-home-title Passenger Support
			p.support-home-text This is going to be the text that is going to say something information and cool about the support system that we have here at Passenger!
		.help-items-container(data-bind="foreach: supportTopics")
			.help-block-container.col-sm-4
				.inside-help-block(data-bind="css: myClass, click: $parent.helpSectionClicked")
					.top-content-container
						.another-container
							img.help-section-img(data-bind="attr: {src: img}")
							h3.help-item-title(data-bind="text: title")
							p.help-item-text(data-bind="text: text")
					.learn-more-button
						p.learn-more-text Learn More
	section#support-download-app
		.download-app-container
			h3.support-download-title New to Passenger?
			p.support-download-text If this is your first time visiting us here at Passenger, we recommend that you download our mobile application to start earning points and getting discounts as soon as possible!
			.download-button
				p Download
	section#support-footer
		.container
			.row
				.col-lg-12.text-center
					h3.passenger-hash #passengerapp
				.social-icons-container
					.icon-container
						img(src='/static/img/facebook.png', data-bind='click: facebookClick')
					.icon-container
						img(src='/static/img/twitter.png', data-bind='click: twitterClick')
					.icon-container
						img(src='/static/img/youtube.png', data-bind='click: youtubeClick')
					.icon-container
						img(src='/static/img/instagram.png', data-bind='click: instagramClick')
					.icon-container
						img(src='/static/img/snapchat.png', data-bind='click: snapchatClick')
				.navigation-links-container
					ul.support-footer-nav-list
						li.nav-link-li
							a.nav-link(href="/") Home
						li.nav-link-li
							a.nav-link(href="/#what-is-it") What is it?
						li.nav-link-li
							a.nav-link(href="/#how-it-works") How it works
						li.nav-link-li
							a.nav-link(href="/#our-mission") Our mission
						li.nav-link-li
							a.nav-link(href="/#contact") Contact
				h3.passenger-hash.copy-right-footer &copy
					span.date-span(data-bind="text: currentDate")
					| Spacebar Technologies, Inc.
